<a href="https://colab.research.google.com/github/glaucohb/DSWP/blob/master/Desafio_Redes_Neurais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Passo 1 - Importar os dados
Pasta dos dados = C:\Users\02549299744\Desktop\Python_Sufis\Aulas NÃ©lio_Desafio RFB

Arquivos treinamento = https://raw.githubusercontent.com/glaucohb/DSWP/master/Dataframes/desafio_train.csv


Arquivos teste = https://raw.githubusercontent.com/glaucohb/DSWP/master/Dataframes/desafio_test.csv

In [34]:
import pandas as pd
X_treinamento_original = pd.read_csv('https://raw.githubusercontent.com/glaucohb/DSWP/master/Dataframes/desafio_train.csv', index_col ='id')
X_teste = pd.read_csv('https://raw.githubusercontent.com/glaucohb/DSWP/master/Dataframes/desafio_test.csv')
X_treinamento_original.shape

(11033, 62)

In [35]:
X_treinamento_original.head()

    cnae2 rf2       md1       md2       md3  ...  ind40  ind41  ind42  ind43  target
id                                           ...
0      86   i  0.090339  0.011256  0.111095  ...    0.0    0.0    0.0    0.0    True
1      18   z  0.005996  0.019476  0.124770  ...    0.0    0.0    0.0    0.0   False
2      74   z  0.000006  0.002902  0.110160  ...    0.0    0.0    0.0    0.0   False
3      49   q  0.000009  0.014526  0.120351  ...    0.0    0.0    0.0    0.0   False
4      47   i  0.000191  0.004042  0.111078  ...    0.0    0.0    1.0    0.5   False

[5 rows x 62 columns]

In [36]:
X_teste.shape

(1000, 62)

In [37]:
X_teste.head()

     id  cnae2 rf2       md1       md2  ...  ind39  ind40  ind41  ind42  ind43
0  3411     71   s  0.017485  0.004743  ...    0.0    0.0    0.0    0.0    0.0
1  2177     86   y  0.012269  0.005919  ...    0.0    0.0    0.0    0.0    0.0
2  8400     41   z  0.002325  0.001882  ...    0.0    0.0    0.0    0.0    0.0
3   464     58   z  0.022149  0.042115  ...    0.0    0.0    0.0    0.0    0.0
4  6672     86   p  0.011190  0.004536  ...    0.0    0.0    0.0    0.0    0.0

[5 rows x 62 columns]

## Criar o dataframe X_treinamento

In [38]:
X_treinamento = X_treinamento_original.copy()
X_treinamento.head(3)

    cnae2 rf2       md1       md2       md3  ...  ind40  ind41  ind42  ind43  target
id                                           ...
0      86   i  0.090339  0.011256  0.111095  ...    0.0    0.0    0.0    0.0    True
1      18   z  0.005996  0.019476  0.124770  ...    0.0    0.0    0.0    0.0   False
2      74   z  0.000006  0.002902  0.110160  ...    0.0    0.0    0.0    0.0   False

[3 rows x 62 columns]

In [44]:
X_treinamento.isna().sum()

cnae2       0
rf2         0
md1         0
md2         0
md3         0
         ...
ind40      34
ind41      34
ind42     599
ind43     599
target      0
Length: 62, dtype: int64

In [10]:
a = X_treinamento.dtypes
dfa = pd.DataFrame(a)
dfa

             0
cnae2    int64
rf2     object
md1    float64
md2    float64
md3    float64
...        ...
ind39  float64
ind40  float64
ind41  float64
ind42  float64
ind43  float64

[61 rows x 1 columns]

In [47]:
dfa[dfa[0] == 'int64']

           0
cnae2  int64

In [9]:
(dfa[0] == 'float64').sum()

59

In [13]:
dfa[dfa[0] == 'object']

          0
rf2  object

In [56]:
# Excluir a coluna object para ver se funciona
X_treinamento.drop(['rf2'],  axis=1, inplace = True)

In [45]:
# Excluir os NA
X_treinamento.dropna(inplace= True)

In [46]:
X_treinamento.shape

(10400, 62)

## Criar o dataframe Y_treinamento

In [47]:
Y_treinamento = X_treinamento['target']
X_treinamento.drop(['target'],  axis=1, inplace = True)
Y_treinamento.head()

id
0     True
1    False
2    False
3    False
4    False
Name: target, dtype: bool

In [48]:
Y_treinamento.shape

(10400,)

# Defindo os NeurÃ´nios
## NÃºmero de neurÃ´nios na camada de entrada (Input Layer):  NI 
NI = NÃºmero de colunas (ou variÃ¡veis) no dataframe.

## NÃºmero de neurÃ´nios na camada de saÃ­da (Output Layer):  NO 
Se a Rede Neural Ã© uma regressÃ£o, entÃ£o o nÃºmero de neurÃ´nios na Output Layer Ã© 1, pois o output de uma regressÃ£o Ã© um valor;
Se a Rede Neural Ã© uma classificaÃ§Ã£o e usamos uma funÃ§Ã£o de ativaÃ§Ã£o probabilÃ­stica (como softmax, por exemplo), entÃ£o o nÃºmero de neurÃ´nios na Output Layer Ã© igual ao nÃºmero de classes que queremos prever. Por exemplo, no problema de classificar espÃ©cies no dataframe IRIS temos 3 espÃ©cies (versicolor, virginica e setosa). Ao utilizarmos a funÃ§Ã£o de ativaÃ§Ã£o softmax, entÃ£o teremos 3 neurÃ´nios na Output Layer.

## NÃºmero de neurÃ´nios na camada escondida (Hidden Layer):  NH 
No entanto, o artigo How to choose the number of hidden layers and nodes in a feedforward neural network? sugere o uso da seguinte expressÃ£o:

NH=N/Î±(NI+NO) 

onde  N  Ã© o nÃºmero de instÃ¢ncias (linhas) do dataframe e  Î±  Ã© um nÃºmero entre 2 e 10, sendo que alguns experimentos com  Î±=2  produzem bons modelos sem overfitting. Para saber mais sobre esta expressÃ£o e sobre  Î± , sugiro a leitura do artigo mencionado.

## LOSS FUNCTION  L 
Como vimos anteriormente, nosso objetivo Ã© minimizar a Loss function atravÃ©s do Gradient Descent. Em outras palavras, esse processo de otimizaÃ§Ã£o busca, Ã  cada iteraÃ§Ã£o (epoch), atualizar os pesos  W  para reduzir a Loss Function. As Loss Function mais comuns sÃ£o:

* ClassificaÃ§Ã£o: cross-entropy (quando queremos probabilidades de cada observaÃ§Ã£o pertencer Ã  uma determinada classe).
    * ClassificaÃ§Ã£o binÃ¡ria: tf.keras.losses.BinaryCrossentropy();
 
## MÃTRICAS PARA MEDIR A PERFORMANCE DAS REDES NEURAIS
As mÃ©tricas medem a qualidade/performance das Redes Neurais e as principais sÃ£o:

* ClassificaÃ§Ã£o: Quanto maior a accuracy, melhor a performance da Rede Neural.

    *Accuracy   

## DROPOUT
Dropout significa ignorar aleatoriamente e temporariamente um percentual  p  de neurÃ´nios durante a fase de treinamento. Ao "ignorar", quero dizer que tais neurÃ´nios nÃ£o serÃ£o considerados durante os processos forward e backpropagation.

Dropout forÃ§a que a Rede Neural aprenda a partir dos dados, mas usando diferentes e aleatÃ³rios neurÃ´nios;

* Recomenda-se  p=0.20 .

## Vamos obedecer os steps a seguir para construir nossa Rede Neural:

1. Carregar as bibliotecas do Python e Tensorflow;
2. Carregar os dados para treinar a Rede Neural;
3. Definir a arquitetura da Rede Neural com Tensorflow/Keras;
4. Compilar a Rede Neural;
5. Ajustar a Rede Neural;
6. Avaliar a performance da Rede Neural;
7. _Fine tuning_ da Rede Neural;
8. Fazer PrediÃ§Ãµes com a Rede Neural;
9. ConclusÃµes.

## 1. Carregar as bibliotecas do Python e Tensorflow

In [49]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [50]:
# Asseurar que esta na versÃ£o 2.x
tf.__version__

'2.3.0'

In [51]:
# Definir o nÃºmero de casas decimais = 3
np.set_printoptions(precision = 3)

## 3. Definir a arquitetura

In [61]:
# NÃºmero de NeurÃ´nios na Input Layer:
N_I = X_treinamento.shape[1] # NÃºmero de variÃ¡veis/colunas da matriz de preditoras

# NÃºmero de neurÃ´nios na Output Layer:
N_O = 1

# NÃºmero de neurÃ´nios na Hidden Layer:
# useia fÃ³rmula
N_H = int(X_treinamento.shape[0]/(2*(N_I+N_O)))

# FunÃ§Ã£o de AtivaÃ§Ã£o da Hidden Layer:
FA_H = tf.keras.activations.sigmoid

# FunÃ§Ã£o de AtivaÃ§Ã£o da Output Layer
FA_O = tf.keras.activations.sigmoid

##### compilaÃ§Ã£o

# Algoritmo de otimizaÃ§Ã£o
algoritmo_otimizacao = tf.keras.optimizers.Adam() 

# A mÃ©trica para cÃ¡lculo do erro
loss_function = tf.keras.losses.MeanSquaredError() 

metrica_performance = [tf.keras.metrics.binary_accuracy]

In [62]:
RN = Sequential() # nome da Rede Neural
RN.add(Dense(units = N_H, 
             input_dim = N_I, 
             activation = FA_H, 
             kernel_constraint = tf.keras.constraints.UnitNorm()))
RN.add(Dense(units = N_O, activation = FA_O))

# Resumo da arquitetura da Rede Neural:
print(RN.summary())

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 85)                5185
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 86
=================================================================
Total params: 5,271
Trainable params: 5,271
Non-trainable params: 0
_________________________________________________________________
None

4. Compilar a Rede Neural;

In [63]:
RN.compile(optimizer = algoritmo_otimizacao, 
           loss = loss_function, 
           metrics = metrica_performance)

5. Ajustar a Rede Neural;

In [64]:
#  Comando modelo.fit(X_treinamento, y_treinamento, epochs):
hist = RN.fit(X_treinamento, Y_treinamento, epochs = 10)

Epoch 1/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1773 - binary_accuracy: 0.7587
Epoch 2/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1728 - binary_accuracy: 0.7592
Epoch 3/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1713 - binary_accuracy: 0.7586
Epoch 4/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1708 - binary_accuracy: 0.7588
Epoch 5/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1706 - binary_accuracy: 0.7592
Epoch 6/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1699 - binary_accuracy: 0.7602
Epoch 7/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1693 - binary_accuracy: 0.7617
Epoch 8/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1701 - binary_accuracy: 0.7622
Epoch 9/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1688 - binary_accuracy: 0.7629
Epoch 10/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1691 - binary_accuracy: 0.7626



6. Avaliar a performance da Rede Neural;
 Comando modelo.evaluate(X_teste, y_teste)

In [65]:
RN.evaluate(X_treinamento, Y_treinamento)

325/325 [==============================] - 0s 838us/step - loss: 0.1677 - binary_accuracy: 0.7640

[0.16773369908332825, 0.7640384435653687]

7. Fine tuning da Rede Neural;

#### EstratÃ©gias para melhorar a acurÃ¡cia da Rede Neural

Nossas alternativas sÃ£o:

* a. Aumentar o nÃºmero de neurÃ´nios na _Hidden Layer_;
* b. Aumentar o nÃºmero de _Hidden Layers_;
* c. Aumentar o nÃºmero de _Hidden Layers_ e o nÃºmero de neurÃ´nios;
* d. Alterar a funÃ§Ã£o de ativaÃ§Ã£o;
* e. Aumentar o nÃºmero de _epochs_;
* f. Alterar o algoritmo de otimizaÃ§Ã£o (_optimizer_);

#### 7.3. Definir a arquitetura da Rede Neural com Tensorflow/Keras

In [71]:
# NÃºmero de NeurÃ´nios na Input Layer:
N_I = X_treinamento.shape[1] # NÃO FOI ALTERADA!

# NÃºmero de neurÃ´nios na Output Layer:
N_O = 1 # NÃO FOI ALTERADA!

# VARIÃVEIS ALTERADAS:
# NÃºmero de neurÃ´nios na Hidden Layer:
N_H = 100

# FunÃ§Ã£o de AtivaÃ§Ã£o da Hidden Layer:
FA_H = tf.keras.activations.relu # ALTERADA!

# FunÃ§Ã£o de AtivaÃ§Ã£o da Output Layer
FA_O = tf.keras.activations.sigmoid # NÃO FOI ALTERADA!

In [72]:
RN = Sequential()
RN.add(Dense(units = N_H, input_dim = N_I, activation = FA_H, kernel_constraint = tf.keras.constraints.UnitNorm()))
RN.add(Dense(units = N_O, activation = FA_O))

print(RN.summary())

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 100)               6100
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 101
=================================================================
Total params: 6,201
Trainable params: 6,201
Non-trainable params: 0
_________________________________________________________________
None

 ## Compilar a Rede Neural

In [73]:
#algoritmo_otimizacao = tf.keras.optimizers.Adam()
algoritmo_otimizacao = tf.keras.optimizers.Adam(learning_rate=0.01, beta_1=0.9, beta_2=0.999, epsilon=1e-07, amsgrad=False, name= 'Adam')

loss_function = tf.keras.losses.MeanSquaredError()
metrica_performance = [tf.keras.metrics.binary_accuracy]

RN.compile(optimizer = algoritmo_otimizacao, loss = loss_function, metrics = metrica_performance)

#### 7.5. Ajustar a Rede Neural

In [74]:
RN.fit(X_treinamento, Y_treinamento, epochs = 10)

Epoch 1/10
325/325 [==============================] - 0s 1ms/step - loss: 0.2413 - binary_accuracy: 0.7575
Epoch 2/10
325/325 [==============================] - 0s 1ms/step - loss: 0.2411 - binary_accuracy: 0.7564
Epoch 3/10
325/325 [==============================] - 0s 1ms/step - loss: 0.2412 - binary_accuracy: 0.7588
Epoch 4/10
325/325 [==============================] - 0s 1ms/step - loss: 0.2412 - binary_accuracy: 0.7588
Epoch 5/10
325/325 [==============================] - 0s 1ms/step - loss: 0.2412 - binary_accuracy: 0.7587
Epoch 6/10
325/325 [==============================] - 0s 1ms/step - loss: 0.2409 - binary_accuracy: 0.7578
Epoch 7/10
325/325 [==============================] - 0s 1ms/step - loss: 0.2389 - binary_accuracy: 0.7568
Epoch 8/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1808 - binary_accuracy: 0.7575
Epoch 9/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1774 - binary_accuracy: 0.7591
Epoch 10/10
325/325 [==============================] - 0s 1ms/step - loss: 0.1748 - binary_accuracy: 0.7587


8. Fazer PrediÃ§Ãµes com a Rede Neural;

Comando RN.predict_classes(X_treinamento):

In [75]:
y_pred = RN.predict_classes(X_treinamento)
y_pred

WARNING:tensorflow:From <ipython-input-75-f9526947808b>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int32)

In [76]:
y_pred.shape

(10400, 1)