<a href="https://colab.research.google.com/github/Alencar2208/DSWP/blob/master/TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/7a/e8/b9d7104d3a4bf39924799067592d9e59119fcfc900a425a12e80a3123ec8/yfinance-0.1.55.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.1.4)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/bd/78/56a7c88a57d0d14945472535d0df9fb4bbad7d34ede658ec7961635c790e/lxml-4.6.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 9.5MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.11.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22618 sha256=b1c409593ea52b63c83855facae65404352164e7ed719b86f32a17ff514d4602
  Stored in directory: /root/.cache/pip/wheels/04/98/cc/2702a4242d60bdc14f48b4557c427ded1fe92aedf257d4565c
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.2 yfinance-0.1.55

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

In [9]:
df = yf.download(  'ITUB4.SA', start="2019-01-01", interval = "60m")
df

[*********************100%***********************]  1 of 1 completed

                                Open       High  ...  Adj Close     Volume
Datetime                                         ...
2019-01-02 10:00:00-02:00  35.439999  35.580002  ...  35.509998        0.0
2019-01-02 11:00:00-02:00  35.509998  35.680000  ...  35.639999  3211400.0
2019-01-02 12:00:00-02:00  35.619999  36.490002  ...  36.389999  3557000.0
2019-01-02 13:00:00-02:00  36.400002  36.930000  ...  36.830002  5624600.0
2019-01-02 14:00:00-02:00  36.840000  37.060001  ...  36.959999  3708700.0
...                              ...        ...  ...        ...        ...
2020-12-07 16:00:00-02:00  30.980000  31.000000  ...  30.889999  1693500.0
2020-12-08 11:00:00-02:00  30.440001  30.740000  ...  30.690001  2493900.0
2020-12-08 12:00:00-02:00  30.680000  31.080000  ...  31.040001  8651700.0
2020-12-08 13:00:00-02:00  31.030001  31.110001  ...  31.100000   804700.0
2020-12-08 13:10:47-02:00  31.100000  31.100000  ...  31.100000        0.0

[3261 rows x 6 columns]

In [10]:
df.to_csv('ITUB4.csv')