<a href="https://colab.research.google.com/github/cryssoga/DSWP/blob/master/total9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
!pip install category_encoders
!pip install update
import category_encoders as ce
from sklearn import preprocessing

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 3.2MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.17.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2
Collecting update
  Downloading https://files.pythonhosted.org/packages/9f/c4/dfe8a392edd35cc635c35cd3b20df6a746aacdeb39b685d1668b56bf819b/update-0.0.1-py2.py3-none-any.whl
Collecting style==1.1.0
  Downloading https://files.pythonhosted.org/packages/4c/0b/6be2071e20c621e7beb01b86e8474c2ec344a9750ba5315886f24d6e7386/style-1.1.0-py2.py3-none-any.whl
Installing collected packages: style, update
Successfully installed style-1.1.0 update-0.0.1

In [3]:
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

In [4]:
url_train = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/desafio_train.csv'
df_1 = pd.read_csv(url_train)
df_train = df_1.copy()
df_train.set_index('id',inplace=True)

url_test = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/desafio_test.csv'
df_2 = pd.read_csv(url_test)
df_test = df_2.copy()
df_test.set_index('id',inplace=True)
df_test['target'] = 2

f'"df_train.shape:":{df_train.shape}, "df_test.shape:": {df_test.shape}'

'"df_train.shape:":(11033, 62), "df_test.shape:": (1000, 62)'

In [5]:
df_total = pd.concat([df_train,df_test])
f'"df_total.shape:":{df_total.shape}'

'"df_total.shape:":(12033, 62)'

In [19]:
df_total.columns

Index(['cnae2', 'rf2', 'md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12', 'mc1', 'mc2', 'mc3', 'mc4', 'ind01',
       'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09',
       'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17',
       'ind18', 'ind19', 'ind20', 'ind21', 'ind22', 'ind23', 'ind24', 'ind25',
       'ind26', 'ind27', 'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33',
       'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40', 'ind41',
       'ind42', 'ind43', 'target'],
      dtype='object')

Tratamento dos CNAE

In [11]:
df_cnae = pd.read_csv('https://raw.githubusercontent.com/cryssoga/DSWP/master/Dataframes/cnae.csv')

In [12]:
df_cnae.head()

   cnae secao
0     1     A
1     2     A
2     3     A
3     4   NaN
4     5     B

In [13]:
df_cnae.set_index('cnae', inplace= True)

In [14]:
df_cnae.dtypes

secao    object
dtype: object

In [15]:
df_cnae.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', name='cnae')

In [16]:
df_cnae['secao'][2]

'A'

In [17]:
d_cnae = {}
for i in np.arange(1,len(df_cnae)):
    d_cnae[i]=df_cnae['secao'][i]

In [18]:
d_cnae

{1: 'A',
 2: 'A',
 3: 'A',
 4: nan,
 5: 'B',
 6: 'B',
 7: 'B',
 8: 'B',
 9: 'B',
 10: 'C',
 11: 'C',
 12: 'C',
 13: 'C',
 14: 'C',
 15: 'C',
 16: 'C',
 17: 'C',
 18: 'C',
 19: 'C',
 20: 'C',
 21: 'C',
 22: 'C',
 23: 'C',
 24: 'C',
 25: 'C',
 26: 'C',
 27: 'C',
 28: 'C',
 29: 'C',
 30: 'C',
 31: 'C',
 32: 'C',
 33: 'C',
 34: nan,
 35: 'D',
 36: 'E',
 37: 'E',
 38: 'E',
 39: 'E',
 40: nan,
 41: 'F',
 42: 'F',
 43: 'F',
 44: nan,
 45: 'G',
 46: 'G',
 47: 'G',
 48: nan,
 49: 'H',
 50: 'H',
 51: 'H',
 52: 'H',
 53: 'H',
 54: nan,
 55: 'I',
 56: 'I',
 57: nan,
 58: 'J',
 59: 'J',
 60: 'J',
 61: 'J',
 62: 'J',
 63: 'J',
 64: 'K',
 65: 'K',
 66: 'K',
 67: nan,
 68: 'L',
 69: 'M',
 70: 'M',
 71: 'M',
 72: 'M',
 73: 'M',
 74: 'M',
 75: 'M',
 76: nan,
 77: 'N',
 78: 'N',
 79: 'N',
 80: 'N',
 81: 'N',
 82: 'N',
 83: nan,
 84: 'O',
 85: 'P',
 86: 'Q',
 87: 'Q',
 88: 'Q',
 89: nan,
 90: 'R',
 91: 'R',
 92: 'R',
 93: 'R',
 94: 'S',
 95: 'S',
 96: 'S',
 97: 'T',
 98: nan}

In [21]:
df_total.head(1)

    cnae2 rf2  md1  md2  md3  md4  ...  ind39  ind40  ind41  ind42  ind43  target
id                                 ...
0      86   i  0.1  0.0  0.1  0.0  ...    0.0    0.0    0.0    0.0    0.0       1

[1 rows x 62 columns]

In [22]:
df_total['cnae_secao'] = df_total['cnae2'].replace(to_replace= d_cnae)

In [23]:
df_total[['cnae2','cnae_secao']]

      cnae2 cnae_secao
id
0        86          Q
1        18          C
2        74          M
3        49          H
4        47          G
...     ...        ...
8609     49          H
3384     45          G
8297     43          F
7556     86          Q
8582     62          J

[12033 rows x 2 columns]

In [ ]:
df_total.columns

Index(['cnae2', 'rf2', 'md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12', 'mc1', 'mc2', 'mc3', 'mc4', 'ind01',
       'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09',
       'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17',
       'ind18', 'ind19', 'ind20', 'ind21', 'ind22', 'ind23', 'ind24', 'ind25',
       'ind26', 'ind27', 'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33',
       'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40', 'ind41',
       'ind42', 'ind43', 'target', 'cnae_secao'],
      dtype='object')

In [24]:
df_total['mc1'].median()

0.0004738024075417711

In [25]:
l_categoricas = ['cnae2', 'rf2','cnae_secao']

In [26]:
l_ind_1 = ['ind01',
       'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09',
       'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17',
       'ind18', 'ind19', 'ind20', 'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33',
       'ind34', 'ind35', 'ind36', 'ind37', 'ind40', 'ind41']

In [27]:
l_ind_2 = ['ind21', 'ind22', 'ind23', 'ind24', 'ind25',
       'ind26', 'ind27','ind38', 'ind39',
       'ind42', 'ind43']

In [28]:
l_mc_1 = ['mc1','mc2','mc3']

In [29]:
l_mc_2 = ['mc4']

In [ ]:
df_total

,cnae2,rf2,md1,md2,md3,md4,md5,md6,md7,md8,...,ind36,ind37,ind38,ind39,ind40,ind41,ind42,ind43,target,cnae_secao
id,,,,,,,,,,,,,,,,,,,,,
0,86,i,0.1,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,Q
1,18,z,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,C
2,74,z,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,M
3,49,q,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,H
4,47,i,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.5,0,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8609,49,z,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,H
3384,45,v,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,G
8297,43,i,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,2,F
7556,86,s,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.5,2,Q
8582,62,z,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,J

Tratar NaNs

Grupo l_ind_1

In [30]:
df_total['l_ind_1_mv'] = 0

In [31]:
df_total['l_ind_1_mv'][df_total['ind01'].isna()] = 1

In [32]:
for i in l_ind_1:
    moda = df_total[i].mode()[0]
    df_total[i].fillna(value = moda, inplace=True)

Grupo l_ind_2

In [33]:
df_total['l_ind_2_mv'] = 0

In [34]:
df_total['l_ind_2_mv'][df_total['ind21'].isna()] = 1

In [35]:
for i in l_ind_2:
    moda = df_total[i].mode()[0]
    df_total[i].fillna(value = moda, inplace=True)

Grupo l_mc_1

In [36]:
df_total['l_mc_1_mv'] = 0

In [37]:
df_total['l_mc_1_mv'][df_total['mc1'].isna()] = 1

In [38]:
for i in l_mc_1:
    mediana = df_total[i].median()
    df_total[i].fillna(value = mediana, inplace=True)

In [39]:
df_total.isna().sum().sum()

0

In [40]:
df_total['mc4'].describe()

count   12033.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         1.0
Name: mc4, dtype: float64

In [41]:
for i in ['md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12','mc1','mc2','mc3','mc4']:
    print(i,len(df_total[i].unique()),df_total[i].max())

md1 9597 1.0
md2 11961 1.0
md3 11961 1.0000000000000002
md4 8901 1.0
md5 6107 1.0
md6 412 1.0
md7 11966 1.0
md8 11964 1.0
md9 9024 1.0
md10 6276 1.0
md11 370 1.0
md12 11966 1.0
mc1 10834 1.0
mc2 1632 1.0
mc3 8924 1.0
mc4 11413 1.0

In [42]:
df_total[['md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md6_o', 'md7_o', 'md8_o',
       'md9_o', 'md10_o', 'md11_o', 'md12_o','mc1_o','mc2_o','mc3_o','mc4_o']] = df_total[['md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12','mc1','mc2','mc3','mc4']].copy()

In [43]:
len(df_total.columns)

82

In [44]:
l_mc_outliers = ['md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md6_o', 'md7_o', 'md8_o',
       'md9_o', 'md10_o', 'md11_o', 'md12_o','mc1_o','mc2_o','mc3_o','mc4_o']

In [45]:
def f_normaliza(df_norm):
    #print(df_norm.type)
    from sklearn.preprocessing import StandardScaler
    from sklearn.preprocessing import MinMaxScaler
    modelo = MinMaxScaler()
    #df_norm = df_norm.reshape(-1, 1) 
    df_norm= modelo.fit_transform(df_norm)
    return df_norm

In [46]:
def f_trata_col(df):
    for i in l_mc_outliers:
        q1 = np.percentile(df[i],25)
        q3 = np.percentile(df[i],75)
        iqr = q3 - q1
        lim_inf = q1 - 1.5 * iqr
        lim_sup = q3 + 1.5 * iqr
        df[i][df[i] < lim_inf] = lim_inf
        df[i][df[i] > lim_sup] = lim_sup
    df[l_mc_outliers] = f_normaliza(df[l_mc_outliers])
    for i in l_mc_outliers:
        if df[i][df[i] == 0].shape == df[i].shape or df[i][df[i] == 1].shape == df[i].shape:
            df = df.drop(columns = i)
    df['rf2'] = df['rf2'].astype('category')
    df['cnae2'] = df['cnae2'].astype('category')
    df['cnae_secao'] = df['cnae_secao'].astype('category')
    #df = pd.get_dummies(df)
    return df

In [47]:
df_total = f_trata_col(df_total)

In [48]:
df_total.columns

Index(['cnae2', 'rf2', 'md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12', 'mc1', 'mc2', 'mc3', 'mc4', 'ind01',
       'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09',
       'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17',
       'ind18', 'ind19', 'ind20', 'ind21', 'ind22', 'ind23', 'ind24', 'ind25',
       'ind26', 'ind27', 'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33',
       'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40', 'ind41',
       'ind42', 'ind43', 'target', 'cnae_secao', 'l_ind_1_mv', 'l_ind_2_mv',
       'l_mc_1_mv', 'md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md7_o',
       'md8_o', 'md9_o', 'md10_o', 'md12_o', 'mc1_o', 'mc3_o', 'mc4_o'],
      dtype='object')

In [49]:
df_total.to_csv('total_9.csv',index = True, sep = ',')