<a href="https://colab.research.google.com/github/cryssoga/DSWP/blob/master/TrainTest_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [171]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [ ]:
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

In [172]:
url_train = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/desafio_train.csv'
df_train = pd.read_csv(url_train)
df_train.set_index('id',inplace=True)

In [173]:
url_test = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/desafio_test.csv'
df_test = pd.read_csv(url_test)
df_test.set_index('id',inplace=True)

In [174]:
df_cnae = pd.read_csv('https://raw.githubusercontent.com/cryssoga/DSWP/master/Dataframes/cnae.csv')
df_cnae.set_index(['cnae'], inplace= True)

In [175]:
f'"df_train.shape:":{df_train.shape}, "df_test.shape:": {df_test.shape}'

'"df_train.shape:":(11033, 62), "df_test.shape:": (1000, 61)'

In [176]:
# função que cria em df a coluna 'cnae_secao' com a seção correspondente à variável 'cnae2' existente em df:
def cria_cnae_secao(df):
    df['cnae_secao'] = df['cnae2'].replace(to_replace= d_cnae)
    return df

In [181]:
def drop_colunas(df):
  l_colunas_excluir = ['ind10', 'ind11', 'ind16','ind29', 'ind30','ind33', 'ind40', 'ind41', 'cnae2','rf2']
  df.drop(l_colunas_excluir, axis=1,inplace=True)
  return df

In [178]:
# Aplica as funções cria_cnae_secao e drop_colunas:

df_train = cria_cnae_secao(df_train)
df_test = cria_cnae_secao(df_test)

df_train = drop_colunas(df_train)
df_test = drop_colunas(df_test)

In [186]:
df_train.to_csv('train_01.csv',index = True, sep = ',')
df_test.to_csv('test_01.csv',index = True, sep = ',')

l_categorica = ['cnae_secao', 'ind28', 'ind31', 'ind32', 'ind34',  'ind35', 'ind36', 'ind37', 'ind39', 'ind42', 'ind43']

In [184]:
df_test.columns

Index(['md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8', 'md9', 'md10',
       'md11', 'md12', 'mc1', 'mc2', 'mc3', 'mc4', 'ind01', 'ind02', 'ind03',
       'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09', 'ind12', 'ind13',
       'ind14', 'ind15', 'ind17', 'ind18', 'ind19', 'ind20', 'ind21', 'ind22',
       'ind23', 'ind24', 'ind25', 'ind26', 'ind27', 'ind28', 'ind31', 'ind32',
       'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind42', 'ind43',
       'cnae_secao'],
      dtype='object')

Tratamento dos CNAE

In [5]:
# cnae.csv : arquivo csv que contém número da divisão ('cnae') e letra da seção do cnae ('secao'), exemplificando:
# secao: C => indústria de transformação,
    # divisão: 10 => fabricação de produtos alimentícios 
    # divisão: 11 => fabricação de bebidas
# são 21 seções (A-U) totalizando 99 divisões
# df_cnae: dataframe indexado pela divisão 'cnae':
df_cnae = pd.read_csv('https://raw.githubusercontent.com/cryssoga/DSWP/master/Dataframes/cnae.csv')
df_cnae.set_index(['cnae'], inplace= True)
f'"df_cnae.shape:":{df_cnae.shape}'

'"df_cnae.shape:":(99, 1)'

In [ ]:
df_cnae.head()

     secao
cnae
1        A
2        A
3        A
4      NaN
5        B

In [ ]:
df_cnae.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', name='cnae')

In [6]:
# criando dicionário d_cnae a partir de df_cnae, com as 99 divisões correspondentes às 11 seções:
d_cnae = {}
for i in np.arange(1,len(df_cnae)):
    d_cnae[i]=df_cnae['secao'][i]

In [ ]:
d_cnae

In [7]:
# função que cria em df a coluna 'cnae_secao' com a seção correspondente à variável 'cnae2' existente em df:
def cria_cnae_secao(df):
    df['cnae_secao'] = df['cnae2'].replace(to_replace= d_cnae)
    return df

In [75]:
l_train_unique = []
for i in df_train.columns:
  l_train_unique.append(len(df_train[i].unique()))
  #print("coluna:", i, " - len(df_train[i].unique()):", len(df_train[i].unique()))

df_train_unique = pd.DataFrame(zip(df_train.columns,l_train_unique))
df_train_unique

         0      1
0    cnae2     80
1      rf2     10
2      md1   8829
3      md2  10968
4      md3  10967
..     ...    ...
57   ind40      3
58   ind41      3
59   ind42      3
60   ind43      4
61  target      2

[62 rows x 2 columns]

In [76]:
#df_train_unique.rename(columns={0:'coluna',1:'qtde_unique'})
df_train_unique = df_train_unique.set_index(0).T
df_train_unique.rename(index={1:'qtde_unique'},inplace=True)
df_train_unique

0            cnae2  rf2   md1    md2    md3  ...  ind40  ind41  ind42  ind43  target
qtde_unique     80   10  8829  10968  10967  ...      3      3      3      4       2

[1 rows x 62 columns]

In [47]:
l_sup10500 = []
for i in df_train.columns:
  if df_train[i].value_counts()[0] >10500:
    l_sup10500.append(i)
    print("coluna: ", i, "df_train[coluna].value_counts()[0]: ",  df_train[i].value_counts()[0])# "diferença = ",df_train.shape[0] - df_train[i].value_counts()[0])
print("lista com df_train[coluna].value_counts()[0] superior a 10.500: ", l_sup10500)

coluna:  md6 df_train[coluna].value_counts()[0]:  10654
coluna:  md11 df_train[coluna].value_counts()[0]:  10694
coluna:  ind09 df_train[coluna].value_counts()[0]:  10602
coluna:  ind10 df_train[coluna].value_counts()[0]:  10954
coluna:  ind11 df_train[coluna].value_counts()[0]:  10978
coluna:  ind15 df_train[coluna].value_counts()[0]:  10703
coluna:  ind16 df_train[coluna].value_counts()[0]:  10941
coluna:  ind17 df_train[coluna].value_counts()[0]:  10812
coluna:  ind18 df_train[coluna].value_counts()[0]:  10947
coluna:  ind28 df_train[coluna].value_counts()[0]:  10916
coluna:  ind29 df_train[coluna].value_counts()[0]:  10983
coluna:  ind30 df_train[coluna].value_counts()[0]:  10993
coluna:  ind40 df_train[coluna].value_counts()[0]:  10996
coluna:  ind41 df_train[coluna].value_counts()[0]:  10998
lista com df_train[coluna].value_counts()[0] superior a 10.500:  ['md6', 'md11', 'ind09', 'ind10', 'ind11', 'ind15', 'ind16', 'ind17', 'ind18', 'ind28', 'ind29', 'ind30', 'ind40', 'ind41']

In [71]:
l_sup10700 = []
for i in df_train.columns:
  if df_train[i].value_counts()[0] >10700:
    l_sup10700.append(i)
    print("coluna: ", i, "df_train[coluna].value_counts()[0]: ",  df_train[i].value_counts()[0])# "diferença = ",df_train.shape[0] - df_train[i].value_counts()[0])
print("lista com df_train[coluna].value_counts()[0] superior a 10.700: ", l_sup10700)

coluna:  ind10 df_train[coluna].value_counts()[0]:  10954
coluna:  ind11 df_train[coluna].value_counts()[0]:  10978
coluna:  ind15 df_train[coluna].value_counts()[0]:  10703
coluna:  ind16 df_train[coluna].value_counts()[0]:  10941
coluna:  ind17 df_train[coluna].value_counts()[0]:  10812
coluna:  ind18 df_train[coluna].value_counts()[0]:  10947
coluna:  ind28 df_train[coluna].value_counts()[0]:  10916
coluna:  ind29 df_train[coluna].value_counts()[0]:  10983
coluna:  ind30 df_train[coluna].value_counts()[0]:  10993
coluna:  ind40 df_train[coluna].value_counts()[0]:  10996
coluna:  ind41 df_train[coluna].value_counts()[0]:  10998
lista com df_train[coluna].value_counts()[0] superior a 10.700:  ['ind10', 'ind11', 'ind15', 'ind16', 'ind17', 'ind18', 'ind28', 'ind29', 'ind30', 'ind40', 'ind41']

In [122]:
l_sup10800 = []
for i in df_train.columns:
  if df_train[i].value_counts()[0] >10800:
    l_sup10800.append(i)
    print("coluna: ", i, "df_train[coluna].value_counts()[0]: ",  df_train[i].value_counts()[0])# "diferença = ",df_train.shape[0] - df_train[i].value_counts()[0])
print("lista com df_train[coluna].value_counts()[0] superior a 10.800: ", l_sup10800)

coluna:  ind10 df_train[coluna].value_counts()[0]:  10954
coluna:  ind11 df_train[coluna].value_counts()[0]:  10978
coluna:  ind16 df_train[coluna].value_counts()[0]:  10941
coluna:  ind17 df_train[coluna].value_counts()[0]:  10812
coluna:  ind18 df_train[coluna].value_counts()[0]:  10947
coluna:  ind28 df_train[coluna].value_counts()[0]:  10916
coluna:  ind29 df_train[coluna].value_counts()[0]:  10983
coluna:  ind30 df_train[coluna].value_counts()[0]:  10993
coluna:  ind40 df_train[coluna].value_counts()[0]:  10996
coluna:  ind41 df_train[coluna].value_counts()[0]:  10998
lista com df_train[coluna].value_counts()[0] superior a 10.800:  ['ind10', 'ind11', 'ind16', 'ind17', 'ind18', 'ind28', 'ind29', 'ind30', 'ind40', 'ind41']

In [112]:
df_train['ind38'].unique()

array([ 0., nan,  1.])

In [156]:
df_train['ind38'].value_counts(0)

0.0    10381
1.0       53
Name: ind38, dtype: int64

In [153]:
df_train['ind28'].value_counts()

0.0    10916
0.6       64
0.9       11
1.0        8
Name: ind28, dtype: int64

In [149]:
df_train.columns

Index(['cnae2', 'rf2', 'md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12', 'mc1', 'mc2', 'mc3', 'mc4', 'ind01',
       'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09',
       'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17',
       'ind18', 'ind19', 'ind20', 'ind21', 'ind22', 'ind23', 'ind24', 'ind25',
       'ind26', 'ind27', 'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33',
       'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40', 'ind41',
       'ind42', 'ind43', 'target'],
      dtype='object')

In [157]:
colunas = ['md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8', 'md9', 'md10',
           'md11', 'md12', 
           'mc1', 'mc2', 'mc3', 'mc4',
           'ind01','ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09', 'ind10',
           'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17','ind18', 'ind19', 'ind20',
           'ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27', 'ind28', 'ind29', 'ind30',
           'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40',
           'ind41', 'ind42', 'ind43']
for i in colunas:
  df_value=df_train[i].value_counts().reset_index()
  print("coluna: ", i, "value_counts: ", df_train[i].value_counts().reset_index()[0:3])

coluna:  md1 value_counts:            index   md1
0  0.000000e+00  1362
1  2.162232e-09    34
2  4.324465e-09    24
coluna:  md2 value_counts:        index  md2
0  0.015110    8
1  0.001655    7
2  0.004966    6
coluna:  md3 value_counts:        index  md3
0  0.108862   16
1  0.120872    8
2  0.111818    6
coluna:  md4 value_counts:            index   md4
0  0.000000e+00  2768
1  1.592926e-06    15
2  1.592926e-09    15
coluna:  md5 value_counts:        index   md5
0  0.000000  5365
1  0.000002    14
2  0.000005     7
coluna:  md6 value_counts:        index    md6
0  0.000000  10654
1  0.008976      2
2  0.026284      1
coluna:  md7 value_counts:        index  md7
0  0.022106    8
1  0.001986    7
2  0.001655    6
coluna:  md8 value_counts:        index  md8
0  0.039463    8
1  0.017749    7
2  0.025066    6
coluna:  md9 value_counts:            index   md9
0  0.000000e+00  2680
1  3.753118e-09    11
2  3.753118e-06     8
coluna:  md10 value_counts:        index  md10
0  0.000000  5219
1  0.000004    10
2  0.000008     5
coluna:  md11 value_counts:        index   md11
0  0.000000  10694
1  0.420121      1
2  0.004577      1
coluna:  md12 value_counts:        index  md12
0  0.129887    24
1  0.134086     5
2  0.130555     5
coluna:  mc1 value_counts:        index  mc1
0  0.000000  450
1  0.000008   22
2  0.000015    7
coluna:  mc2 value_counts:        index   mc2
0  0.000000  8949
1  0.001243     1
2  0.000835     1
coluna:  mc3 value_counts:            index   mc3
0  0.000000e+00  2126
1  8.012008e-08    34
2  3.365043e-07     9
coluna:  mc4 value_counts:            index  mc4
0  0.000000e+00  523
1  1.533674e-03    8
2  1.533532e-12    7
coluna:  ind01 value_counts:      index  ind01
0  0.0000   9727
1  1.0000   1133
2  0.0833     54
coluna:  ind02 value_counts:      index  ind02
0  0.0000   5687
1  1.0000   1136
2  0.0833    156
coluna:  ind03 value_counts:      index  ind03
0  0.0000   6844
1  1.0000   3642
2  0.0027     21
coluna:  ind04 value_counts:      index  ind04
0  0.0000   5812
1  1.0000   3151
2  0.0833    532
coluna:  ind05 value_counts:      index  ind05
0  0.0000   4776
1  1.0000   3161
2  0.0833    434
coluna:  ind06 value_counts:      index  ind06
0  0.0000   5441
1  1.0000   4081
2  0.1671     62
coluna:  ind07 value_counts:      index  ind07
0  0.0000   6195
1  1.0000   1903
2  0.0001     62
coluna:  ind08 value_counts:      index  ind08
0  0.0000   5601
1  1.0000   1923
2  0.0001     49
coluna:  ind09 value_counts:      index  ind09
0  0.0000  10602
1  0.0001     12
2  0.0003      9
coluna:  ind10 value_counts:     index  ind10
0  0.000  10954
1  1.000      2
2  0.061      2
coluna:  ind11 value_counts:      index  ind11
0  0.0000  10978
1  1.0000      2
2  0.3565      1
coluna:  ind12 value_counts:      index  ind12
0  0.0000   8253
1  1.0000    994
2  0.0118      4
coluna:  ind13 value_counts:      index  ind13
0  0.0000   7607
1  1.0000    392
2  0.9993      9
coluna:  ind14 value_counts:      index  ind14
0  0.0000   9292
1  1.0000    244
2  0.0001     23
coluna:  ind15 value_counts:     index  ind15
0    0.0  10703
1    1.0    157
2    0.5     19
coluna:  ind16 value_counts:      index  ind16
0  0.0000  10941
1  1.0000     37
2  0.1346      1
coluna:  ind17 value_counts:      index  ind17
0  0.0000  10812
1  1.0000    145
2  0.0398      1
coluna:  ind18 value_counts:      index  ind18
0  0.0000  10947
1  1.0000     42
2  0.0286      1
coluna:  ind19 value_counts:      index  ind19
0  1.0000   7398
1  0.0000   3109
2  0.1364      2
coluna:  ind20 value_counts:      index  ind20
0  1.0000   7454
1  0.0000   3103
2  0.6582      3
coluna:  ind21 value_counts:     index  ind21
0   1.00   4769
1   0.00   3600
2   0.25    894
coluna:  ind22 value_counts:     index  ind22
0   1.00   4714
1   0.00   3688
2   0.25    886
coluna:  ind23 value_counts:      index  ind23
0  0.0000   5018
1  1.0000   2847
2  0.0833    833
coluna:  ind24 value_counts:      index  ind24
0  0.0000   5136
1  1.0000   2837
2  0.0833    835
coluna:  ind25 value_counts:     index  ind25
0   0.00   6410
1   1.00    306
2   0.25    109
coluna:  ind26 value_counts:      index  ind26
0  1.0000   4510
1  0.0000   1587
2  0.0833    643
coluna:  ind27 value_counts:      index  ind27
0  1.0000   4001
1  0.0000   1609
2  0.0833    591
coluna:  ind28 value_counts:     index  ind28
0    0.0  10916
1    0.6     64
2    0.9     11
coluna:  ind29 value_counts:     index  ind29
0   0.00  10983
1   0.35     16
coluna:  ind30 value_counts:     index  ind30
0   0.00  10993
1   0.60      2
2   0.95      2
coluna:  ind31 value_counts:     index  ind31
0    0.0   7357
1    1.0   3642
coluna:  ind32 value_counts:     index  ind32
0    0.0   6958
1    1.0   4041
coluna:  ind33 value_counts:     index  ind33
0    1.0  10990
1    0.0      9
coluna:  ind34 value_counts:     index  ind34
0    0.0   5620
1    1.0   5379
coluna:  ind35 value_counts:     index  ind35
0    1.0  10020
1    0.0    979
coluna:  ind36 value_counts:     index  ind36
0    1.0   8026
1    0.0   2973
coluna:  ind37 value_counts:     index  ind37
0    1.0   7255
1    0.0   3744
coluna:  ind38 value_counts:     index  ind38
0    0.0  10381
1    1.0     53
coluna:  ind39 value_counts:     index  ind39
0    0.0   9034
1    1.0   1400
coluna:  ind40 value_counts:     index  ind40
0    0.0  10996
1    1.0      3
coluna:  ind41 value_counts:     index  ind41
0    0.0  10998
1    1.0      1
coluna:  ind42 value_counts:     index  ind42
0    0.0   8653
1    1.0   1781
coluna:  ind43 value_counts:     index  ind43
0    0.0   8653
1    0.5   1665
2    1.0    116

In [147]:
df_value

   index  target
0  False    8513
1   True    2520

In [78]:
df_train_unique.columns

Index(['cnae2', 'rf2', 'md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12', 'mc1', 'mc2', 'mc3', 'mc4', 'ind01',
       'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09',
       'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17',
       'ind18', 'ind19', 'ind20', 'ind21', 'ind22', 'ind23', 'ind24', 'ind25',
       'ind26', 'ind27', 'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33',
       'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40', 'ind41',
       'ind42', 'ind43', 'target'],
      dtype='object', name=0)

In [ ]:
df_train_unique.columns

In [80]:
# conclusão: 
# 1) ELIMINAR colunas 'ind10', 'ind11', 'ind16','ind29', 'ind30','ind33', 'ind38', 'ind40', 'ind41' (considerar não excluir 'ind38')
 
# 2) tornar categóricas as colunas: ['ind28', 'ind31', 'ind32', 'ind34', 
# 'ind35', 'ind36', 'ind37', 'ind39', 'ind42', 'ind43']

# 'md6', 'md11', 'ind09', 'ind15', 'ind17', 'ind18', 'ind28'
# já eliminados :'ind10', 'ind11', 'ind16','ind29', 'ind30', 'ind40', 'ind41'
# l_sup10700: 'ind10', 'ind11', 'ind15', 'ind16', 'ind17', 'ind18', 'ind28', 'ind29', 'ind30', 'ind40', 'ind41'
# l_sup10800: 'ind10', 'ind11', 'ind16', 'ind17', 'ind18', 'ind28', 'ind29', 'ind30', 'ind40', 'ind41'
contador = 0
l_ate6 = []
#df_ate3=[]
for i in df_train_unique.columns:
  if df_train_unique[i]['qtde_unique']>2 and df_train_unique[i]['qtde_unique']<4:
    contador= contador + 1
    l_ate6.append(i)
    #l_ate3.append([i,df_train[i].unique()[0],df_train[i].value_counts()[0],df_train[i].unique()[1],df_train[i].unique()[2],(11033-df_train[i].value_counts()[0]-df_train[i].isna().sum()),df_train[i].isna().sum()]) #,df_train[i].value_counts()[1]])
    print("coluna ", i, "unique= ", df_train[i].unique())
    print(df_train[i].value_counts())
    print("Quantidade de NaN = " , df_train[i].isna().sum())
    print(' ')
print("contador: ", contador)
print("lista de variáveis com até 6 valores unique, NaN inclusive:")
print(l_ate6)
#df_ate3 = pd.DataFrame(np.array(l_ate3))
#df_ate3 = df_ate3.set_index(0).T
#df_ate3.rename(index={0:'coluna',1:'unique[0]',2:'qtde[0]',3:'unique[1]',4:'unique',6:'qtde NaN',5:'qtde'},inplace=True)
#df_ate3

coluna  ind29 unique=  [0.   0.35  nan]
0.00    10983
0.35       16
Name: ind29, dtype: int64
Quantidade de NaN =  34

coluna  ind31 unique=  [ 0.  1. nan]
0.0    7357
1.0    3642
Name: ind31, dtype: int64
Quantidade de NaN =  34

coluna  ind32 unique=  [ 0.  1. nan]
0.0    6958
1.0    4041
Name: ind32, dtype: int64
Quantidade de NaN =  34

coluna  ind33 unique=  [ 1.  0. nan]
1.0    10990
0.0        9
Name: ind33, dtype: int64
Quantidade de NaN =  34

coluna  ind34 unique=  [ 0.  1. nan]
0.0    5620
1.0    5379
Name: ind34, dtype: int64
Quantidade de NaN =  34

coluna  ind35 unique=  [ 1.  0. nan]
1.0    10020
0.0      979
Name: ind35, dtype: int64
Quantidade de NaN =  34

coluna  ind36 unique=  [ 1.  0. nan]
1.0    8026
0.0    2973
Name: ind36, dtype: int64
Quantidade de NaN =  34

coluna  ind37 unique=  [ 1.  0. nan]
1.0    7255
0.0    3744
Name: ind37, dtype: int64
Quantidade de NaN =  34

coluna  ind38 unique=  [ 0. nan  1.]
0.0    10381
1.0       53
Name: ind38, dtype: int64
Quantidade de NaN =  599

coluna  ind39 unique=  [ 0.  1. nan]
0.0    9034
1.0    1400
Name: ind39, dtype: int64
Quantidade de NaN =  599

coluna  ind40 unique=  [ 0. nan  1.]
0.0    10996
1.0        3
Name: ind40, dtype: int64
Quantidade de NaN =  34

coluna  ind41 unique=  [ 0. nan  1.]
0.0    10998
1.0        1
Name: ind41, dtype: int64
Quantidade de NaN =  34

coluna  ind42 unique=  [ 0.  1. nan]
0.0    8653
1.0    1781
Name: ind42, dtype: int64
Quantidade de NaN =  599

contador:  13
lista de variáveis com até 6 valores unique, NaN inclusive:
['ind29', 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40', 'ind41', 'ind42']

In [ ]:
df_train['rf2'].unique()

array(['i', 'z', 'q', 's', 'v', 'd', 'p', 'k', 'y', 'r'], dtype=object)

In [ ]:
for i in df_train['rf2'].unique():
  df_train[df_train['rf2']==i]['target'].value_counts()
  print("rf2 = ", i)
  print(df_train[df_train['rf2']==i]['target'].value_counts())

rf2 =  i
False    655
True     206
Name: target, dtype: int64
rf2 =  z
False    2478
True      842
Name: target, dtype: int64
rf2 =  q
False    502
True     135
Name: target, dtype: int64
rf2 =  s
False    1063
True      316
Name: target, dtype: int64
rf2 =  v
False    410
True     129
Name: target, dtype: int64
rf2 =  d
False    603
True     183
Name: target, dtype: int64
rf2 =  p
False    527
True     139
Name: target, dtype: int64
rf2 =  k
False    927
True     207
Name: target, dtype: int64
rf2 =  y
False    711
True     150
Name: target, dtype: int64
rf2 =  r
False    637
True     213
Name: target, dtype: int64

In [ ]:
df_train[df_train['ind28']==0.9]['target'].value_counts()

False    9
True     2
Name: target, dtype: int64

In [ ]:
df_train[df_train['ind38']!=1.0]['target'].value_counts()

False    8472
True     2508
Name: target, dtype: int64

In [ ]:
for i in df_train_unique.columns:
  if df_train_unique[i][1]<=5 and df_train_unique[i][1]>3:
    print("coluna ", i, "unique= ", df_train[i].unique())
    print("qtde NaN = ",df_train[i].isna().sum() )

coluna  ind28 unique=  [0.  0.6 nan 0.9 1. ]
qtde NaN =  34
coluna  ind43 unique=  [0.  0.5 nan 1. ]
qtde NaN =  599

In [ ]:
for i in df_train_unique.columns:
  if df_train_unique[i][1]<=10 and df_train_unique[i][1]>5:
    print("coluna ", i, "unique= ", df_train[i].unique())
    print("qtde NaN = ",df_train[i].isna().sum() )
    print(" ")

coluna  rf2 unique=  ['i' 'z' 'q' 's' 'v' 'd' 'p' 'k' 'y' 'r']
qtde NaN =  0

coluna  ind30 unique=  [0.   0.35  nan 0.95 0.6  1.  ]
qtde NaN =  34

In [ ]:
for i in df_train_unique.columns:
  if df_train_unique[i][1]<=15 and df_train_unique[i][1]>10:
    print("coluna ", i, "unique= ", df_train[i].unique())
    print("qtde NaN = ",df_train[i].isna().sum() )
    print(" ")

coluna  ind01 unique=  [0.     1.     0.6667 0.0833 0.5833 0.1667 0.8333 0.25      nan 0.3333
 0.75   0.5    0.9167 0.4167]
qtde NaN =  34

coluna  ind04 unique=  [0.     0.4167 1.     0.9167 0.0833 0.6667 0.1667 0.8333 0.75   0.5833
 0.5    0.3333 0.25      nan]
qtde NaN =  34

coluna  ind18 unique=  [0.000e+00 1.000e+00 3.502e-01       nan 7.118e-01 6.310e-01 2.860e-02
 2.040e-02 2.277e-01 2.000e-04 3.543e-01 1.631e-01 1.000e-04]
qtde NaN =  34

In [ ]:
df_nan = df_train.isna().sum()
df_nan[df_nan.values>0].sort_values()
df_nan[df_nan.values>0].index

Index(['mc1', 'mc2', 'mc3', 'ind01', 'ind02', 'ind03', 'ind04', 'ind05',
       'ind06', 'ind07', 'ind08', 'ind09', 'ind10', 'ind11', 'ind12', 'ind13',
       'ind14', 'ind15', 'ind16', 'ind17', 'ind18', 'ind19', 'ind20', 'ind21',
       'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27', 'ind28', 'ind29',
       'ind30', 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37',
       'ind38', 'ind39', 'ind40', 'ind41', 'ind42', 'ind43'],
      dtype='object')

In [ ]:
df_nan[df_nan.values>0].index

Index(['mc1', 'mc2', 'mc3', 'ind01', 'ind02', 'ind03', 'ind04', 'ind05',
       'ind06', 'ind07', 'ind08', 'ind09', 'ind10', 'ind11', 'ind12', 'ind13',
       'ind14', 'ind15', 'ind16', 'ind17', 'ind18', 'ind19', 'ind20', 'ind21',
       'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27', 'ind28', 'ind29',
       'ind30', 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37',
       'ind38', 'ind39', 'ind40', 'ind41', 'ind42', 'ind43'],
      dtype='object')

In [ ]:
df_nan[df_nan.values==34].index   

# 32 colunas/variáveis que possuem 34 NaN cada
#'ind01', 'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08','ind09', 'ind10',
#'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17', 'ind18', 'ind19', 'ind20',
#'ind28', 'ind29', 'ind30', 'ind31','ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37',
#'ind40', 'ind41']

Index(['ind01', 'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08',
       'ind09', 'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16',
       'ind17', 'ind18', 'ind19', 'ind20', 'ind28', 'ind29', 'ind30', 'ind31',
       'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37', 'ind40', 'ind41'],
      dtype='object')

In [ ]:
len(df_nan[df_nan.values==34].index)

32

In [ ]:
df_nan[df_nan.values==599].index    

# 11 colunas/variáveis que possuem 599 NaN cada:
# 'ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27',
# 'ind38', 'ind39',
# 'ind42', 'ind43'

Index(['ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27', 'ind38',
       'ind39', 'ind42', 'ind43'],
      dtype='object')

In [ ]:
len(df_nan[df_nan.values==599].index)

11

In [ ]:
df_nan[df_nan.values==602].index    

# 3 colunas/variáveis que possuem 602 NaN cada
# ['mc1', 'mc2', 'mc3']

Index(['mc1', 'mc2', 'mc3'], dtype='object')

In [ ]:
linhas_602nan = df_train['mc1'][df_train['mc1'].isna()].index

Int64Index([   26,    27,    32,    34,    47,    64,    76,    88,   100,
              121,
            ...
            10848, 10891, 10911, 10921, 10935, 10941, 10979, 10986, 10991,
            11007],
           dtype='int64', length=602)

In [ ]:
len(set(list(linhas_602nan)) & set(list(linhas_599nan)))  
# 602nan e 599nan apresentam 596 linhas em comum
# então tem 3 linhas em 599nan que não estão em 602 nan e
# 6 linhas em 602nan que não estão em 599nan

596

In [ ]:
set(list(linhas_602nan)) - set(list(linhas_599nan)) # 6 linhas {1213, 1224, 3233, 5346, 6101, 7297} em 602nan mas não em 599nan

{1213, 1224, 3233, 5346, 6101, 7297}

In [ ]:
set(list(linhas_599nan)) - set(list(linhas_602nan)) # 3 linhas {5788, 10284, 10965} em 599nan mas não em 602nan

{5788, 10284, 10965}

In [ ]:
linhas_34nan = df_train['ind01'][df_train['ind01'].isna()].index

In [ ]:
set(list(linhas_34nan)) & set(list(linhas_599nan))  # 34nan e 599nan não apresentam linhas nan em comum

set()

In [ ]:
set(list(linhas_34nan)) & set(list(linhas_602nan)) # linhas {1213, 1224, 3233, 5346, 6101, 7297} em comum em 34nan e 602nan

{1213, 1224, 3233, 5346, 6101, 7297}

In [ ]:
df_train[df_train['mc1'].isna()]['target'].value_counts()

False    596
True       6
Name: target, dtype: int64

In [ ]:
# Total de 46 Colunas/variáveis que apresentam NaN:
# 'mc1', 'mc2', 'mc3',
# 'ind01', 'ind02', 'ind03', 'ind04', 'ind05','ind06', 'ind07', 'ind08', 'ind09', 'ind10',
# 'ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27', 'ind28', 'ind29', 'ind30',
# 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40',
# 'ind41', 'ind42', 'ind43'
sendo:
  # 32 colunas/variáveis que possuem 34 NaN cada
    #'ind01', 'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08','ind09', 'ind10',
    #'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17', 'ind18', 'ind19', 'ind20',
    #'ind28', 'ind29', 'ind30', 'ind31','ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37',
    #'ind40', 'ind41'
  # 11 colunas/variáveis que possuem 599 NaN cada:
    # 'ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27',
    # 'ind38', 'ind39',
    # 'ind42', 'ind43'
  # 3 colunas/variáveis que possuem 602 NaN cada
    # ['mc1', 'mc2', 'mc3']

# 602nan e 599nan apresentam 596 linhas em comum, então:
# 3 linhas em 599nan que não estão em 602 nan : {5788, 10284, 10965}
# 6 linhas em 602nan que não estão em 599nan : {1213, 1224, 3233, 5346, 6101, 7297}

# 602nan e 34nan apresentam 6 linhas em comum {1213, 1224, 3233, 5346, 6101, 7297} , que são as mesmas 6 linhas que não estão em 599nan
# 599nan e 34nan não apresentam linhas em comum

# Total de 633 linhas com NaN ( = 596 + 3 + 6 + 28)

# 13 variáveis com até 3 valores, sendo uma delas o NaN:  
# 'ind29', 
# 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36',
# 'ind37', 'ind38', 'ind39', 'ind40', 'ind41', 'ind42']


# conclusão: 
# 1) ELIMINAR colunas 'ind10', 'ind11', 'ind16','ind29', 'ind30','ind33',  'ind40', 'ind41' 
# OBSERVAÇÃO: considerar não excluir 'ind38'
 
# 2) tornar categóricas as colunas: ['ind28', 'ind31', 'ind32', 'ind34', 
# 'ind35', 'ind36', 'ind37', 'ind39', 'ind42', 'ind43']

l_colunas_excluir = ['ind10', 'ind11', 'ind16','ind29', 'ind30','ind33', 'ind40', 'ind41']
l_categorica = ['ind28', 'ind31', 'ind32', 'ind34',  'ind35', 'ind36', 'ind37', 'ind39', 'ind42', 'ind43']

In [ ]:
def drop_colunas(df):
  l_colunas_excluir = ['ind10', 'ind11', 'ind16','ind29', 'ind30','ind33', 'ind40', 'ind41']
  df.drop(l_colunas_excluir, axis=1)
l_categorica = ['ind28', 'ind31', 'ind32', 'ind34',  'ind35', 'ind36', 'ind37', 'ind39', 'ind42', 'ind43']

In [169]:
df_train['ind43'].value_counts()

0.0    8653
0.5    1665
1.0     116
Name: ind43, dtype: int64

In [ ]:
s_coluna = pd.Series(list(df_train.columns))
s_qtde = pd.Series(list(df_train.isna().sum()))
df_nan = pd.DataFrame(zip(s_coluna, s_qtde),columns = ['coluna','qtde_nan'])
len(df_nan[df_nan['qtde_nan']!=0])        # 46 variáveis/colunas apresentam NaN

In [ ]:
# listas com variáveis/colunas relacionadas:
l_categoricas = ['cnae2', 'rf2','cnae_secao']
l_ind_1 = ['ind01', 'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09', 'ind10',
           'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17', 'ind18', 'ind19', 'ind20',
           'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37',
           'ind40', 'ind41']
l_ind_2 = ['ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27',
           'ind38', 'ind39',
           'ind42', 'ind43']
l_mc_1 = ['mc1','mc2','mc3']
l_mc_2 = ['mc4']

0.0004738024075417711

Tratar NaNs

Grupo l_ind_1

In [ ]:
# função que trata NaN das colunas na lista l_ind_1 (moda) e cria coluna 'l_ind_1_mv':
def trata_l_ind_1(df):
    l_ind_1 = ['ind01', 'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09', 'ind10',
               'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17', 'ind18', 'ind19', 'ind20',
               'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37',
               'ind40', 'ind41']
    df['l_ind_1_mv'] = 0
    df['l_ind_1_mv'][df['ind01'].isna()] = 1
    for i in l_ind_1:
        moda = df[i].mode()[0]
        df[i].fillna(value = moda, inplace=True)
    return df

Grupo l_ind_2

In [ ]:
# função que trata NaN das coluas na lista l_ind_2 (moda) e cria coluna 'l_ind_2_mv':
def trata_l_ind_2(df):
    l_ind_2 = ['ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27',
               'ind38', 'ind39',
               'ind42', 'ind43']
    df['l_ind_2_mv'] = 0
    df['l_ind_2_mv'][df['ind21'].isna()] = 1
    for i in l_ind_2:
        moda = df[i].mode()[0]
        df[i].fillna(value = moda, inplace=True)
    return df

Grupo l_mc_1

In [ ]:
# função que trata NaN das colunas na lista l_mc_1 (mediana):
def trata_l_mc_1(df):
    l_mc_1 = ['mc1','mc2','mc3']
    df['l_mc_1_mv'] = 0
    df['l_mc_1_mv'][df['mc1'].isna()] = 1
    for i in l_mc_1:
        mediana = df[i].median()
        df[i].fillna(value = mediana, inplace=True)
    return df

Grupo l_md_1

In [ ]:
df_total['mc4'].describe()

count   12033.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         1.0
Name: mc4, dtype: float64

In [ ]:
for i in ['md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12','mc1','mc2','mc3','mc4']:
    print(i,len(df_total[i].unique()),df_total[i].max())

md1 9597 1.0
md2 11961 1.0
md3 11961 1.0000000000000002
md4 8901 1.0
md5 6107 1.0
md6 412 1.0
md7 11966 1.0
md8 11964 1.0
md9 9024 1.0
md10 6276 1.0
md11 370 1.0
md12 11966 1.0
mc1 10834 1.0
mc2 1632 1.0
mc3 8924 1.0
mc4 11413 1.0

In [ ]:
# função:
def cria_colunas_o(df):
    df[['md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md6_o', 'md7_o', 'md8_o',
       'md9_o', 'md10_o', 'md11_o', 'md12_o','mc1_o','mc2_o','mc3_o','mc4_o']] = df[['md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12','mc1','mc2','mc3','mc4']].copy()
    return df

In [ ]:
len(df_total.columns)

82

In [ ]:
# NÃO USAR:
# trata os outliers das colunas criadas com a função cria_colunas_o(df):

def trata_outliers(df):
    l_mc_outliers = ['md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md6_o',
                     'md7_o', 'md8_o', 'md9_o', 'md10_o', 'md11_o', 'md12_o',
                     'mc1_o','mc2_o','mc3_o','mc4_o']
    for i in l_mc_outliers:
        q1 = np.percentile(df[i],25)
        q3 = np.percentile(df[i],75)
        iqr = q3 - q1
        lim_inf = q1 - 1.5 * iqr
        lim_sup = q3 + 1.5 * iqr
        df[i][df[i] < lim_inf] = lim_inf
        df[i][df[i] > lim_sup] = lim_sup
    return df

In [ ]:
# NÃO USAR:

def f_normaliza(df_norm):
    #print(df_norm.type)
    from sklearn.preprocessing import StandardScaler
    from sklearn.preprocessing import MinMaxScaler
    modelo = MinMaxScaler()
    #df_norm = df_norm.reshape(-1, 1) 
    df_norm= modelo.fit_transform(df_norm)
    return df_norm

In [ ]:
# NÃO USAR:
def f_trata_col(df):
    for i in l_mc_outliers:
        q1 = np.percentile(df[i],25)
        q3 = np.percentile(df[i],75)
        iqr = q3 - q1
        lim_inf = q1 - 1.5 * iqr
        lim_sup = q3 + 1.5 * iqr
        df[i][df[i] < lim_inf] = lim_inf
        df[i][df[i] > lim_sup] = lim_sup
    df[l_mc_outliers] = f_normaliza(df[l_mc_outliers])
    for i in l_mc_outliers:
        if df[i][df[i] == 0].shape == df[i].shape or df[i][df[i] == 1].shape == df[i].shape:
            df = df.drop(columns = i)
    df['rf2'] = df['rf2'].astype('category')
    df['cnae2'] = df['cnae2'].astype('category')
    df['cnae_secao'] = df['cnae_secao'].astype('category')
    #df = pd.get_dummies(df)
    return df

In [ ]:
# NÃO APLICAR:
df_total = f_trata_col(df_total)

In [ ]:
cria_cnae_secao(df_train)
trata_l_ind_1(df_train)
trata_l_ind_2(df_train)
trata_l_mc_1(df_train)

       cnae2 rf2  md1  md2  ...  cnae_secao  l_ind_1_mv  l_ind_2_mv  l_mc_1_mv
id                          ...
0         86   i  0.1  0.0  ...           Q           0           0          0
1         18   z  0.0  0.0  ...           C           0           0          0
2         74   z  0.0  0.0  ...           M           0           0          0
3         49   q  0.0  0.0  ...           H           0           0          0
4         47   i  0.0  0.0  ...           G           0           0          0
...      ...  ..  ...  ...  ...         ...         ...         ...        ...
12026     23   s  0.0  0.0  ...           C           0           0          0
12027     49   v  0.0  0.0  ...           H           0           0          0
12030     47   y  0.0  0.0  ...           G           0           0          0
12031     47   p  0.0  0.0  ...           G           0           0          0
12032     47   y  0.0  0.0  ...           G           0           0          0

[11033 rows x 66 columns]

In [ ]:
cria_cnae_secao(df_test)
trata_l_ind_1(df_test)
trata_l_ind_2(df_test)
trata_l_mc_1(df_test)

      cnae2 rf2  md1  md2  ...  cnae_secao  l_ind_1_mv  l_ind_2_mv  l_mc_1_mv
id                         ...
3411     71   s  0.0  0.0  ...           M           0           0          0
2177     86   y  0.0  0.0  ...           Q           0           0          0
8400     41   z  0.0  0.0  ...           F           0           0          0
464      58   z  0.0  0.0  ...           J           0           0          0
6672     86   p  0.0  0.0  ...           Q           0           0          0
...     ...  ..  ...  ...  ...         ...         ...         ...        ...
8609     49   z  0.0  0.0  ...           H           0           0          0
3384     45   v  0.0  0.0  ...           G           0           0          0
8297     43   i  0.0  0.0  ...           F           0           0          0
7556     86   s  0.0  0.0  ...           Q           0           0          0
8582     62   z  0.0  0.0  ...           J           0           0          0

[1000 rows x 65 columns]

In [ ]:
df_train.isna().sum().sum()

0

In [ ]:
df_test.isna().sum().sum()

0

In [ ]:
df_train.to_csv('train_tr.csv',index = True, sep = ',')
df_test.to_csv('test_tr.csv',index = True, sep = ',')