<a href="https://colab.research.google.com/github/cryssoga/DSWP/blob/master/Li%C3%A7%C3%A3o/Kaggle_Churn_Challenge_Logistic_Regression_16nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Labdata Churn Challenge 2020

Try to predict whether a client will churn the telco service
Cada linha representa um cliente e cada coluna representa uma informação a respeito daquele cliente.

Os dados incluem os seguintes grupos de variáveis:

•	Churn: representa se um cliente cancelou ou não os serviços contratados

•	Serviços que cada cliente contratou - phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies

•	Informações a respeito da conta do cliente – how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charges

•	Informações demográficas – gender, age range, and if they have partners and dependents

The raw data contains 7043 rows (customers) and 21 columns (features).

In [4]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
# url dos arquivos baixados do site https://www.kaggle.com/c/labdata-churn-challenge-2020/data e uploaded em github

url_train = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/train.csv'
url_test = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/test.csv'
url_sample_submission = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/sample_submission.csv'

In [6]:
# carregando em dataframes:

df_train = pd.read_csv(url_train)
df_test = pd.read_csv(url_test)
df_sample_submission = pd.read_csv(url_sample_submission)

In [298]:
df_train.shape

(5634, 21)

In [299]:
df_test.shape

(1409, 20)

In [300]:
1409/(1409+5634)      # test: 20%, train: 80%

0.20005679397983814

In [301]:
df_sample_submission.shape

(1409, 2)

In [ ]:
df_train.head(1)

     id  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  4030  Female              0  ...          45.05       2560.1      0

[1 rows x 21 columns]

In [ ]:
df_test.head(1)

     id gender  ...  MonthlyCharges TotalCharges
0  5027   Male  ...            20.0        445.3

[1 rows x 20 columns]

In [ ]:
df_sample_submission.head(1)

     id  Churn
0  5027      0

In [ ]:
df_train.isna().sum()

id                    0
gender                0
SeniorCitizen         0
Partner               0
Dependents          218
tenure              461
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod        99
MonthlyCharges        0
TotalCharges          0
Churn                 0
dtype: int64

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5634 non-null   int64
 1   gender            5634 non-null   object
 2   SeniorCitizen     5634 non-null   int64
 3   Partner           5634 non-null   object
 4   Dependents        5416 non-null   object
 5   tenure            5173 non-null   float64
 6   PhoneService      5634 non-null   object
 7   MultipleLines     5634 non-null   object
 8   InternetService   5634 non-null   object
 9   OnlineSecurity    5634 non-null   object
 10  OnlineBackup      5634 non-null   object
 11  DeviceProtection  5634 non-null   object
 12  TechSupport       5634 non-null   object
 13  StreamingTV       5634 non-null   object
 14  StreamingMovies   5634 non-null   object
 15  Contract          5634 non-null   object
 16  PaperlessBilling  5634 non-null   object
 17  PaymentMethod     5535 non-null   object
 18  MonthlyCharges    5634 non-null   float64
 19  TotalCharges      5634 non-null   object
 20  Churn             5634 non-null   int64
dtypes: float64(2), int64(3), object(16)
memory usage: 924.5+ KB

In [ ]:
df_train[df_train['TotalCharges']==' ']

        id  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
161   6755    Male              0  ...          61.90                   0
416   5219    Male              0  ...          19.70                   0
1766  6671  Female              0  ...          73.35                   0
2145   937  Female              0  ...          80.85                   0
3375  3827    Male              0  ...          25.35                   0
3404  1083    Male              0  ...          25.75                   0
4008  3332    Male              0  ...          19.85                   0
5151  1341  Female              0  ...          56.05                   0

[8 rows x 21 columns]

In [ ]:
df_test[df_test['TotalCharges']==' ']

        id  gender  ...  MonthlyCharges TotalCharges
313   4381  Female  ...           20.00
1063   489  Female  ...           52.55
1297   754    Male  ...           20.25

[3 rows x 20 columns]

In [ ]:
df_train['PaymentMethod'].value_counts()

Electronic check             1887
Mailed check                 1272
Bank transfer (automatic)    1212
Credit card (automatic)      1164
Name: PaymentMethod, dtype: int64

In [ ]:
df_test.isna().sum()

id                    0
gender                0
SeniorCitizen         0
Partner               0
Dependents           41
tenure              118
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod        30
MonthlyCharges        0
TotalCharges          0
dtype: int64

In [ ]:
df_test['Dependents'].value_counts()

No     953
Yes    415
Name: Dependents, dtype: int64

In [ ]:
df_test['PaymentMethod'].value_counts()

Electronic check             430
Credit card (automatic)      329
Mailed check                 313
Bank transfer (automatic)    307
Name: PaymentMethod, dtype: int64

In [7]:
def trata_col(df):
  df['Dependents'].fillna('No', inplace=True)
  df['PaymentMethod'].fillna('Electronic check',inplace = True)
  df['tenure'].fillna(df['tenure'].median(),inplace = True)
  df['TotalCharges'] = df['TotalCharges'].replace(' ', '0')
  df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])
  df['TotalCharges'] = df['TotalCharges'].replace(0, df['TotalCharges'].median())
  df['SeniorCitizen'] = df['SeniorCitizen'].replace(0,'0')
  df['SeniorCitizen'] = df['SeniorCitizen'].replace(1,'1')

In [8]:
def cria_total_serv(df):
  total_serv = []
  col_reflexo = ['OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies']
  linha = 0
  while linha < df.shape[0]:
    qtde=0
    if df['InternetService'][linha]=='No':
      qtde = 0
    else:
      for i in col_reflexo:
        if df[i][linha] == 'Yes':
          qtde = qtde + 1
    total_serv.append(qtde)
    linha+=1
  df['total_serv']=total_serv

In [9]:
trata_col(df_train)
trata_col(df_test)
cria_total_serv(df_train)
cria_total_serv(df_test)

In [305]:
df_train.isna().sum()

id                  0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
total_serv          0
dtype: int64

In [306]:
df_test.isna().sum()

id                  0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
total_serv          0
dtype: int64

In [307]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5634 non-null   int64
 1   gender            5634 non-null   object
 2   SeniorCitizen     5634 non-null   object
 3   Partner           5634 non-null   object
 4   Dependents        5634 non-null   object
 5   tenure            5634 non-null   float64
 6   PhoneService      5634 non-null   object
 7   MultipleLines     5634 non-null   object
 8   InternetService   5634 non-null   object
 9   OnlineSecurity    5634 non-null   object
 10  OnlineBackup      5634 non-null   object
 11  DeviceProtection  5634 non-null   object
 12  TechSupport       5634 non-null   object
 13  StreamingTV       5634 non-null   object
 14  StreamingMovies   5634 non-null   object
 15  Contract          5634 non-null   object
 16  PaperlessBilling  5634 non-null   object
 17  PaymentMethod     5634 non-null   object
 18  MonthlyCharges    5634 non-null   float64
 19  TotalCharges      5634 non-null   float64
 20  Churn             5634 non-null   int64
 21  total_serv        5634 non-null   int64
dtypes: float64(3), int64(3), object(16)
memory usage: 968.5+ KB

In [10]:
y_train = df_train['Churn']
y_test = df_sample_submission['Churn']

In [11]:
def cria_dummies(df):
  ohe=pd.get_dummies(df,drop_first=True)
  ohe.columns = ohe.columns.str.replace(' ', '_')
  ohe.columns = ohe.columns.str.replace('(','')
  ohe.columns = ohe.columns.str.replace(')','')
  return ohe

In [14]:
df_train=cria_dummies(df_train)

In [15]:
df_train.columns

Index(['id', 'tenure', 'MonthlyCharges', 'TotalCharges', 'Churn', 'total_serv',
       'gender_Male', 'SeniorCitizen_1', 'Partner_Yes', 'Dependents_Yes',
       'PhoneService_Yes', 'MultipleLines_No_phone_service',
       'MultipleLines_Yes', 'InternetService_Fiber_optic',
       'InternetService_No', 'OnlineSecurity_No_internet_service',
       'OnlineSecurity_Yes', 'OnlineBackup_No_internet_service',
       'OnlineBackup_Yes', 'DeviceProtection_No_internet_service',
       'DeviceProtection_Yes', 'TechSupport_No_internet_service',
       'TechSupport_Yes', 'StreamingTV_No_internet_service', 'StreamingTV_Yes',
       'StreamingMovies_No_internet_service', 'StreamingMovies_Yes',
       'Contract_One_year', 'Contract_Two_year', 'PaperlessBilling_Yes',
       'PaymentMethod_Credit_card_automatic', 'PaymentMethod_Electronic_check',
       'PaymentMethod_Mailed_check'],
      dtype='object')

In [16]:
df_test=cria_dummies(df_test)

In [544]:
df_train=pd.get_dummies(df_train,drop_first=True)
df_train.columns = df_train.columns.str.replace(' ', '_')
df_train.columns = df_train.columns.str.replace('(','')
df_train.columns = df_train.columns.str.replace(')','')
df_test=pd.get_dummies(df_test,drop_first=True)
df_test.columns = df_test.columns.str.replace(' ', '_')
df_test.columns = df_test.columns.str.replace('(','')
df_test.columns = df_test.columns.str.replace(')','')

In [50]:
from sklearn.linear_model import LogisticRegression

In [51]:
modelo1 = smf.glm(formula = 'Churn ~ tenure + MonthlyCharges + TotalCharges + total_serv +\
                  gender_Male + SeniorCitizen_1 + Partner_Yes + Dependents_Yes +\
                  PhoneService_Yes + MultipleLines_No_phone_service +\
                  MultipleLines_Yes + InternetService_Fiber_optic +\
                  InternetService_No + OnlineSecurity_No_internet_service +\
                  OnlineSecurity_Yes + OnlineBackup_No_internet_service +\
                  OnlineBackup_Yes + DeviceProtection_No_internet_service +\
                  DeviceProtection_Yes + TechSupport_No_internet_service +\
                  TechSupport_Yes + StreamingTV_No_internet_service + StreamingTV_Yes +\
                  StreamingMovies_No_internet_service + StreamingMovies_Yes +\
                  Contract_One_year + Contract_Two_year + PaperlessBilling_Yes +\
                  PaymentMethod_Credit_card_automatic +\
                  PaymentMethod_Electronic_check + PaymentMethod_Mailed_check',
                  data = df_train,
                  family = sm.families.Binomial()).fit()
print(modelo1.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                 5634
Model:                            GLM   Df Residuals:                     5610
Model Family:                Binomial   Df Model:                           23
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -2307.3
Date:                Mon, 16 Nov 2020   Deviance:                       4614.6
Time:                        04:51:04   Pearson chi2:                 5.58e+03
No. Iterations:                     7
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
Intercept                                1.0589      0.847      1.251      0.211      -0.600       2.718
tenure                                  -0.0315      0.004     -7.254      0.000      -0.040      -0.023
MonthlyCharges                          -0.0560      0.036     -1.556      0.120      -0.127       0.015
TotalCharges                         -1.616e-05   5.12e-05     -0.315      0.752      -0.000    8.43e-05
total_serv                               0.2675      0.207      1.292      0.196      -0.138       0.673
gender_Male                              0.0263      0.073      0.360      0.719      -0.117       0.170
SeniorCitizen_1                          0.2718      0.095      2.851      0.004       0.085       0.459
Partner_Yes                             -0.1122      0.087     -1.291      0.197      -0.283       0.058
Dependents_Yes                          -0.1483      0.102     -1.456      0.145      -0.348       0.051
PhoneService_Yes                         0.8969      0.785      1.143      0.253      -0.641       2.435
MultipleLines_No_phone_service           0.1620      0.113      1.438      0.150      -0.059       0.383
MultipleLines_Yes                        0.4776      0.200      2.389      0.017       0.086       0.869
InternetService_Fiber_optic              2.3789      0.906      2.626      0.009       0.603       4.155
InternetService_No                      -0.3231      0.131     -2.473      0.013      -0.579      -0.067
OnlineSecurity_No_internet_service      -0.3231      0.131     -2.473      0.013      -0.579      -0.067
OnlineSecurity_Yes                      -0.4144      0.089     -4.672      0.000      -0.588      -0.241
OnlineBackup_No_internet_service        -0.3231      0.131     -2.473      0.013      -0.579      -0.067
OnlineBackup_Yes                        -0.1618      0.082     -1.978      0.048      -0.322      -0.001
DeviceProtection_No_internet_service    -0.3231      0.131     -2.473      0.013      -0.579      -0.067
DeviceProtection_Yes                    -0.0235      0.088     -0.267      0.789      -0.196       0.149
TechSupport_No_internet_service         -0.3231      0.131     -2.473      0.013      -0.579      -0.067
TechSupport_Yes                         -0.2849      0.093     -3.066      0.002      -0.467      -0.103
StreamingTV_No_internet_service         -0.3231      0.131     -2.473      0.013      -0.579      -0.067
StreamingTV_Yes                          0.5835      0.176      3.317      0.001       0.239       0.928
StreamingMovies_No_internet_service     -0.3231      0.131     -2.473      0.013      -0.579      -0.067
StreamingMovies_Yes                      0.5686      0.177      3.209      0.001       0.221       0.916
Contract_One_year                       -0.7998      0.120     -6.657      0.000      -1.035      -0.564
Contract_Two_year                       -1.5547      0.197     -7.889      0.000      -1.941      -1.168
PaperlessBilling_Yes                     0.3651      0.084      4.371      0.000       0.201       0.529
PaymentMethod_Credit_card_automatic     -0.1342      0.130     -1.031      0.303      -0.389       0.121
PaymentMethod_Electronic_check           0.1768      0.106      1.660      0.097      -0.032       0.386
PaymentMethod_Mailed_check              -0.1099      0.129     -0.853      0.394      -0.362       0.143
========================================================================================================

In [52]:
modelo1 = LogisticRegression(penalty='l2', solver='newton-cg',max_iter=5000,multi_class='multinomial',n_jobs=-1)
y = df_train['Churn']
X = df_train.drop('Churn',axis=1)

In [21]:
modelo1.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=5000,
                   multi_class='multinomial', n_jobs=-1, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [57]:
X_test = df_test

In [23]:
X.shape

(5634, 32)

In [559]:
X_test.shape

(1409, 32)

In [24]:
y_pred = modelo1.predict(X_test)

In [25]:
unique_elements, counts_elements = np.unique(y_pred, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[   0    1]
 [1097  312]]

In [31]:
df_submit = pd.DataFrame(zip(X_test['id'],y_pred),columns=['id','Churn'])
df_submit.to_csv('churn_02.csv',index = False, sep = ',')

     id  Churn
0  5027      0
1  1733      0
2  5384      1
3  6554      0
4   364      0

In [27]:
score = modelo1.score(X_test, y_test)
score

0.5067423704755145

In [568]:
score = modelo1.score(X, y)
score

0.8095491657791978

In [409]:
print(classification_report(y, modelo1.predict(X)))

              precision    recall  f1-score   support

           0       0.85      0.90      0.87      4139
           1       0.67      0.56      0.61      1495

    accuracy                           0.81      5634
   macro avg       0.76      0.73      0.74      5634
weighted avg       0.80      0.81      0.80      5634

In [412]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.52      0.77      0.62       734
           1       0.47      0.22      0.30       675

    accuracy                           0.51      1409
   macro avg       0.49      0.50      0.46      1409
weighted avg       0.49      0.51      0.46      1409

In [53]:
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
kfold = model_selection.KFold(n_splits=10, random_state=0)
modelCV = LogisticRegression(max_iter=500)
scoring = 'accuracy'
results = model_selection.cross_val_score(modelCV, X, y, cv=kfold, scoring=scoring)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

10-fold cross validation average accuracy: 0.804

In [54]:
modelCV.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [58]:
y_pred_5 = modelCV.predict(X_test)

In [59]:
unique_elements, counts_elements = np.unique(y_pred_5, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[   0    1]
 [1111  298]]

In [60]:
df_submit = pd.DataFrame(zip(X_test['id'],y_pred_5), columns=['id','Churn'])
df_submit.to_csv('churn_04.csv', index=False, sep=',')

In [33]:
# eliminando 'DeviceProtection_Yes','TotalCharges','gender_Male','PaymentMethod_Mailed_check',
# 'PaymentMethod_Credit_card_automatic', 'PhoneService_Yes',MultipleLines_No_phone_service',
# 'total_serv', 'OnlineBackup_Yes', 'Partner_Yes'
modelo2 = smf.glm(formula = 'Churn ~ tenure + MonthlyCharges +\
                  SeniorCitizen_1 + Dependents_Yes +\
                  MultipleLines_Yes + InternetService_Fiber_optic +\
                  InternetService_No + OnlineSecurity_No_internet_service +\
                  OnlineSecurity_Yes + OnlineBackup_No_internet_service +\
                  DeviceProtection_No_internet_service +\
                  TechSupport_No_internet_service +\
                  TechSupport_Yes + StreamingTV_No_internet_service + StreamingTV_Yes +\
                  StreamingMovies_No_internet_service + StreamingMovies_Yes +\
                  Contract_One_year + Contract_Two_year + PaperlessBilling_Yes +\
                  PaymentMethod_Electronic_check',
                  data = df_train,
                  family = sm.families.Binomial()).fit()
print(modelo2.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                 5634
Model:                            GLM   Df Residuals:                     5618
Model Family:                Binomial   Df Model:                           15
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -2310.0
Date:                Mon, 16 Nov 2020   Deviance:                       4619.9
Time:                        04:40:10   Pearson chi2:                 5.61e+03
No. Iterations:                     7
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
Intercept                                0.3085      0.263      1.173      0.241      -0.207       0.824
tenure                                  -0.0333      0.002    -13.437      0.000      -0.038      -0.028
MonthlyCharges                          -0.0213      0.006     -3.507      0.000      -0.033      -0.009
SeniorCitizen_1                          0.2532      0.094      2.682      0.007       0.068       0.438
Dependents_Yes                          -0.1997      0.093     -2.148      0.032      -0.382      -0.017
MultipleLines_Yes                        0.3005      0.098      3.073      0.002       0.109       0.492
InternetService_Fiber_optic              1.5173      0.213      7.133      0.000       1.100       1.934
InternetService_No                      -0.1977      0.028     -7.183      0.000      -0.252      -0.144
OnlineSecurity_No_internet_service      -0.1977      0.028     -7.183      0.000      -0.252      -0.144
OnlineSecurity_Yes                      -0.3265      0.100     -3.264      0.001      -0.523      -0.130
OnlineBackup_No_internet_service        -0.1977      0.028     -7.183      0.000      -0.252      -0.144
DeviceProtection_No_internet_service    -0.1977      0.028     -7.183      0.000      -0.252      -0.144
TechSupport_No_internet_service         -0.1977      0.028     -7.183      0.000      -0.252      -0.144
TechSupport_Yes                         -0.1903      0.103     -1.847      0.065      -0.392       0.012
StreamingTV_No_internet_service         -0.1977      0.028     -7.183      0.000      -0.252      -0.144
StreamingTV_Yes                          0.5027      0.108      4.653      0.000       0.291       0.714
StreamingMovies_No_internet_service     -0.1977      0.028     -7.183      0.000      -0.252      -0.144
StreamingMovies_Yes                      0.4893      0.107      4.564      0.000       0.279       0.699
Contract_One_year                       -0.8007      0.119     -6.717      0.000      -1.034      -0.567
Contract_Two_year                       -1.5564      0.194     -8.013      0.000      -1.937      -1.176
PaperlessBilling_Yes                     0.3643      0.083      4.370      0.000       0.201       0.528
PaymentMethod_Electronic_check           0.2543      0.078      3.265      0.001       0.102       0.407
========================================================================================================

In [96]:
print(np.exp(modelo1.params[1:]))

gender[T.Male]                               1.026847
Partner[T.Yes]                               0.892316
Dependents[T.Yes]                            0.863264
PhoneService[T.Yes]                          2.479269
MultipleLines[T.No phone service]            1.185884
MultipleLines[T.Yes]                         1.607139
InternetService[T.Fiber optic]              10.809657
InternetService[T.No]                        0.722873
OnlineSecurity[T.No internet service]        0.722873
OnlineSecurity[T.Yes]                        0.660572
OnlineBackup[T.No internet service]          0.722873
OnlineBackup[T.Yes]                          0.848400
DeviceProtection[T.No internet service]      0.722873
DeviceProtection[T.Yes]                      0.976475
TechSupport[T.No internet service]           0.722873
TechSupport[T.Yes]                           0.752458
StreamingTV[T.No internet service]           0.722873
StreamingTV[T.Yes]                           1.793100
StreamingMovies[T.No internet service]       0.722873
StreamingMovies[T.Yes]                       1.767162
Contract[T.One year]                         0.447687
Contract[T.Two year]                         0.209283
PaperlessBilling[T.Yes]                      1.440704
PaymentMethod[T.Credit card (automatic)]     0.874629
PaymentMethod[T.Electronic check]            1.194481
PaymentMethod[T.Mailed check]                0.895272
total_serv                                   1.304805
tenure                                       0.967969
MonthlyCharges                               0.945113
SeniorCitizen                                1.311416
dtype: float64

### https://www.kaggle.com/funxexcel/p2-logistic-regression-hyperparameter-tuning

In [104]:
logModel = LogisticRegression()

In [105]:
param_grid = [    
    {'penalty' : ['l1', 'l2', 'elasticnet', 'none'],
    'C' : np.logspace(-4, 4, 20),
    'solver' : ['lbfgs','newton-cg','liblinear','sag','saga'],
    'max_iter' : [100, 1000,2500, 5000]
    }
]

In [106]:
# import GridSearch
from sklearn.model_selection import GridSearchCV

clf = GridSearchCV(logModel, param_grid = param_grid, cv = 3, verbose=True, n_jobs=-1)

In [ ]:
best_clf = clf.fit(X,y)

In [ ]:
best_clf.best_estimator_

In [ ]:
print (f'Accuracy - : {best_clf.score(X,y):.3f}')

In [ ]:
### fim

### Fim

In [34]:
# eliminando as colunas 
modelo2 = LogisticRegression(penalty='l2', solver='newton-cg',max_iter=5000,multi_class='multinomial',n_jobs=-1)
y = df_train['Churn']
X = df_train.drop(['DeviceProtection_Yes','TotalCharges','gender_Male','PaymentMethod_Mailed_check',
                   'PaymentMethod_Credit_card_automatic', 'PhoneService_Yes','MultipleLines_No_phone_service',
                   'total_serv', 'OnlineBackup_Yes', 'Partner_Yes','Churn'],axis=1)

In [35]:
X.shape

(5634, 22)

In [374]:
y.shape

(5634,)

In [36]:
modelo2.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=5000,
                   multi_class='multinomial', n_jobs=-1, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [208]:
y_pred = modelo2.predict_proba(X)

In [37]:
X_test = df_test.drop(['DeviceProtection_Yes','TotalCharges','gender_Male','PaymentMethod_Mailed_check',
                       'PaymentMethod_Credit_card_automatic', 'PhoneService_Yes','MultipleLines_No_phone_service',
                       'total_serv', 'OnlineBackup_Yes', 'Partner_Yes'],
                      axis=1)

In [38]:
X_test.shape

(1409, 22)

In [39]:
y_pred_2 = modelo2.predict(X_test)

In [40]:
unique_elements, counts_elements = np.unique(y_pred_2, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[   0    1]
 [1096  313]]

In [282]:
y_test = df_sample_submission['Churn']

In [283]:
acuracia = accuracy_score(y_test, y_pred)
acuracia

0.5074520936834634

In [287]:
y.value_counts()

0    4139
1    1495
Name: Churn, dtype: int64

In [288]:
y_test.value_counts()

0    734
1    675
Name: Churn, dtype: int64

In [586]:
print(classification_report(y, modelo2.predict(X)))

              precision    recall  f1-score   support

           0       0.85      0.90      0.87      4139
           1       0.67      0.56      0.61      1495

    accuracy                           0.81      5634
   macro avg       0.76      0.73      0.74      5634
weighted avg       0.80      0.81      0.80      5634

In [587]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.52      0.78      0.62       734
           1       0.47      0.22      0.30       675

    accuracy                           0.51      1409
   macro avg       0.50      0.50      0.46      1409
weighted avg       0.50      0.51      0.47      1409

In [ ]:
df_submit = pd.DataFrame(y_pred, columns = ['Churn'])

In [ ]:
df_submit.value_counts()

Churn
0        1119
1         290
dtype: int64

In [ ]:
y_test.value_counts()

0    734
1    675
Name: Churn, dtype: int64

In [ ]:
plot_roc_curve(y, y_pred)

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression(max_iter=500)
logreg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
y_pred_3 = logreg.predict(X_test)

In [48]:
unique_elements, counts_elements = np.unique(y_pred_3, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[   0    1]
 [1105  304]]

In [392]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_pred_2)))

Accuracy of logistic regression classifier on test set: 1.00

In [41]:
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
kfold = model_selection.KFold(n_splits=10, random_state=0)
modelCV = LogisticRegression(max_iter=500)
scoring = 'accuracy'
results = model_selection.cross_val_score(modelCV, X, y, cv=kfold, scoring=scoring)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

10-fold cross validation average accuracy: 0.801

In [42]:
modelCV.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
y_pred_4 = modelCV.predict(X_test)

In [45]:
unique_elements, counts_elements = np.unique(y_pred_4, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[   0    1]
 [1105  304]]

In [49]:
df_submit = pd.DataFrame(zip(X_test['id'],y_pred_4),columns=['id','Churn'])
df_submit.to_csv('churn_03.csv',index = False, sep = ',')

In [417]:
print(classification_report(y_test, y_pred_3))

              precision    recall  f1-score   support

           0       0.52      0.78      0.62       734
           1       0.47      0.21      0.29       675

    accuracy                           0.51      1409
   macro avg       0.49      0.49      0.45      1409
weighted avg       0.49      0.51      0.46      1409