<a href="https://colab.research.google.com/github/cryssoga/DSWP/blob/master/Li%C3%A7%C3%A3o/Kaggle_Churn_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

In [19]:
# url dos arquivos baixados do site https://www.kaggle.com/c/labdata-churn-challenge-2020/data e uploaded em github

url_train = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/train.csv'
url_test = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/test.csv'
url_sample_submission = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/sample_submission.csv'

In [20]:
# carregando em dataframes:

df_train = pd.read_csv(url_train)
df_test = pd.read_csv(url_test)
df_sample_submission = pd.read_csv(url_sample_submission)

In [27]:
df_train.shape

(5634, 21)

In [29]:
df_test.shape

(1409, 20)

In [30]:
df_sample_submission.shape

(1409, 2)

In [24]:
df_train.head(2)

     id  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  4030  Female              0  ...          45.05       2560.1      0
1  6731    Male              0  ...          19.65       332.65      0

[2 rows x 21 columns]

In [25]:
df_test.head(2)

     id gender  ...  MonthlyCharges TotalCharges
0  5027   Male  ...            20.0        445.3
1  1733   Male  ...            99.0       5969.3

[2 rows x 20 columns]

In [26]:
df_sample_submission.head(2)

     id  Churn
0  5027      0
1  1733      1