<a href="https://colab.research.google.com/github/cryssoga/DSWP/blob/master/Li%C3%A7%C3%A3o/NB10_01_Pandas_Exerc%C3%ADcio_FIFA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
url = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Dataframes/FIFA.csv'
df_Fifa = pd.read_csv(url)

In [ ]:
df_Fifa.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [ ]:
# Exercício 9
# 3. Qual o dtype de cada variável/atributo do dataframe?
# dtypes e info() => diferenças

df_Fifa.dtypes   # df_Fifa.info => fornece informações de todas as colunas, vide execução adiante

Unnamed: 0          int64
ID                  int64
Name               object
Age                 int64
Photo              object
                   ...
GKHandling        float64
GKKicking         float64
GKPositioning     float64
GKReflexes        float64
Release Clause     object
Length: 89, dtype: object

In [ ]:
df_Fifa.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [ ]:
df_Fifa.shape

(18207, 89)

In [ ]:
# Exercício 9
# 2. Que colunas podem previamente ser eliminadas da análise? Porque identificar o que pode ser eliminado é importante?
### Colunas que eu eliminaria inicialmente (consome menos memória)
''' 
df_Fifa = df_Fifa.drop(['Unnamed: 0','Photo','Flag','Overall', 'Potential','Club Logo',
        'Special', 'Preferred Foot', 'International Reputation', 'Weak Foot',
        'Skill Moves', 'Work Rate', 'Real Face','Jersey Number','Loaned From',
        'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes'], axis = 1)
'''
###

In [ ]:
df_Fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [ ]:
pd.options.display.max_info_columns     # mostra qtde máxima de colunas que podem ser exibidas

100

In [ ]:
df_Fifa['Value']

0        €110.5M
1           €77M
2        €118.5M
3           €72M
4          €102M
          ...
18202       €60K
18203       €60K
18204       €60K
18205       €60K
18206       €60K
Name: Value, Length: 18207, dtype: object

In [ ]:
type(df_Fifa['Value'])

pandas.core.series.Series

In [ ]:
# Exercício 9
# 4. Se alguma variável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?

# Por exemplo, alterando coluna 'Value' (float) cujos dados apresentam primeiro caracter cifrão e último caracter M (million) e K (thousand)
def elimina_notacao(moeda):
    moeda = moeda.replace('€','').replace('M','').replace('K','')
    return moeda

df_Fifa['Value'] = df_Fifa['Value'].apply(elimina_notacao)
df_Fifa['Value']

In [ ]:
# Por exemplo, alterando coluna 'Value' cujos dados apresentam primeiro caracter cifrão e último caracter M (million) e K (thousand)

# Inicialmente eliminando notação:

def elimina_notacao(moeda):
    moeda = moeda.replace('€','').replace('M','').replace('K','')
    return moeda

df_Fifa['Value'] = df_Fifa['Value'].apply(elimina_notacao)
df_Fifa['Value']

0        110.5
1           77
2        118.5
3           72
4          102
         ...
18202       60
18203       60
18204       60
18205       60
18206       60
Name: Value, Length: 18207, dtype: object

In [ ]:
# Alterando string para numeric
df_Fifa['Value'] = pd.to_numeric(df_Fifa['Value'])

In [ ]:
df_Fifa['Value'][0]

'110.5'

In [ ]:
type(_311)

str

In [ ]:
# Exercício 9
# 5.a) Normalize os nomes das colunas, ou seja, renomeie o nome das colunas para minúsculo.
# 5.b) Há Missing values nos dados? 
# 5.c) Se sim, qual sua proposta (proposta do grupo) para tratar esses Missing values?

In [ ]:
# treinando mudar para minúsculo os nomes das colunas:

In [ ]:
nome_colunas = df_Fifa.columns

In [ ]:
df_Fifa.columns = [col.lower() for col in nome_colunas]

In [ ]:
df_Fifa.columns

Index(['unnamed: 0', 'id', 'name', 'age', 'photo', 'nationality', 'flag',
       'overall', 'potential', 'club', 'club logo', 'value', 'wage', 'special',
       'preferred foot', 'international reputation', 'weak foot',
       'skill moves', 'work rate', 'body type', 'real face', 'position',
       'jersey number', 'joined', 'loaned from', 'contract valid until',
       'height', 'weight', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw',
       'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm',
       'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'crossing',
       'finishing', 'headingaccuracy', 'shortpassing', 'volleys', 'dribbling',
       'curve', 'fkaccuracy', 'longpassing', 'ballcontrol', 'acceleration',
       'sprintspeed', 'agility', 'reactions', 'balance', 'shotpower',
       'jumping', 'stamina', 'strength', 'longshots', 'aggression',
       'interceptions', 'positioning', 'vision', 'penalties', 'composure',
       'marking', 'standingtackle', 'slidingtackle', 'gkdiving', 'gkhandling',
       'gkkicking', 'gkpositioning', 'gkreflexes', 'release clause'],
      dtype='object')

In [ ]:
# ou
df_Fifa_minusculo = df_Fifa.copy()
df_Fifa_minusculo = df_Fifa_minusculo.rename(columns=str.lower)

In [ ]:
df_Fifa_minusculo.columns

Index(['unnamed: 0', 'id', 'name', 'age', 'photo', 'nationality', 'flag',
       'overall', 'potential', 'club', 'club logo', 'value', 'wage', 'special',
       'preferred foot', 'international reputation', 'weak foot',
       'skill moves', 'work rate', 'body type', 'real face', 'position',
       'jersey number', 'joined', 'loaned from', 'contract valid until',
       'height', 'weight', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw',
       'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm',
       'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'crossing',
       'finishing', 'headingaccuracy', 'shortpassing', 'volleys', 'dribbling',
       'curve', 'fkaccuracy', 'longpassing', 'ballcontrol', 'acceleration',
       'sprintspeed', 'agility', 'reactions', 'balance', 'shotpower',
       'jumping', 'stamina', 'strength', 'longshots', 'aggression',
       'interceptions', 'positioning', 'vision', 'penalties', 'composure',
       'marking', 'standingtackle', 'slidingtackle', 'gkdiving', 'gkhandling',
       'gkkicking', 'gkpositioning', 'gkreflexes', 'release clause'],
      dtype='object')

In [ ]:
# Exercício 9
# 5.b) Há Missing values nos dados? 
# 5.c) Se sim, qual sua proposta (proposta do grupo) para tratar esses Missing values?

df_Fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   unnamed: 0                18207 non-null  int64
 1   id                        18207 non-null  int64
 2   name                      18207 non-null  object
 3   age                       18207 non-null  int64
 4   photo                     18207 non-null  object
 5   nationality               18207 non-null  object
 6   flag                      18207 non-null  object
 7   overall                   18207 non-null  int64
 8   potential                 18207 non-null  int64
 9   club                      17966 non-null  object
 10  club logo                 18207 non-null  object
 11  value                     18207 non-null  float64
 12  wage                      18207 non-null  object
 13  special                   18207 non-null  int64
 14  preferred foot            18159 non-null  object
 15  international reputation  18159 non-null  float64
 16  weak foot                 18159 non-null  float64
 17  skill moves               18159 non-null  float64
 18  work rate                 18159 non-null  object
 19  body type                 18159 non-null  object
 20  real face                 18159 non-null  object
 21  position                  18147 non-null  object
 22  jersey number             18147 non-null  float64
 23  joined                    16654 non-null  object
 24  loaned from               1264 non-null   object
 25  contract valid until      17918 non-null  object
 26  height                    18159 non-null  object
 27  weight                    18159 non-null  object
 28  ls                        16122 non-null  object
 29  st                        16122 non-null  object
 30  rs                        16122 non-null  object
 31  lw                        16122 non-null  object
 32  lf                        16122 non-null  object
 33  cf                        16122 non-null  object
 34  rf                        16122 non-null  object
 35  rw                        16122 non-null  object
 36  lam                       16122 non-null  object
 37  cam                       16122 non-null  object
 38  ram                       16122 non-null  object
 39  lm                        16122 non-null  object
 40  lcm                       16122 non-null  object
 41  cm                        16122 non-null  object
 42  rcm                       16122 non-null  object
 43  rm                        16122 non-null  object
 44  lwb                       16122 non-null  object
 45  ldm                       16122 non-null  object
 46  cdm                       16122 non-null  object
 47  rdm                       16122 non-null  object
 48  rwb                       16122 non-null  object
 49  lb                        16122 non-null  object
 50  lcb                       16122 non-null  object
 51  cb                        16122 non-null  object
 52  rcb                       16122 non-null  object
 53  rb                        16122 non-null  object
 54  crossing                  18159 non-null  float64
 55  finishing                 18159 non-null  float64
 56  headingaccuracy           18159 non-null  float64
 57  shortpassing              18159 non-null  float64
 58  volleys                   18159 non-null  float64
 59  dribbling                 18159 non-null  float64
 60  curve                     18159 non-null  float64
 61  fkaccuracy                18159 non-null  float64
 62  longpassing               18159 non-null  float64
 63  ballcontrol               18159 non-null  float64
 64  acceleration              18159 non-null  float64
 65  sprintspeed               18159 non-null  float64
 66  agility                   18159 non-null  float64
 67  reactions                 18159 non-null  float64
 68  balance                   18159 non-null  float64
 69  shotpower                 18159 non-null  float64
 70  jumping                   18159 non-null  float64
 71  stamina                   18159 non-null  float64
 72  strength                  18159 non-null  float64
 73  longshots                 18159 non-null  float64
 74  aggression                18159 non-null  float64
 75  interceptions             18159 non-null  float64
 76  positioning               18159 non-null  float64
 77  vision                    18159 non-null  float64
 78  penalties                 18159 non-null  float64
 79  composure                 18159 non-null  float64
 80  marking                   18159 non-null  float64
 81  standingtackle            18159 non-null  float64
 82  slidingtackle             18159 non-null  float64
 83  gkdiving                  18159 non-null  float64
 84  gkhandling                18159 non-null  float64
 85  gkkicking                 18159 non-null  float64
 86  gkpositioning             18159 non-null  float64
 87  gkreflexes                18159 non-null  float64
 88  release clause            16643 non-null  object
dtypes: float64(39), int64(6), object(44)
memory usage: 12.4+ MB

In [ ]:
# Sim, há Missing values pois ao rodar df.info() várias colunas indicam valores non-null menores que o número total de linhas (18207 linhas).

df_Fifa.isna().sum()

unnamed: 0           0
id                   0
name                 0
age                  0
photo                0
                  ...
gkhandling          48
gkkicking           48
gkpositioning       48
gkreflexes          48
release clause    1564
Length: 89, dtype: int64

In [ ]:
df_Fifa.isnull().sum()

unnamed: 0           0
id                   0
name                 0
age                  0
photo                0
                  ...
gkhandling          48
gkkicking           48
gkpositioning       48
gkreflexes          48
release clause    1564
Length: 89, dtype: int64

In [ ]:
# 6. Qual a distribuição do número de jogadores por países? Apresente uma tabela com a distribuição.
df_Fifa.head()

   unnamed: 0      id  ... gkreflexes  release clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [ ]:
df_Fifa.groupby('nationality')['nationality'].count()       # vide abaixo value_counts (tb resulta em uma série) e Counter (resulta em um dicionário)

nationality
Afghanistan      4
Albania         40
Algeria         60
Andorra          1
Angola          15
              ...
Uzbekistan       2
Venezuela       67
Wales          129
Zambia           9
Zimbabwe        13
Name: nationality, Length: 164, dtype: int64

In [ ]:
type(_121)

pandas.core.series.Series

In [ ]:
df_Fifa.value_counts(['nationality'])     # igual a: df_Fifa['nationality'].value_counts()

nationality
England        1662
Germany        1198
Spain          1072
Argentina       937
France          914
               ...
Puerto Rico       1
St Lucia          1
Qatar             1
South Sudan       1
Mauritius         1
Length: 164, dtype: int64

In [ ]:
type(_6)

pandas.core.series.Series

In [ ]:
# Dúvida: como transformar pd series em tabela como feito abaixo com o Counter?

# Descobri!!!
# pega o index e o values da series e aplica o pd.Dataframe

In [ ]:
from collections import Counter
d_nationality = Counter(df_Fifa['Nationality'])     # Counter retorna um dicionário

In [ ]:
d_nationality

Counter({'Afghanistan': 4,
         'Albania': 40,
         'Algeria': 60,
         'Andorra': 1,
         'Angola': 15,
         'Antigua & Barbuda': 4,
         'Argentina': 937,
         'Armenia': 10,
         'Australia': 236,
         'Austria': 298,
         'Azerbaijan': 5,
         'Barbados': 3,
         'Belarus': 4,
         'Belgium': 260,
         'Belize': 1,
         'Benin': 15,
         'Bermuda': 2,
         'Bolivia': 30,
         'Bosnia Herzegovina': 61,
         'Botswana': 1,
         'Brazil': 827,
         'Bulgaria': 32,
         'Burkina Faso': 16,
         'Burundi': 3,
         'Cameroon': 90,
         'Canada': 64,
         'Cape Verde': 19,
         'Central African Rep.': 3,
         'Chad': 2,
         'Chile': 391,
         'China PR': 392,
         'Colombia': 618,
         'Comoros': 6,
         'Congo': 25,
         'Costa Rica': 30,
         'Croatia': 126,
         'Cuba': 4,
         'Curacao': 14,
         'Cyprus': 8,
         'Czech Republic': 100,
         'DR Congo': 52,
         'Denmark': 336,
         'Dominican Republic': 2,
         'Ecuador': 43,
         'Egypt': 31,
         'El Salvador': 5,
         'England': 1662,
         'Equatorial Guinea': 5,
         'Eritrea': 2,
         'Estonia': 13,
         'Ethiopia': 1,
         'FYR Macedonia': 20,
         'Faroe Islands': 6,
         'Fiji': 1,
         'Finland': 67,
         'France': 914,
         'Gabon': 15,
         'Gambia': 15,
         'Georgia': 26,
         'Germany': 1198,
         'Ghana': 114,
         'Greece': 102,
         'Grenada': 1,
         'Guam': 1,
         'Guatemala': 3,
         'Guinea': 31,
         'Guinea Bissau': 15,
         'Guyana': 3,
         'Haiti': 10,
         'Honduras': 16,
         'Hong Kong': 2,
         'Hungary': 38,
         'Iceland': 47,
         'India': 30,
         'Indonesia': 1,
         'Iran': 17,
         'Iraq': 7,
         'Israel': 14,
         'Italy': 702,
         'Ivory Coast': 100,
         'Jamaica': 32,
         'Japan': 478,
         'Jordan': 1,
         'Kazakhstan': 4,
         'Kenya': 10,
         'Korea DPR': 4,
         'Korea Republic': 335,
         'Kosovo': 33,
         'Kuwait': 1,
         'Latvia': 6,
         'Lebanon': 1,
         'Liberia': 1,
         'Libya': 4,
         'Liechtenstein': 3,
         'Lithuania': 8,
         'Luxembourg': 8,
         'Madagascar': 12,
         'Mali': 43,
         'Malta': 1,
         'Mauritania': 4,
         'Mauritius': 1,
         'Mexico': 366,
         'Moldova': 5,
         'Montenegro': 23,
         'Montserrat': 4,
         'Morocco': 85,
         'Mozambique': 4,
         'Namibia': 3,
         'Netherlands': 453,
         'New Caledonia': 1,
         'New Zealand': 44,
         'Nicaragua': 2,
         'Niger': 3,
         'Nigeria': 121,
         'Northern Ireland': 80,
         'Norway': 341,
         'Oman': 1,
         'Palestine': 1,
         'Panama': 15,
         'Paraguay': 85,
         'Peru': 37,
         'Philippines': 2,
         'Poland': 350,
         'Portugal': 322,
         'Puerto Rico': 1,
         'Qatar': 1,
         'Republic of Ireland': 368,
         'Romania': 54,
         'Russia': 79,
         'Rwanda': 1,
         'Saudi Arabia': 340,
         'Scotland': 286,
         'Senegal': 130,
         'Serbia': 126,
         'Sierra Leone': 6,
         'Slovakia': 54,
         'Slovenia': 55,
         'South Africa': 71,
         'South Sudan': 1,
         'Spain': 1072,
         'St Kitts Nevis': 3,
         'St Lucia': 1,
         'Sudan': 3,
         'Suriname': 4,
         'Sweden': 397,
         'Switzerland': 220,
         'Syria': 9,
         'São Tomé & Príncipe': 1,
         'Tanzania': 3,
         'Thailand': 5,
         'Togo': 12,
         'Trinidad & Tobago': 4,
         'Tunisia': 32,
         'Turkey': 303,
         'Uganda': 6,
         'Ukraine': 73,
         'United Arab Emirates': 1,
         'United States': 353,
         'Uruguay': 149,
         'Uzbekistan': 2,
         'Venezuela': 67,
         'Wales': 129,
         'Zambia': 9,
         'Zimbabwe': 13})

In [ ]:
d_nationality.keys()

dict_keys(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia', 'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England', 'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales', 'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands', 'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria', 'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea', 'Montenegro', 'Armenia', 'Switzerland', 'Norway', 'Czech Republic', 'Scotland', 'Ghana', 'Central African Rep.', 'DR Congo', 'Ivory Coast', 'Russia', 'Ukraine', 'Iceland', 'Mexico', 'Jamaica', 'Albania', 'Venezuela', 'Japan', 'Turkey', 'Ecuador', 'Paraguay', 'Mali', 'Nigeria', 'Cameroon', 'Dominican Republic', 'Israel', 'Kenya', 'Hungary', 'Republic of Ireland', 'Romania', 'United States', 'Cape Verde', 'Australia', 'Peru', 'Togo', 'Syria', 'Zimbabwe', 'Angola', 'Burkina Faso', 'Iran', 'Estonia', 'Tunisia', 'Equatorial Guinea', 'New Zealand', 'FYR Macedonia', 'United Arab Emirates', 'China PR', 'Guinea Bissau', 'Bulgaria', 'Kosovo', 'South Africa', 'Madagascar', 'Georgia', 'Tanzania', 'Gambia', 'Cuba', 'Belarus', 'Uzbekistan', 'Benin', 'Congo', 'Mozambique', 'Honduras', 'Canada', 'Northern Ireland', 'Cyprus', 'Saudi Arabia', 'Curacao', 'Moldova', 'Bolivia', 'Trinidad & Tobago', 'Sierra Leone', 'Zambia', 'Chad', 'Philippines', 'Haiti', 'Comoros', 'Libya', 'Panama', 'São Tomé & Príncipe', 'Eritrea', 'Oman', 'Iraq', 'Burundi', 'Fiji', 'New Caledonia', 'Lithuania', 'Luxembourg', 'Korea DPR', 'Liechtenstein', 'St Kitts Nevis', 'Latvia', 'Suriname', 'Uganda', 'El Salvador', 'Bermuda', 'Kuwait', 'Antigua & Barbuda', 'Thailand', 'Mauritius', 'Guatemala', 'Liberia', 'Kazakhstan', 'Niger', 'Mauritania', 'Montserrat', 'Namibia', 'Azerbaijan', 'Guam', 'Faroe Islands', 'India', 'Nicaragua', 'Barbados', 'Lebanon', 'Palestine', 'Guyana', 'Sudan', 'St Lucia', 'Ethiopia', 'Puerto Rico', 'Grenada', 'Jordan', 'Rwanda', 'Qatar', 'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize', 'South Sudan', 'Indonesia', 'Botswana'])

In [ ]:
d_nationality.values()

dict_values([937, 322, 827, 1072, 260, 126, 149, 55, 350, 1198, 914, 1662, 702, 31, 618, 336, 15, 129, 130, 30, 54, 453, 61, 85, 126, 60, 298, 102, 391, 397, 335, 67, 31, 23, 10, 220, 341, 100, 286, 114, 3, 52, 100, 79, 73, 47, 366, 32, 40, 67, 478, 303, 43, 85, 43, 121, 90, 2, 14, 10, 38, 368, 54, 353, 19, 236, 37, 12, 9, 13, 15, 16, 17, 13, 32, 5, 44, 20, 1, 392, 15, 32, 33, 71, 12, 26, 3, 15, 4, 4, 2, 15, 25, 4, 16, 64, 80, 8, 340, 14, 5, 30, 4, 6, 9, 2, 2, 10, 6, 4, 15, 1, 2, 1, 7, 3, 1, 1, 8, 8, 4, 3, 3, 6, 4, 6, 5, 2, 1, 4, 5, 1, 3, 1, 4, 3, 4, 4, 3, 5, 1, 6, 30, 2, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 4, 2, 1, 1, 1, 1, 1, 1])

In [ ]:
df_nationality = pd.DataFrame({'Nome do País': d_nationality.keys(), 'Número de Jogadores' : d_nationality.values()})

In [ ]:
df_nationality        # não está em ordem decrescente de qtde de jogadores

    Nome do País  Número de Jogadores
0      Argentina                  937
1       Portugal                  322
2         Brazil                  827
3          Spain                 1072
4        Belgium                  260
..           ...                  ...
159        Malta                    1
160       Belize                    1
161  South Sudan                    1
162    Indonesia                    1
163     Botswana                    1

[164 rows x 2 columns]

In [ ]:
df_nationality.sort_values(by=['Número de Jogadores'], ascending= False, inplace= True, ignore_index= True)

In [ ]:
df_nationality

             Nome do País  Número de Jogadores
0                 England                 1662
1                 Germany                 1198
2                   Spain                 1072
3               Argentina                  937
4                  France                  914
..                    ...                  ...
159         New Caledonia                    1
160                  Fiji                    1
161   São Tomé & Príncipe                    1
162  United Arab Emirates                    1
163              Botswana                    1

[164 rows x 2 columns]

In [ ]:
# 7. Qual a média de idade dos jogadores por países (variável/atributo 'Nacionality')
# Resolução

In [ ]:
df_nat_age = df_Fifa[['Nationality','Age']]

In [ ]:
df_nat_age

      Nationality  Age
0       Argentina   31
1        Portugal   33
2          Brazil   26
3           Spain   27
4         Belgium   27
...           ...  ...
18202     England   19
18203      Sweden   19
18204     England   16
18205     England   17
18206     England   16

[18207 rows x 2 columns]

In [ ]:
df_nat_age.shape[0]

18207

In [ ]:
df_nationality.shape[0]

164

In [ ]:
df_nat_md_age = pd.DataFrame({'Nome do País': d_nationality.keys(), 'Número de Jogadores' : d_nationality.values(), 'Soma das idades': 0})

In [ ]:
df_nat_md_age

    Nome do País  Número de Jogadores  Soma das idades
0      Argentina                  937                0
1       Portugal                  322                0
2         Brazil                  827                0
3          Spain                 1072                0
4        Belgium                  260                0
..           ...                  ...              ...
159        Malta                    1                0
160       Belize                    1                0
161  South Sudan                    1                0
162    Indonesia                    1                0
163     Botswana                    1                0

[164 rows x 3 columns]

In [ ]:
# Calculando a média de idade dos jogadores por país "na unha" (sem usar 'groupby'):

# df_nat_age.shape[0]       # 18207
# df_nationality2.shape[0]   # 164

df_nationality2 = pd.DataFrame({'Nome do País': d_nationality.keys(), 'Número de Jogadores' : d_nationality.values(), 'Soma das idades': 0})
linha_1 = 0
while linha_1 < df_nationality2.shape[0]: # 164
  soma_age = 0
  linha_2 = 0
  while linha_2 < df_nat_age.shape[0]:  # 18207
    if df_nat_age.iat[linha_2,0] == df_nationality2.iat[linha_1,0]:
      soma_age = soma_age + df_nat_age.iat[linha_2,1]
    linha_2 = linha_2 + 1
  df_nationality2.iat[linha_1,2] = soma_age
  linha_1 = linha_1 + 1

In [ ]:
df_nationality2

    Nome do País  Número de Jogadores  Soma das idades
0      Argentina                  937            24555
1       Portugal                  322             8295
2         Brazil                  827            22846
3          Spain                 1072            27149
4        Belgium                  260             6327
..           ...                  ...              ...
159        Malta                    1               25
160       Belize                    1               25
161  South Sudan                    1               25
162    Indonesia                    1               17
163     Botswana                    1               20

[164 rows x 3 columns]

In [ ]:
df_nationality2['Nome do País'] == 'Afghanistan'

0      False
1      False
2      False
3      False
4      False
       ...
159    False
160    False
161    False
162    False
163    False
Name: Nome do País, Length: 164, dtype: bool

In [ ]:
df_nationality2[_131]

    Nome do País  Número de Jogadores  Soma das idades  Média_Idade
109  Afghanistan                    4               90         22.5

In [ ]:
df_nationality2['Média Idade por país'] = round(df_nationality2['Soma das idades'] / df_nationality2['Número de Jogadores'], 2)

In [ ]:
df_nationality2

    Nome do País  Número de Jogadores  Soma das idades  Média Idade por país
0      Argentina                  937            24555                 26.21
1       Portugal                  322             8295                 25.76
2         Brazil                  827            22846                 27.63
3          Spain                 1072            27149                 25.33
4        Belgium                  260             6327                 24.33
..           ...                  ...              ...                   ...
159        Malta                    1               25                 25.00
160       Belize                    1               25                 25.00
161  South Sudan                    1               25                 25.00
162    Indonesia                    1               17                 17.00
163     Botswana                    1               20                 20.00

[164 rows x 4 columns]

In [ ]:
df_nationality2.sort_values(by=['Número de Jogadores'], ascending= False, inplace= True, ignore_index= True)

In [ ]:
df_nationality2

             Nome do País  ...  Média Idade por país
0                 England  ...                 24.03
1                 Germany  ...                 24.34
2                   Spain  ...                 25.33
3               Argentina  ...                 26.21
4                  France  ...                 24.62
..                    ...  ...                   ...
159         New Caledonia  ...                 30.00
160                  Fiji  ...                 30.00
161   São Tomé & Príncipe  ...                 31.00
162  United Arab Emirates  ...                 26.00
163              Botswana  ...                 20.00

[164 rows x 4 columns]

In [ ]:
# Calculando o mesmo exercício 9.17 (média de idade dos jogadores por país) usando o groupby
nat_age_soma = df_Fifa.groupby('Nationality')['Age'].sum()

In [ ]:
nat_age_soma.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Wales', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Nationality', length=164)

In [ ]:
nat_age_soma.values

array([   90,   961,  1623,    28,   388,    91, 24555,   268,  5760,
        7347,   130,    83,   115,  6327,    25,   391,    55,   766,
        1586,    20, 22846,   859,   402,    70,  2210,  1552,   521,
          77,    45,  9804, 10225, 15599,   159,   599,   792,  3135,
          95,   355,   192,  2676,  1339,  8113,    46,  1082,   836,
         131, 39938,   127,    54,   353,    32,   502,   145,    30,
        1659, 22499,   391,   348,   625, 29157,  2697,  2497,    25,
          30,    80,   765,   347,    82,   239,   429,    56,   970,
        1216,   748,    17,   429,   176,   395, 18202,  2518,   900,
       12504,    23,   105,   248,   114,  8828,   774,    31,   174,
          29,    25,   100,    76,   199,   186,   330,  1064,    25,
          92,    26,  8901,   118,   575,   102,  2201,   104,    74,
       10872,    30,  1067,    58,    74,  2791,  1995,  8202,    36,
          31,   396,  2218,   957,    47,  8596,  8295,    34,    24,
        9078,  1372,  1972,    21,  8350,  7131,  3297,  3231,   149,
        1419,  1456,  1876,    25, 27149,    79,    24,    79,   101,
        9861,  5421,   234,    31,    66,   125,   339,   127,   847,
        7488,   143,  1835,    26,  8857,  3965,    59,  1629,  3191,
         200,   349])

In [ ]:
nat_nat_numjog = df_Fifa.groupby('Nationality')['Nationality'].count()

In [ ]:
nat_nat_numjog.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Wales', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Nationality', length=164)

In [ ]:
nat_nat_numjog.values

array([   4,   40,   60,    1,   15,    4,  937,   10,  236,  298,    5,
          3,    4,  260,    1,   15,    2,   30,   61,    1,  827,   32,
         16,    3,   90,   64,   19,    3,    2,  391,  392,  618,    6,
         25,   30,  126,    4,   14,    8,  100,   52,  336,    2,   43,
         31,    5, 1662,    5,    2,   13,    1,   20,    6,    1,   67,
        914,   15,   15,   26, 1198,  114,  102,    1,    1,    3,   31,
         15,    3,   10,   16,    2,   38,   47,   30,    1,   17,    7,
         14,  702,  100,   32,  478,    1,    4,   10,    4,  335,   33,
          1,    6,    1,    1,    4,    3,    8,    8,   12,   43,    1,
          4,    1,  366,    5,   23,    4,   85,    4,    3,  453,    1,
         44,    2,    3,  121,   80,  341,    1,    1,   15,   85,   37,
          2,  350,  322,    1,    1,  368,   54,   79,    1,  340,  286,
        130,  126,    6,   54,   55,   71,    1, 1072,    3,    1,    3,
          4,  397,  220,    9,    1,    3,    5,   12,    4,   32,  303,
          6,   73,    1,  353,  149,    2,   67,  129,    9,   13])

In [ ]:
nat_numjog_somaidade = pd.DataFrame({'Nationality': nat_nat_numjog.index, 'Num Jogadores': nat_nat_numjog.values, 'Somatória Idade': nat_age_soma.values})

In [ ]:
nat_numjog_somaidade

     Nationality  Num jogadores  Somatória Idade
0    Afghanistan              4               90
1        Albania             40              961
2        Algeria             60             1623
3        Andorra              1               28
4         Angola             15              388
..           ...            ...              ...
159   Uzbekistan              2               59
160    Venezuela             67             1629
161        Wales            129             3191
162       Zambia              9              200
163     Zimbabwe             13              349

[164 rows x 3 columns]

In [ ]:
nat_numjog_somaidade['Média Idade dos jogadores por país'] = nat_numjog_somaidade['Somatória Idade'] / nat_numjog_somaidade['Num Jogadores']

In [ ]:
nat_numjog_somaidade

     Nationality  ...  Média Idade dos jogadores por país
0    Afghanistan  ...                           22.500000
1        Albania  ...                           24.025000
2        Algeria  ...                           27.050000
3        Andorra  ...                           28.000000
4         Angola  ...                           25.866667
..           ...  ...                                 ...
159   Uzbekistan  ...                           29.500000
160    Venezuela  ...                           24.313433
161        Wales  ...                           24.736434
162       Zambia  ...                           22.222222
163     Zimbabwe  ...                           26.846154

[164 rows x 4 columns]

In [ ]:
# df_Fifa.groupby('nationality')['nationality'].count()
# nationality
# Afghanistan      4

# df_Fifa.groupby('nationality')['age'].sum()
# nationality
# Afghanistan      90

In [ ]:
# 8. Qual o número de jogadores por idade?

df_Fifa.groupby('Age')['Age'].count()

Age
16      42
17     289
18     732
19    1024
20    1240
21    1423
22    1340
23    1332
24    1358
25    1319
26    1387
27    1162
28    1101
29     959
30     917
31     707
32     574
33     408
34     404
35     196
36     127
37      82
38      37
39      25
40      13
41       5
42       1
44       2
45       1
Name: Age, dtype: int64

In [ ]:
df_numjog_idade = pd.DataFrame({'Idade':(df_Fifa.groupby('Age')['Age'].count()).index, 'Num Jogadores':(df_Fifa.groupby('Age')['Age'].count()).values})
df_numjog_idade

    Idade  Num Jogadores
0      16             42
1      17            289
2      18            732
3      19           1024
4      20           1240
5      21           1423
6      22           1340
7      23           1332
8      24           1358
9      25           1319
10     26           1387
11     27           1162
12     28           1101
13     29            959
14     30            917
15     31            707
16     32            574
17     33            408
18     34            404
19     35            196
20     36            127
21     37             82
22     38             37
23     39             25
24     40             13
25     41              5
26     42              1
27     44              2
28     45              1

In [ ]:
# 9. Quantos jogadores possuem cada clube?

df_Fifa.head(1)

   unnamed: 0      id      name  ...  gkpositioning gkreflexes release clause
0           0  158023  L. Messi  ...           14.0        8.0        €226.5M

[1 rows x 89 columns]

In [ ]:
df_Fifa['Club']

0               FC Barcelona
1                   Juventus
2        Paris Saint-Germain
3          Manchester United
4            Manchester City
                ...
18202        Crewe Alexandra
18203         Trelleborgs FF
18204       Cambridge United
18205        Tranmere Rovers
18206        Tranmere Rovers
Name: Club, Length: 18207, dtype: object

In [ ]:
_160.unique()

In [ ]:
_162.size

652

In [ ]:
df_Fifa.groupby('Club')['Club'].count()     # retorna valores "not NaN" => 651

Club
 SSV Jahn Regensburg     29
1. FC Heidenheim 1846    28
1. FC Kaiserslautern     26
1. FC Köln               28
1. FC Magdeburg          26
                         ..
Zagłębie Sosnowiec       25
Çaykur Rizespor          30
Örebro SK                27
Östersunds FK            22
Śląsk Wrocław            25
Name: Club, Length: 651, dtype: int64

In [ ]:
_172.index

Index([' SSV Jahn Regensburg', '1. FC Heidenheim 1846', '1. FC Kaiserslautern',
       '1. FC Köln', '1. FC Magdeburg', '1. FC Nürnberg', '1. FC Union Berlin',
       '1. FSV Mainz 05', 'AC Ajaccio', 'AC Horsens',
       ...
       'Wycombe Wanderers', 'Yeni Malatyaspor', 'Yeovil Town',
       'Yokohama F. Marinos', 'Zagłębie Lubin', 'Zagłębie Sosnowiec',
       'Çaykur Rizespor', 'Örebro SK', 'Östersunds FK', 'Śląsk Wrocław'],
      dtype='object', name='club', length=651)

In [ ]:
_173.unique()

Index([' SSV Jahn Regensburg', '1. FC Heidenheim 1846', '1. FC Kaiserslautern',
       '1. FC Köln', '1. FC Magdeburg', '1. FC Nürnberg', '1. FC Union Berlin',
       '1. FSV Mainz 05', 'AC Ajaccio', 'AC Horsens',
       ...
       'Wycombe Wanderers', 'Yeni Malatyaspor', 'Yeovil Town',
       'Yokohama F. Marinos', 'Zagłębie Lubin', 'Zagłębie Sosnowiec',
       'Çaykur Rizespor', 'Örebro SK', 'Östersunds FK', 'Śląsk Wrocław'],
      dtype='object', name='club', length=651)

In [ ]:
_158.size

651

In [ ]:
l1 = pd.Series((df_Fifa.groupby('Club')['Club'].count()).index)

In [ ]:
l2 = pd.Series((df_Fifa['Club'].unique()))      # retorna inclusive valores NaN => 652

In [ ]:
l1

0        SSV Jahn Regensburg
1      1. FC Heidenheim 1846
2       1. FC Kaiserslautern
3                 1. FC Köln
4            1. FC Magdeburg
               ...
646       Zagłębie Sosnowiec
647          Çaykur Rizespor
648                Örebro SK
649            Östersunds FK
650            Śląsk Wrocław
Name: club, Length: 651, dtype: object

In [ ]:
l2

0             FC Barcelona
1                 Juventus
2      Paris Saint-Germain
3        Manchester United
4          Manchester City
              ...
647         Newport County
648           Sligo Rovers
649             Derry City
650            Limerick FC
651         Bray Wanderers
Length: 652, dtype: object

In [ ]:
(df_Fifa['Club'].unique()).size

652

In [ ]:
l2[l2.isnull()]

85    NaN
dtype: object

In [ ]:
l2[85]

nan

In [ ]:
# Resposta do Exercício 9.9
df_club_numjog = pd.DataFrame({'Club': (df_Fifa.groupby('Club')['Club'].count()).index, 'Num Jogadores': (df_Fifa.groupby('Club')['Club'].count()).values})

In [ ]:
df_club_numjog

                      club  num jogadores
0      SSV Jahn Regensburg             29
1    1. FC Heidenheim 1846             28
2     1. FC Kaiserslautern             26
3               1. FC Köln             28
4          1. FC Magdeburg             26
..                     ...            ...
646     Zagłębie Sosnowiec             25
647        Çaykur Rizespor             30
648              Örebro SK             27
649          Östersunds FK             22
650          Śląsk Wrocław             25

[651 rows x 2 columns]

In [ ]:
df_club_numjog['Num Jogadores'].sum()     
# 18207 => qtde de jogadores
# 17966 => qtde de jogadores com 'club' not NaN
# 18207 - 17966 = 241 => qtde de jogadores com 'club' NaN

17966

In [ ]:
df_Fifa['Club'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
18202    False
18203    False
18204    False
18205    False
18206    False
Name: club, Length: 18207, dtype: bool

In [ ]:
df_Fifa[df_Fifa['Club'].isnull()]

       unnamed: 0      id  ... gkreflexes  release clause
452           452  207439  ...       10.0             NaN
538           538  156713  ...       15.0             NaN
568           568  229909  ...       85.0             NaN
677           677  187347  ...       15.0             NaN
874           874  187607  ...        8.0             NaN
...           ...     ...  ...        ...             ...
17197       17197  245164  ...       53.0             NaN
17215       17215  243131  ...       12.0             NaN
17339       17339  233526  ...       10.0             NaN
17436       17436  236452  ...       11.0             NaN
17539       17539  234508  ...        8.0             NaN

[241 rows x 89 columns]

In [ ]:
df_Fifa['Club Logo'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
18202    False
18203    False
18204    False
18205    False
18206    False
Name: Club Logo, Length: 18207, dtype: bool

In [ ]:
df_Fifa[df_Fifa['Club Logo'].isna()]

Empty DataFrame
Columns: [unnamed: 0, id, name, age, photo, nationality, flag, overall, potential, club, club logo, value, wage, special, preferred foot, international reputation, weak foot, skill moves, work rate, body type, real face, position, jersey number, joined, loaned from, contract valid until, height, weight, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, lcb, cb, rcb, rb, crossing, finishing, headingaccuracy, shortpassing, volleys, dribbling, curve, fkaccuracy, longpassing, ballcontrol, acceleration, sprintspeed, agility, reactions, balance, shotpower, jumping, stamina, strength, longshots, aggression, interceptions, positioning, vision, penalties, composure, marking, standingtackle, slidingtackle, gkdiving, gkhandling, gkkicking, gkpositioning, gkreflexes, release clause]
Index: []

[0 rows x 89 columns]

In [ ]:
df_Fifa[df_Fifa['Flag'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Photo, Nationality, Flag, Overall, Potential, Club, Club Logo, Value, Wage, Special, Preferred Foot, International Reputation, Weak Foot, Skill Moves, Work Rate, Body Type, Real Face, Position, Jersey Number, Joined, Loaned From, Contract Valid Until, Height, Weight, LS, ST, RS, LW, LF, CF, RF, RW, LAM, CAM, RAM, LM, LCM, CM, RCM, RM, LWB, LDM, CDM, RDM, RWB, LB, LCB, CB, RCB, RB, Crossing, Finishing, HeadingAccuracy, ShortPassing, Volleys, Dribbling, Curve, FKAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, Balance, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, GKDiving, GKHandling, GKKicking, GKPositioning, GKReflexes, Release Clause]
Index: []

[0 rows x 89 columns]

In [ ]:
'https://cdn.sofifa.org/flags/52.png' isin

In [ ]:
a_club_logo = df_Fifa['Club Logo'].unique()

In [ ]:
type(a_club_logo)

numpy.ndarray

In [ ]:
len(a_club_logo)

679

In [ ]:
a_club_logo

In [ ]:
a_flag = df_Fifa['Flag'].unique()

In [ ]:
type(a_flag)

numpy.ndarray

In [ ]:
len(a_flag)

164

In [ ]:
a_flag

In [ ]:
df_fccl = df_Fifa[['Flag','Club','Club Logo']]

In [ ]:
df_fccl[df_fccl['club logo'] == 'https://cdn.sofifa.org/flags/52.png']

                                    flag  ...                            club logo
452  https://cdn.sofifa.org/flags/52.png  ...  https://cdn.sofifa.org/flags/52.png

[1 rows x 3 columns]

In [ ]:
df_Fifa[df_Fifa['Club'].isnull()].head()

     Unnamed: 0      ID  ... GKReflexes  Release Clause
452         452  207439  ...       10.0             NaN
538         538  156713  ...       15.0             NaN
568         568  229909  ...       85.0             NaN
677         677  187347  ...       15.0             NaN
874         874  187607  ...        8.0             NaN

[5 rows x 89 columns]

In [ ]:
# 10. Qual a média de idade por clube?

df_Fifa.groupby('Club')['Age'].sum()

Club
 SSV Jahn Regensburg     744
1. FC Heidenheim 1846    672
1. FC Kaiserslautern     620
1. FC Köln               681
1. FC Magdeburg          642
                        ...
Zagłębie Sosnowiec       656
Çaykur Rizespor          763
Örebro SK                649
Östersunds FK            525
Śląsk Wrocław            649
Name: Age, Length: 651, dtype: int64

In [ ]:
# Dúvida: não consigo fazer divisão entre ndarrays?
(df_Fifa.groupby('Club')['Age'].sum()).values() / (df_Fifa.groupby('Club')['Club'].count()).values()

TypeError: ignored

In [ ]:
df_media_idade_por_clube = pd.DataFrame({'Club': (df_Fifa.groupby('Club')['Age'].sum()).index,
                                         'Somatório Idade': (df_Fifa.groupby('Club')['Age'].sum()).values, 
                                         'Num Jogadores': (df_Fifa.groupby('Club')['Club'].count()).values})

In [ ]:
df_media_idade_por_clube.head()

                    Club  Somatório Idade  Num Jogadores
0    SSV Jahn Regensburg              744             29
1  1. FC Heidenheim 1846              672             28
2   1. FC Kaiserslautern              620             26
3             1. FC Köln              681             28
4        1. FC Magdeburg              642             26

In [ ]:
df_media_idade_por_clube['Média de idade por Clube']= df_media_idade_por_clube['Somatório Idade'] / df_media_idade_por_clube['Num Jogadores']

In [ ]:
df_media_idade_por_clube

                      Club  ...  Média de idade por Clube
0      SSV Jahn Regensburg  ...                 25.655172
1    1. FC Heidenheim 1846  ...                 24.000000
2     1. FC Kaiserslautern  ...                 23.846154
3               1. FC Köln  ...                 24.321429
4          1. FC Magdeburg  ...                 24.692308
..                     ...  ...                       ...
646     Zagłębie Sosnowiec  ...                 26.240000
647        Çaykur Rizespor  ...                 25.433333
648              Örebro SK  ...                 24.037037
649          Östersunds FK  ...                 23.863636
650          Śląsk Wrocław  ...                 25.960000

[651 rows x 4 columns]

In [ ]:
# 11. Qual a média de salário por país?   # wage

In [ ]:
df_Fifa.columns

Index(['unnamed: 0', 'id', 'name', 'age', 'photo', 'nationality', 'flag',
       'overall', 'potential', 'club', 'club logo', 'value', 'wage', 'special',
       'preferred foot', 'international reputation', 'weak foot',
       'skill moves', 'work rate', 'body type', 'real face', 'position',
       'jersey number', 'joined', 'loaned from', 'contract valid until',
       'height', 'weight', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw',
       'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm',
       'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'crossing',
       'finishing', 'headingaccuracy', 'shortpassing', 'volleys', 'dribbling',
       'curve', 'fkaccuracy', 'longpassing', 'ballcontrol', 'acceleration',
       'sprintspeed', 'agility', 'reactions', 'balance', 'shotpower',
       'jumping', 'stamina', 'strength', 'longshots', 'aggression',
       'interceptions', 'positioning', 'vision', 'penalties', 'composure',
       'marking', 'standingtackle', 'slidingtackle', 'gkdiving', 'gkhandling',
       'gkkicking', 'gkpositioning', 'gkreflexes', 'release clause'],
      dtype='object')

In [ ]:
df_Fifa['Wage']

0        €565K
1        €405K
2        €290K
3        €260K
4        €355K
         ...
18202      €1K
18203      €1K
18204      €1K
18205      €1K
18206      €1K
Name: Wage, Length: 18207, dtype: object

In [ ]:
df_Fifa2 = df_Fifa.copy()

In [ ]:
def elimina_caracter(moeda):
  moeda = moeda.replace("€","").replace("M","000000").replace("K","000")
  return moeda

In [ ]:
df_Fifa2['Wage'] = df_Fifa2['Wage'].apply(elimina_caracter)

In [ ]:
df_Fifa2['Wage'] = pd.to_numeric(df_Fifa2['Wage'])

In [ ]:
df_Fifa2['Wage']

0        565000
1        405000
2        290000
3        260000
4        355000
          ...
18202      1000
18203      1000
18204      1000
18205      1000
18206      1000
Name: Wage, Length: 18207, dtype: int64

In [ ]:
# Dúvida: sintaxe
'''
* Os componentes do comando Groupby()
    * **Grouping_Column** - Coluna Categórica pelo qual os dados serão agrupados;
    * **Aggregating_Column** - Coluna numérica cujos valores serão agrupados;
    * **Aggregating_Function** - Função agregadora, ou seja: sum, min, max, mean, median, etc...

df.groupby('Grouping_Column').agg({'Aggregating_Column': 'Aggregating_Function'})
OU
df['Aggregating_Column'].groupby(df['Grouping_Column']).Function()
'''

In [ ]:
s_nat_wage = df_Fifa2.groupby('Nationality')['Wage'].sum()

In [ ]:
s_nat_jog = df_Fifa2.groupby('Nationality')['Nationality'].count()

In [ ]:
type(s_nat_wage)

pandas.core.series.Series

In [ ]:
df_nat_wage = pd.DataFrame({'Nationality':s_nat_wage.index,'Wage':s_nat_wage.values, "Número de Jogadores":s_nat_jog.values})

In [ ]:
df_nat_wage['Média Salário por país'] = round(df_nat_wage['Wage']/df_nat_wage['Número de Jogadores'],2)

In [ ]:
df_nat_wage       # Resposta do Exercício 9.11

     Nationality     Wage  Número de Jogadores  Média Salário por país
0    Afghanistan     5000                    4                 1250.00
1        Albania   284000                   40                 7100.00
2        Algeria  1085000                   60                18083.33
3        Andorra     1000                    1                 1000.00
4         Angola   115000                   15                 7666.67
..           ...      ...                  ...                     ...
159   Uzbekistan    18000                    2                 9000.00
160    Venezuela   415000                   67                 6194.03
161        Wales  1560000                  129                12093.02
162       Zambia    31000                    9                 3444.44
163     Zimbabwe    89000                   13                 6846.15

[164 rows x 4 columns]

In [ ]:
# 12. Qual a média de salário por clube?
s_club_wage = df_Fifa2.groupby('Club')['Wage'].sum()

In [ ]:
s_club_jog = df_Fifa2.groupby('Club')['Club'].count()

In [ ]:
df_club_md_sal = pd.DataFrame({'Club':s_club_jog.index,'Somatória Wage':s_club_wage.values,"Núm Jogadores":s_club_jog.values})

In [ ]:
df_club_md_sal['Média Salário por Clube'] = round(df_club_md_sal['Somatória Wage']/df_club_md_sal['Núm Jogadores'],2)

In [ ]:
df_club_md_sal

                      Club  ...  Média Salário por Clube
0      SSV Jahn Regensburg  ...                  4241.38
1    1. FC Heidenheim 1846  ...                  4464.29
2     1. FC Kaiserslautern  ...                  1692.31
3               1. FC Köln  ...                 13285.71
4          1. FC Magdeburg  ...                  4884.62
..                     ...  ...                      ...
646     Zagłębie Sosnowiec  ...                  1080.00
647        Çaykur Rizespor  ...                  6433.33
648              Örebro SK  ...                  1481.48
649          Östersunds FK  ...                  2045.45
650          Śląsk Wrocław  ...                  2040.00

[651 rows x 4 columns]

In [ ]:
# 13. Qual a média de salário por idade?

In [ ]:
s_age_age = df_Fifa2.groupby('Age')['Age'].count()

In [ ]:
s_age_wage = df_Fifa2.groupby('Age')['Wage'].sum()

In [ ]:
df_age_md_wage = pd.DataFrame({'Age':s_age_age.index, 'Somatória Wage': s_age_wage.values})

In [ ]:
df_age_md_wage['Média salarial por idade'] = round(df_age_md_wage['Somatória Wage']/df_age_md_wage['Age'],2)

In [ ]:
df_age_md_wage

    Age  Somatória Wage  Média salarial por idade
0    16           49000                   3062.50
1    17          619000                  36411.76
2    18         1632000                  90666.67
3    19         2823000                 148578.95
4    20         5897000                 294850.00
5    21         8782000                 418190.48
6    22        10577000                 480772.73
7    23        11504000                 500173.91
8    24        13441000                 560041.67
9    25        14858000                 594320.00
10   26        17863000                 687038.46
11   27        15793000                 584925.93
12   28        15323000                 547250.00
13   29        13481000                 464862.07
14   30        12342000                 411400.00
15   31        11296000                 364387.10
16   32         8062000                 251937.50
17   33         5356000                 162303.03
18   34         4368000                 128470.59
19   35         1353000                  38657.14
20   36          745000                  20694.44
21   37          582000                  15729.73
22   38          180000                   4736.84
23   39          113000                   2897.44
24   40          118000                   2950.00
25   41           10000                    243.90
26   42            1000                     23.81
27   44            2000                     45.45
28   45            8000                    177.78

In [ ]:
# 14. Quanto cada clube gasta com pagamento de salários?
df_Fifa2.groupby('Club')['Wage'].sum()

Club
 SSV Jahn Regensburg     123000
1. FC Heidenheim 1846    125000
1. FC Kaiserslautern      44000
1. FC Köln               372000
1. FC Magdeburg          127000
                          ...
Zagłębie Sosnowiec        27000
Çaykur Rizespor          193000
Örebro SK                 40000
Östersunds FK             45000
Śląsk Wrocław             51000
Name: Wage, Length: 651, dtype: int64

In [ ]:
df_14 = pd.DataFrame({'Club':_35.index, 'Somatória Wage':_35.values})

In [ ]:
df_14.head()

                    Club  Somatória Wage
0    SSV Jahn Regensburg          123000
1  1. FC Heidenheim 1846          125000
2   1. FC Kaiserslautern           44000
3             1. FC Köln          372000
4        1. FC Magdeburg          127000

In [ ]:
# 15. Quais são os insight (o que você consegue descobrir) em relação à variável 'Potential' (mede o potencial dos jogadores)?

In [ ]:
# 16. Quais os insights em relação à variável overall (nota média do atleta) por idade, clube e país?
# 17. Quais são os melhores clubes se levarmos em consideração as variáveis Potential e Overall?
# 18. Apresente o ranking dos goleiros (use a variável/atributo 'Preferred Positions') por Potencial, Overall. Estamos à procura de 'GK'.
# 19. Quem são os jogadores mais rápidos (variável/atributo 'Sprint speed'=?
# 20. Quem são os 5 melhores jogadores em termos de chute (força para chutar) (use a variável/atributo 'Shot power')?
# 21. Quem são os outliers em termos de salário?
# 22. Quem são os outliers em termos de potência no chute?