In [169]:
import numpy as np
import pandas as pd

In [170]:
def Calcula_ERRO(df_Resultado, df_Participante):
    df_Resultado2= pd.merge(df_Resultado, df_Participante, on= 'id')
    RMSE= np.sqrt(((df_Resultado2['Predito'] - df_Resultado2['Resultado'])** 2).mean())    
    return RMSE

In [179]:
import glob
paths = glob.glob('/home/nsolucoes4ds/Downloads/Hackaton/*.csv') # Pasta dos csv (respostas submetidas pelos participantes)

In [180]:
type(paths)

list

In [181]:
paths

['/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team2.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team4.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team3.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team1.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team5.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/Resultado.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team6.csv']

In [182]:
# Carregamos as verdadeiras respostas:
df_Resultado= pd.read_csv('/home/nsolucoes4ds/Downloads/Hackaton/Resultado.csv', index_col= 'id')
df_Resultado

    Resultado
id
1        0.30
2        0.45
3        0.90
4        0.25
5        0.81
6        0.10
7        0.20
8        0.95

In [183]:
# Deletamos a resposta da lista de csv files:
paths.remove('/home/nsolucoes4ds/Downloads/Hackaton/Resultado.csv')
paths

['/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team2.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team4.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team3.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team1.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team5.csv',
 '/home/nsolucoes4ds/Downloads/Hackaton/XPTO_team6.csv']

In [184]:
l_teams= []
l_Resultados= []

for file in paths:
    file2= file.split('/')[5].split('.')[0]
    l_teams.append(file2)
    df= pd.read_csv(file, index_col= 'id')
    l_Resultados.append(Calcula_Acuracia(df_Resultado, df))

In [185]:
l_teams

['XPTO_team2',
 'XPTO_team4',
 'XPTO_team3',
 'XPTO_team1',
 'XPTO_team5',
 'XPTO_team6']

In [186]:
l_Resultados

[0.08845903006477064,
 0.15231546211727817,
 0.12942179105544785,
 0.15272524349301264,
 0.0,
 0.017677669529663684]

In [187]:
dados= list(zip(l_teams, l_Resultados))
dados

[('XPTO_team2', 0.08845903006477064),
 ('XPTO_team4', 0.15231546211727817),
 ('XPTO_team3', 0.12942179105544785),
 ('XPTO_team1', 0.15272524349301264),
 ('XPTO_team5', 0.0),
 ('XPTO_team6', 0.017677669529663684)]

In [188]:
# Cria o dataframe
df_Hackaton= pd.DataFrame(dados, columns=['Equipes','Resultado'])

      Equipes  Resultado
0  XPTO_team2   0.088459
1  XPTO_team4   0.152315
2  XPTO_team3   0.129422
3  XPTO_team1   0.152725
4  XPTO_team5   0.000000
5  XPTO_team6   0.017678

In [193]:
df_Hackaton.sort_values(by='Resultado', ascending=True)

      Equipes  Resultado
4  XPTO_team5   0.000000
5  XPTO_team6   0.017678
0  XPTO_team2   0.088459
2  XPTO_team3   0.129422
1  XPTO_team4   0.152315
3  XPTO_team1   0.152725