<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB06_01__Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>LISTS</i></b></h1></center>

# **AGENDA**:

> Veja o **índice** dos itens que serão abordados neste capítulo.

___
# **LISTS**

* List - Coleção ordenada e mutável de itens. 
* Permite itens duplicados;
* List são representados por "[ ]";
* Exemplos de **MÉTODOS** listas: append(), insert(), remove(), sort(), entre outros.

![PythonDataStructures](https://github.com/MathMachado/Materials/blob/master/PythonDataStructures.png?raw=true)

___
# **EXEMPLOS**

* Foco na forma como atribuimos itens às listas.

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Orange', 'Lemon']
l_numeros = [1, 4, 8, 3, 6, 7]

Verificando o tipo da variável l_numeros:

In [ ]:
type(l_numeros)

list

Verificando o tipo da variável l_frutas:

In [ ]:
type(l_frutas)

list

## Exemplo 1: Atribuindo números aleatórios inteiros à lista

In [ ]:
import numpy as np

# seed random number generator
np.random.seed(20111974)

# Cria um objeto do tipo list vazia...
l_numeros2 = []

# Loop para gerar 10 números aleatórios inteiros...
for _ in range(10):
    l_numeros2.append(np.random.randint(1, 101))

In [ ]:
# Verificando o tipo da variável l_numeros2
type(l_numeros2)

list

In [ ]:
# Mostrando os itens de l_numeros2...
l_numeros2

[61, 43, 41, 9, 28, 3, 47, 89, 82, 89]

## Exemplo 2 - Atribuindo números aleatórios (float) à lista

In [ ]:
import numpy as np

# seed random number generator
np.random.seed(20111974)

# Define um objeto do tipo list vazio...
l_numeros2 = []

# Loop para gerar 10 números aleatórios do tipo float...
for _ in range(10):
    l_numeros2.append(np.random.random())

Mostrar os itens de l_numeros2...

In [ ]:
l_numeros2

[0.5309723295184019,
 0.569656260808191,
 0.5425293780522449,
 0.6547840853457134,
 0.8570845590847208,
 0.601741811998476,
 0.872983086730587,
 0.4557334156736259,
 0.6733671652974339,
 0.6430091191416112]

___
# **SUBSTITUIR ITENS DE UMA LISTA**
> **Lembre-se**: Um objeto do tipo list é mutável e ordenado.

* Considerando a lista l_frutas, suponha que queremos substituir o item 'Avocado' por 'Banana'.

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
l_frutas[1] = 'Banana'
l_frutas[2] = 'Banana'
l_frutas

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

Observe que o valor 'Avocado' de índices 1 e 2 foram substituídos pelo valor 'Banana'.

## Solução alternativa 1
> No exemplo anterior, precisávamos saber o índice para fazermos a substituição. Neste caso, não precisamos saber qual é o índice.
    
* função l_lista.index(item).

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

A função l_lista.index(item) busca pelo item e retorna o índice associado ao item. 

> **Atenção**: A função retorna ValueError se o item não pertencer á lista. Para evitar esse erro, use "in" para previamente verificar se o item pertence à lista.

In [ ]:
# Captura o índice do item 'Avocado'...
l_indices = l_frutas.index('Avocado')
l_indices

1

In [ ]:
# Substitui...
l_frutas[l_indices] = 'Banana'
l_frutas

['Apple', 'Banana', 'Avocado', 'Orange', 'Lemon']

Como podeos ver acima, o item 'Avocado', de índice 1, foi substituído pelo item 'Banana'. No entanto, a segunda ocorrência de 'Avocado' não foi substituído. Portanto, esta alternativa é pouco interessante, pois substitui somente a primeira ocorrência do item.

## Solução alternativa 2

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

Desta vez, vamos substituir todas as ocorrências do item 'Avocado' por 'Banana'. Como vimos, l_frutas.index('Avocado') retorna somente a primeira ocorrência de 'Avocado'.

Quantos itens 'Avocado' temos na lista l_frutas?

In [ ]:
l_frutas.count('Avocado')

2

### ... usando Loop (For)

In [ ]:
# Library para medirmos o tempo de processamento
import time

In [ ]:
time.clock()

for fruta in l_frutas:
    if fruta == 'Avocado':
        l_indices = l_frutas.index('Avocado')
        l_frutas[l_indices] = 'Banana'
        
time.clock()

2.844039

In [ ]:
l_frutas

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

**Missão cumprida**: todas as ocorrência do item 'Avocado' foram substituídos pelo item 'Banana'.

Quantos itens 'Banana' temos na lista?

In [ ]:
l_frutas.count('Avocado')

0

### ... usando Loop (While)

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
time.clock()
while 'Avocado' in l_frutas:
        l_indices = l_frutas.index('Avocado')
        l_frutas[l_indices] = 'Banana'
time.clock()

2.864087

Mostrando os resultados...

In [ ]:
l_frutas

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

**Missão cumprida**: todas as ocorrência do item 'Avocado' foram substituídos pelo item 'Banana'.

Mostrando quantos itens 'Banana' temos na lista:

In [ ]:
l_frutas.count('Avocado')

### ... usando List Comprehension

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
# Todas as ocorrências do item 'Avocado' contido em l_frutas:
l_indices = [i for i, x in enumerate(l_frutas) if x == "Avocado"]
l_indices

[1, 2]

Agora que temos os índices, vamos às substituições...

In [ ]:
for i in l_indices:
    l_frutas[i] = 'Banana'
    
l_frutas

**Missão cumprida**: todas as ocorrência do item 'Avocado' foram substituídos pelo item 'Banana'.

Mostrando quantos itens 'Banana' temos na lista:

In [ ]:
l_frutas.count('Banana')

> Como eu disse anteriormente, o Python é muito versátil. Há várias formas de se resolver o mesmo problema!

Portanto:

> Resolva o problema. Depois, quando tiver tempo, otimize o processo!

___
# **MEMBERSHIP**
> Verificar se o item pertence à lista.

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
'Avocado' in l_frutas

True

In [ ]:
'Blueberry' in l_frutas

False

___
# **ADICIONAR ITENS À LISTA (UM DE CADA VEZ)**

### Operador '+'

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Orange', 'Lemon']
l_frutas_adicionar = ['Apple', 'Blueberry', 'Kiwi']
l_frutas = l_frutas + l_frutas_adicionar
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon', 'Apple', 'Blueberry', 'Kiwi']

Observe que acrescentamos (facilmente) a lista l_frutas_adicionar ao final de l_frutas.

## Método l_lista.append(novo_item)

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon']

In [ ]:
# Vamos adicionar mais uma ocorrência de 'Avocado' á nossa lista...
l_frutas.append('Avocado')
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon', 'Avocado']

Agora temos 2 ocorrências para o item 'Avocado'. Observe que o novo item foi acrescentado ao final da lista l_frutas.

In [ ]:
l_frutas.count('Avocado')

2

___
# **ADICIONAR MUITOS ITENS À LISTA**
* Desta vez, vamos adicionar/acrescentar mais de 1 item à nossa lista. vamos acrescentar:
    * More 2 Coconuts;
    * More 3 Melons;
    * More 4 Mandarin;
    * More 6 Mango;
    * More 10 Oranges;

### Método l_lista.extend()

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon']

In [ ]:
l_frutas.extend(['Blueberry', 'Kiwi'])
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon', 'Blueberry', 'Kiwi']

Note que os novos itens 'Blueberry' e 'Kiwi' foram adicionados á lista.

In [ ]:
l_frutas_adicionar = ['Coconuts','Coconuts', 'Melon','Melon','Melon','Mandarin','Mandarin','Mandarin','Mandarin','Mango','Mango','Mango','Mango','Mango','Mango', 'Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange']

In [ ]:
l_frutas.extend(l_frutas_adicionar)
l_frutas

['Apple',
 'Avocado',
 'Orange',
 'Lemon',
 'Blueberry',
 'Kiwi',
 'Coconuts',
 'Coconuts',
 'Melon',
 'Melon',
 'Melon',
 'Mandarin',
 'Mandarin',
 'Mandarin',
 'Mandarin',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange']

In [ ]:
l_frutas.count('Orange')

## Diferença entre append() e extend()
* Considere o exemplo a seguir:

In [ ]:
# Exemplo 1: append()
l_letras = ['a','b']
l_letras.append('c')
l_letras

['a', 'b', 'c']

In [ ]:
# Exemplo 2: append()
l_letras = ['a','b']
l_letras.append(['c'])
l_letras

['a', 'b', ['c']]

In [ ]:
# Exemplo 3: extend()
l_letras = ['a', 'b']
l_letras.extend('c')
l_letras

['a', 'b', 'c']

In [ ]:
# Exemplo 4: extend()
l_letras = ['a','b']
l_letras.extend(['c'])
l_letras

['a', 'b', 'c']

Compare os exemplos 1 com 3 e 2 com 4. Qual a diferença?

___
# **REMOVER ITENS DA LISTA**
* l_lista.remove(item) procura pela primeira ocorrência de item e então o remove. 

> **Atenção**: A função retorna ValueError caso o elemento não pertença à lista. Portanto, primeiro verifique se o item pertence á lista usando "in".

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

Suponha que queremos remover o item 'Avocado'...

In [ ]:
# Remove a primeira ocorrência do item.
l_frutas.remove('Avocado')
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon']

dado que temos 2 ocorrências para o item 'Avocado', a função removeu a primeira ocorrência.

___
# **CONTAR ITENS DA LISTA**

In [ ]:
# Lista de frutas:
l_frutas= ['Apple','Watermelon','Orange','Pear','Cherry','Strawberry','Nectarine','Grape',
'Mango','Blueberry','Pomegranate','Carambola','Plum','Banana','Raspberry','Mandarin','Jackfruit',
'Papaya','Kiwi','Pineapple','Lime','Lemon','Apricot','Grapefruit','Melon','Coconut','Avocado','Peach']

## Challenge
* desenvolver uma função que retorne a frequência de um dado item.

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
def frequencia(elemento, l_lista):
    if elemento not in l_lista:
        print("Esta fruta não está na lista")
    else:
        return l_lista.count(elemento)

In [ ]:
frequencia('Orange', l_frutas)

11

In [ ]:
frequencia('Abracadabra', l_frutas)

Esta fruta não está na lista

## Frequência dos itens de uma lista

In [ ]:
# Função para calcular a frequência dos itens
def Freq_Frutas(l_lista):    
    set_Frutas = set(l_lista) # Conjunto dos elementos únicos da lista    
    for item in set_Frutas: 
        freq= l_lista.count(item)
        print(f'{item}: {freq}')

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
Freq_Frutas(l_frutas)

Orange: 1
Avocado: 2
Lemon: 1
Apple: 1

___
# **ORDENAR ITENS DA LISTA**
> Para ordenar itens, prefira a função sorted().

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

## Ordem ascendente

In [ ]:
sorted(l_frutas)

['Apple', 'Avocado', 'Avocado', 'Lemon', 'Orange']

## Ordem descendente

In [ ]:
sorted(l_frutas, reverse= True)

['Orange', 'Lemon', 'Avocado', 'Avocado', 'Apple']

___
# **FILTRAR ITENS DA LISTA**
> Usando filter()

In [ ]:
# Função para filtrar vogais
def filtra_vogais(letras):
    l_vogais_filtrar = ['a', 'e', 'i', 'o', 'u']

    if(letras in l_vogais_filtrar):
        return True
    else:
        return False

In [ ]:
l_alfabeto = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

In [ ]:
l_vogais_filtradas = filter(filtra_vogais, l_alfabeto)
list(l_vogais_filtradas)

['a', 'e', 'i', 'o']

# Itertools

## Determinar o item mais frequente de uma lista
* O objetivo é retornar o item mais frequente da lista.

In [ ]:
l_palavras = ['look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under']

In [ ]:
# Library do Python que lida com contagens:
from collections import Counter

In [ ]:
word_counts = Counter(l_palavras)
word_counts

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [ ]:
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

Agora suponha acrescentar novas palavras á nossa lista:

In [ ]:
l_palavras_Add = ['why','are','you','not','looking','in','my','eyes']

In [ ]:
word_counts.update(l_palavras_Add)

In [ ]:
word_counts

Counter({'are': 1,
         'around': 2,
         "don't": 1,
         'eyes': 9,
         'in': 1,
         'into': 3,
         'look': 4,
         'looking': 1,
         'my': 4,
         'not': 2,
         'the': 5,
         'under': 1,
         'why': 1,
         'you': 1,
         "you're": 1})

In [ ]:
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 9), ('the', 5), ('look', 4)]

___
# **EXERCÍCIOS**

## Exercício 1
* Gerar aleatoriamente 6 números aleatorios inteiros e sem repetição entre 1 e 61.

### Minha solução

In [ ]:
l_lista_numeros = range(1,61)
print(list(l_lista_numeros))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

E agora, queremos selecionar 6 números aleatoriamente dessa lista. Como fazemos isso?

#### random.choice()
* Versão do Python < 3.6.

In [ ]:
import random

In [ ]:
l_Meus_Numeros = []

random.seed(20111974)
# selecionando números aleatórios a partir de l_lista_numeros
while len(l_Meus_Numeros) <= 5:
	l_Meus_Numeros.append(random.choice(l_lista_numeros))
    
print(l_Meus_Numeros)

#### random.choices()
> Versão do Python > 3.6.

In [ ]:
random.seed(20111974)
l_Meus_Numeros = random.choices(l_lista_numeros, k= 6)
print(l_Meus_Numeros)

#### random.sample()

In [ ]:
random.seed(20111974)
l_Meus_Numeros = random.sample(l_lista_numeros, 6)
print(l_Meus_Numeros)

#### Usando a Library numpy

In [ ]:
import numpy as np

np.random.seed(20111974)
l_Meus_Numeros = np.random.choice(l_lista_numeros, 6)
print(l_Meus_Numeros)

... E assim, desenvolvemos nosso gerador de números aleatórios para a Mega sena. Se alguém ganhar, por favor me paguem meus 10% de direitos autorais, ok?

## Exercício 2 - Selecionar itens baseados em frequência
* Uma urna contem 10 frutas, com as respectivas chances de serem selecionadas:

| Frutas | Prob |
|-------|------|
| Apple | 4/10 |
| Orange | 3/10 |
| Avocado | 2/10 |
| Lemon | 1/10 |

* O Experimento é retirar 3 frutas aleatoriamente da urna.

### Minha solução

#### 1st Approach
* Replicar os itens pelo número de vezes em que ele aparece.

Considere o seguinte exemplo:

In [ ]:
l_frutas = ['Apple', 'Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Orange', 'Avocado', 'Avocado', 'Lemon']
l_frutas

['Apple',
 'Apple',
 'Apple',
 'Apple',
 'Orange',
 'Orange',
 'Orange',
 'Avocado',
 'Avocado',
 'Lemon']

In [ ]:
# Selecionar aleatoriamente 3 frutas da lista - usando numpy
import numpy as np

np.random.seed(20111974)
l_frutas_Selecionadas = np.random.choice(l_frutas, 3)
l_frutas_Selecionadas

array(['Avocado', 'Avocado', 'Apple'], dtype='<U7')

#### 2nd Approach
* Use a frequência dos itens (esse é o jeito mais fácil)

In [ ]:
# Solução usando random.sample
import random

set_Frutas = list(set(l_frutas))
l_frutas_pesos = [4/10, 3/10, 2/10, 1/10]

l_frutas_Selecionadas = random.choices(population = set_Frutas, k = 3, weights = l_frutas_pesos)
l_frutas_Selecionadas

['Apple', 'Apple', 'Lemon']

## Exercício 3
* É possível sortear os itens de uma lista? Explique sua resposta.

## Exercício 4
Consulte a página [Python Data Type: List - Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/list/) para mais exercícios relacionados á list.