<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB06_02__List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>LIST COMPREHENSION</i></b></h1></center>

# **AGENDA**
> Veja o **índice** dos itens que serão abordados neste capítulo.

# Melhorias desta sessão:
* Apresentar mais exemplos do uso de List Comprehensions;

___
# **VAMOS RELEMBRAR O QUE É UMA LIST**

* List - Coleção ordenada e mutável de itens. 
* Permite itens duplicados;
* List são representados por "[ ]".

> Se você tem alguma dúvida sobre como gerar números aleatórios, sugiro voltar ao capítulo [Statistics and Probability](./Statistics%20and%20Probability.ipynb).

![PythonDataStructures](https://github.com/MathMachado/Materials/blob/master/PythonDataStructures.png?raw=true)

___
# **LIST COMPREHENSION**

Sintaxe básica:
```
[ expression for item in list if conditional ]
```

que é equivalente a:
```
for item in list:
    if conditional:
        expression
```

## Exemplo 1
* Gerar números aleatórios usando List Comprehension.

In [ ]:
import numpy as np

l_numeros = []

for i_numero in range(5):
    np.random.seed(i_numero)
    l_numeros.append(np.random.randint(0, 10))

In [ ]:
l_numeros

[5, 5, 8, 8, 7]

In [ ]:
import numpy as np

np.random.seed(20111974)
l_numeros = [np.random.randint(0, 10) for _ in range(5)]

In [ ]:
l_numeros

[8, 8, 2, 8, 9]

## Exemplo 2

In [ ]:
l_numeros = [1, 2, 3, 4]
l_quadrado = []

for n in l_numeros:
    l_quadrado.append(n**2)

print(l_quadrado)

[1, 4, 9, 16]

Solução usando List Comprehension:

In [ ]:
l_numeros = [1, 2, 3, 4]
l_quadrado = [n**2 for n in l_numeros]

print(l_quadrado)

[1, 4, 9, 16]

## Exemplo 3
* Encontrar númros comuns em duas listas.

In [ ]:
l_numeros1 = [1, 2, 3, 4]
l_numeros2 = [2, 3, 4, 5]
l_Comum = []

for x in l_numeros1:
    for y in l_numeros2:
        if x == y:
            l_Comum.append(x)
      
print(l_Comum)

[2, 3, 4]

Solução usando List Comprehension...

In [ ]:
l_numeros1 = [1, 2, 3, 4]
l_numeros2 = [2, 3, 4, 5]

l_Comum = [x for x in l_numeros1 for y in l_numeros2 if x == y]
print(l_Comum)

[2, 3, 4]

## Exemplo 4

In [ ]:
s_frase = 'Isto é um objeto do tipo string!'
l_letras = [x for x in s_frase]

In [ ]:
l_letras

['I',
 's',
 't',
 'o',
 ' ',
 'é',
 ' ',
 'u',
 'm',
 ' ',
 'o',
 'b',
 'j',
 'e',
 't',
 'o',
 ' ',
 'd',
 'o',
 ' ',
 't',
 'i',
 'p',
 'o',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '!']

## Exemplo 5

In [1]:
l_numeros = [i_numero for i_numero in range(20)]
l_numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## Exemplo 6

In [ ]:
l_numeros = [i_numero ** 2 for i_numero in range(20)]
l_numeros

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

## Exemplo 7

In [ ]:
l_numeros = [i_numero ** 2 for i_numero in range(20) if i_numero % 2 == 0]
l_numeros

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

Qual o significado de x%2 == 0 ?

## Exemplo 8
> Transformação de temperaturas de farenheit para Celsius.

Fonte: [How to Convert Fahrenheit to Celsius](https://www.thoughtco.com/fahrenheit-to-celsius-formula-609230)

In [ ]:
import numpy as np

np.printoptions(precision = 2)

np.random.seed(20111974)
l_temperatura_fahrenheit = [np.random.randint(10, 80, 10)]
l_temperatura_fahrenheit

[array([70, 52, 50, 18, 37, 12, 56, 23, 40, 73])]

In [ ]:
l_temperatura_celsius = [(x - 32)*(5/9) for x in l_temperatura_fahrenheit]
l_temperatura_celsius

[array([ 21.11111111,  11.11111111,  10.        ,  -7.77777778,
          2.77777778, -11.11111111,  13.33333333,  -5.        ,
          4.44444444,  22.77777778])]

## Exemplo 9

In [ ]:
l_numero1 = [0, 1, 2, 3, 4, 5]
l_Num2= [5, 4, 3, 2, 1, 0]

l_multiplicacao = [x*y for x in l_numero1 for y in l_Num2 if x != 0 and y != 0]
l_multiplicacao

[5,
 4,
 3,
 2,
 1,
 10,
 8,
 6,
 4,
 2,
 15,
 12,
 9,
 6,
 3,
 20,
 16,
 12,
 8,
 4,
 25,
 20,
 15,
 10,
 5]

## Exemplo 10
Fonte: [List Comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)

In [ ]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## Exemplo 11 - Encontrar todas as ocorrências de s_substring em s_Str usando List Comprehension
> Mesmo exemplo do capítulo NO04__Strings. O objetivo é encontrar todas as ocorrências de uma string s_substring em s_Str.

In [ ]:
s_frase = "Beauty has so many forms, and I think the most beautiful thing is confidence and loving yourself."

In [ ]:
# Cria uma array bidimensional do tipo (indice, valor).
list(enumerate(s_frase))

[(0, 'B'),
 (1, 'e'),
 (2, 'a'),
 (3, 'u'),
 (4, 't'),
 (5, 'y'),
 (6, ' '),
 (7, 'h'),
 (8, 'a'),
 (9, 's'),
 (10, ' '),
 (11, 's'),
 (12, 'o'),
 (13, ' '),
 (14, 'm'),
 (15, 'a'),
 (16, 'n'),
 (17, 'y'),
 (18, ' '),
 (19, 'f'),
 (20, 'o'),
 (21, 'r'),
 (22, 'm'),
 (23, 's'),
 (24, ','),
 (25, ' '),
 (26, 'a'),
 (27, 'n'),
 (28, 'd'),
 (29, ' '),
 (30, 'I'),
 (31, ' '),
 (32, 't'),
 (33, 'h'),
 (34, 'i'),
 (35, 'n'),
 (36, 'k'),
 (37, ' '),
 (38, 't'),
 (39, 'h'),
 (40, 'e'),
 (41, ' '),
 (42, 'm'),
 (43, 'o'),
 (44, 's'),
 (45, 't'),
 (46, ' '),
 (47, 'b'),
 (48, 'e'),
 (49, 'a'),
 (50, 'u'),
 (51, 't'),
 (52, 'i'),
 (53, 'f'),
 (54, 'u'),
 (55, 'l'),
 (56, ' '),
 (57, 't'),
 (58, 'h'),
 (59, 'i'),
 (60, 'n'),
 (61, 'g'),
 (62, ' '),
 (63, 'i'),
 (64, 's'),
 (65, ' '),
 (66, 'c'),
 (67, 'o'),
 (68, 'n'),
 (69, 'f'),
 (70, 'i'),
 (71, 'd'),
 (72, 'e'),
 (73, 'n'),
 (74, 'c'),
 (75, 'e'),
 (76, ' '),
 (77, 'a'),
 (78, 'n'),
 (79, 'd'),
 (80, ' '),
 (81, 'l'),
 (82, 'o'),
 (83, 'v'),
 (84, 'i'),
 (85, 'n'),
 (86, 'g'),
 (87, ' '),
 (88, 'y'),
 (89, 'o'),
 (90, 'u'),
 (91, 'r'),
 (92, 's'),
 (93, 'e'),
 (94, 'l'),
 (95, 'f'),
 (96, '.')]

A seguir, encontrar todas as ocorrências de s_substring em s_Str:

In [ ]:
s_substring = 'a'
l_indices = [indice for indice, valor in enumerate(s_frase) if valor == s_substring]
l_indices

[2, 8, 15, 26, 49, 77]

Ou seja, a string s_substring= 'a' aparece nos índices acima.

## Exemplo 12 - Substituir itens de uma lista
> Exemplo extraído do capítulo NB06_01__Lists. O objetivo é substituir todas as ocorrências do item 'Avocado' por 'Banana.

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
# Todas as ocorrências do item 'Avocado' contido em l_frutas:
l_indices = [i for i, x in enumerate(l_frutas) if x == "Avocado"]
l_indices

[1, 2]

Agora que temos os índices, vamos às substituições...

In [ ]:
for i in l_indices:
    l_frutas[i] = 'Banana'
    
l_frutas

**Missão cumprida**: todas as ocorrência do item 'Avocado' foram substituídos pelo item 'Banana'.

___
# **EXERCÍCIOS**

___
# **REFERÊNCIAS**
* https://docs.python.org/3/