<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB06_02__List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Melhorias desta sessão:
* Apresentar mais exemplos do uso de List Comprehensions;

# **Lists**

* List - Coleção ordenada e mutável de itens. 
* Permite itens duplicados;
* List são representados por "[ ]".

> Se você tem alguma dúvida sobre como gerar números aleatórios, sugiro voltar ao capítulo [Statistics and Probability](./Statistics%20and%20Probability.ipynb).

![PythonDataStructures](https://github.com/MathMachado/Materials/blob/master/PythonDataStructures.png?raw=true)

___
# **Python Lists Comprehension**

Sintaxe básica:

[ expression for item in list if conditional ]

que é equivalente a:

for item in list:
    if conditional:
        expression

## Exemplo 1
* Gerar números aleatórios usando List Comprehension.

In [0]:
import numpy as np

l_Y= []

for x in range(5):
    np.random.seed(x)
    l_Y.append(np.random.randint(0, 10))

In [0]:
l_Y

[5, 5, 8, 8, 7]

In [0]:
import numpy as np

np.random.seed(20111974)
l_FloatNumbers= [np.random.randint(0, 10) for _ in range(5)]

In [0]:
l_FloatNumbers

[8, 8, 2, 8, 9]

## Exemplo 2

In [0]:
l_Lista= [1, 2, 3, 4]
l_Quadrado = []

for n in l_Lista:
    l_Quadrado.append(n**2)

print(l_Quadrado)

[1, 4, 9, 16]

Solução usando List Comprehension:

In [0]:
l_Lista= [1, 2, 3, 4]
l_Quadrado = [n**2 for n in l_Lista]

print(l_Quadrado)

[1, 4, 9, 16]

## Exemplo 3
* Encontrar númros comuns em duas listas.

In [0]:
l_Lista_A = [1, 2, 3, 4]
l_Lista_B = [2, 3, 4, 5]
l_Comum = []

for x in l_Lista_A:
    for y in l_Lista_B:
        if x == y:
            l_Comum.append(x)
      
print(l_Comum)

[2, 3, 4]

Solução usando List Comprehension...

In [0]:
l_Lista_A = [1, 2, 3, 4]
l_Lista_B = [2, 3, 4, 5]

l_Comum = [x for x in l_Lista_A for y in l_Lista_B if x == y]
print(l_Comum)

[2, 3, 4]

## Exemplo 4

In [0]:
s_Frase= 'Isto é um objeto do tipo string!'
l_ListaLetras= [x for x in s_Frase]

In [0]:
l_ListaLetras

['I',
 's',
 't',
 'o',
 ' ',
 'é',
 ' ',
 'u',
 'm',
 ' ',
 'o',
 'b',
 'j',
 'e',
 't',
 'o',
 ' ',
 'd',
 'o',
 ' ',
 't',
 'i',
 'p',
 'o',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '!']

## Exemplo 5

In [0]:
l_ListaNumeros= [x for x in range(20)]
l_ListaNumeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## Exemplo 6

In [0]:
l_ListaNumeros= [x**2 for x in range(20)]
l_ListaNumeros

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

## Exemplo 7

In [0]:
l_ListaNumeros= [x**2 for x in range(20) if x%2 == 0]
l_ListaNumeros

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

Qual o significado de x%2 == 0 ?

## Exemplo 8
> Transformação de temperaturas de farenheit para Celsius.

Fonte: [How to Convert Fahrenheit to Celsius](https://www.thoughtco.com/fahrenheit-to-celsius-formula-609230)

In [0]:
import numpy as np

np.printoptions(precision= 2)

np.random.seed(20111974)
l_Fahrenheit= [np.random.randint(10, 80, 10)]
l_Fahrenheit

[array([70, 52, 50, 18, 37, 12, 56, 23, 40, 73])]

In [0]:
l_Celsius= [(x-32)*(5/9) for x in l_Fahrenheit]
l_Celsius

[array([ 21.11111111,  11.11111111,  10.        ,  -7.77777778,
          2.77777778, -11.11111111,  13.33333333,  -5.        ,
          4.44444444,  22.77777778])]

## Exemplo 9

In [0]:
l_Num1= [0,1,2,3,4,5]
l_Num2= [5,4,3,2,1,0]

l_Multiplicacao= [x*y for x in l_Num1 for y in l_Num2 if x!= 0 and y!= 0]
l_Multiplicacao

[5,
 4,
 3,
 2,
 1,
 10,
 8,
 6,
 4,
 2,
 15,
 12,
 9,
 6,
 3,
 20,
 16,
 12,
 8,
 4,
 25,
 20,
 15,
 10,
 5]

## Exemplo 10
Fonte: [List Comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)

In [0]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## Exemplo 11 - Encontrar todas as ocorrências de s_Substr em s_Str usando List Comprehension
> Mesmo exemplo do capítulo NO04__Strings. O objetivo é encontrar todas as ocorrências de uma string s_Substr em s_Str.

In [0]:
s_Frase= "Beauty has so many forms, and I think the most beautiful thing is confidence and loving yourself."

In [0]:
# Cria uma array bidimensional do tipo (indice, valor).
list(enumerate(s_Frase))

[(0, 'B'),
 (1, 'e'),
 (2, 'a'),
 (3, 'u'),
 (4, 't'),
 (5, 'y'),
 (6, ' '),
 (7, 'h'),
 (8, 'a'),
 (9, 's'),
 (10, ' '),
 (11, 's'),
 (12, 'o'),
 (13, ' '),
 (14, 'm'),
 (15, 'a'),
 (16, 'n'),
 (17, 'y'),
 (18, ' '),
 (19, 'f'),
 (20, 'o'),
 (21, 'r'),
 (22, 'm'),
 (23, 's'),
 (24, ','),
 (25, ' '),
 (26, 'a'),
 (27, 'n'),
 (28, 'd'),
 (29, ' '),
 (30, 'I'),
 (31, ' '),
 (32, 't'),
 (33, 'h'),
 (34, 'i'),
 (35, 'n'),
 (36, 'k'),
 (37, ' '),
 (38, 't'),
 (39, 'h'),
 (40, 'e'),
 (41, ' '),
 (42, 'm'),
 (43, 'o'),
 (44, 's'),
 (45, 't'),
 (46, ' '),
 (47, 'b'),
 (48, 'e'),
 (49, 'a'),
 (50, 'u'),
 (51, 't'),
 (52, 'i'),
 (53, 'f'),
 (54, 'u'),
 (55, 'l'),
 (56, ' '),
 (57, 't'),
 (58, 'h'),
 (59, 'i'),
 (60, 'n'),
 (61, 'g'),
 (62, ' '),
 (63, 'i'),
 (64, 's'),
 (65, ' '),
 (66, 'c'),
 (67, 'o'),
 (68, 'n'),
 (69, 'f'),
 (70, 'i'),
 (71, 'd'),
 (72, 'e'),
 (73, 'n'),
 (74, 'c'),
 (75, 'e'),
 (76, ' '),
 (77, 'a'),
 (78, 'n'),
 (79, 'd'),
 (80, ' '),
 (81, 'l'),
 (82, 'o'),
 (83, 'v'),
 (84, 'i'),
 (85, 'n'),
 (86, 'g'),
 (87, ' '),
 (88, 'y'),
 (89, 'o'),
 (90, 'u'),
 (91, 'r'),
 (92, 's'),
 (93, 'e'),
 (94, 'l'),
 (95, 'f'),
 (96, '.')]

A seguir, encontrar todas as ocorrências de s_Substr em s_Str:

In [0]:
s_Substr= 'a'
l_Indices = [indice for indice, valor in enumerate(s_Frase) if valor == s_Substr]
l_Indices

[2, 8, 15, 26, 49, 77]

Ou seja, a string s_Substr= 'a' aparece nos índices acima.

## Exemplo 12 - Substituir itens de uma lista
> Exemplo extraído do capítulo NB06_01__Lists. O objetivo é substituir todas as ocorrências do item 'Avocado' por 'Banana.

In [0]:
l_Frutas= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_Frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [0]:
# Todas as ocorrências do item 'Avocado' contido em l_Frutas:
l_Indices = [i for i, x in enumerate(l_Frutas) if x == "Avocado"]
l_Indices

[1, 2]

Agora que temos os índices, vamos às substituições...

In [0]:
for i in l_Indices:
    l_Frutas[i]= 'Banana'
    
l_Frutas

**Missão cumprida**: todas as ocorrência do item 'Avocado' foram substituídos pelo item 'Banana'.

# Exercícios

# Referências
* https://docs.python.org/3/