<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB06_01__Explorando%20Listas%20em%20Python%3A%20Cole%C3%A7%C3%B5es%20Ordenadas%20e%20Mut%C3%A1veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>Explorando Listas em Python: Coleções Ordenadas e Mutáveis
</i></b></h1></center>

# **AGENDA**:

> Neste vídeo, você irá aprofundar seu conhecimento sobre listas em Python, uma estrutura de dados fundamental e extremamente versátil na programação. Abordaremos os seguintes tópicos:

* O que são Listas?
Compreenda as listas como coleções ordenadas e mutáveis de itens, permitindo armazenar e manipular múltiplos valores em uma única variável.

* Características das Listas:

    * Permissão de Itens Duplicados: Descubra que as listas podem conter itens duplicados e como isso pode ser útil em diferentes contextos.
    * Representação Sintática: Aprenda que as listas são definidas utilizando colchetes [].
* Principais Métodos de Listas:

    * append(): Adicionar um item ao final da lista.
    * insert(): Inserir um item em uma posição específica.
    * remove(): Remover a primeira ocorrência de um item com valor específico.
    * sort(): Ordenar os itens da lista em ordem crescente ou decrescente.
    * Entre outros: Explore métodos como pop(), reverse(), index(), count(), clear(), etc.
* Manipulando Listas:

    * Como acessar, modificar e remover itens utilizando índices.
    * Fatiamento (slicing) de listas para acessar sublistas.
    * Concatenar e repetir listas utilizando os operadores + e *.
* Iterando sobre Listas:

    * Utilização de loops for para percorrer os itens da lista.
    * Compreensões de lista (list comprehensions) para criar listas de forma concisa e eficiente.
* Listas Aninhadas:

    * Trabalhando com listas dentro de listas (matrizes) e como acessar seus elementos.
    * Diferenças entre Listas e Outras Coleções:

* Comparação entre listas e outros tipos de coleções como tuplas, conjuntos (sets) e dicionários, enfatizando quando usar cada um.
* Boas Práticas:

    * Dicas sobre como escolher entre listas e outras estruturas de dados.
    * Importância de escolher a estrutura adequada para otimizar o desempenho do seu código.
* Wrap Up:

    * Revisão dos principais conceitos aprendidos sobre listas e suas aplicações práticas em Python.
* Exercícios:

    * Desafios práticos para consolidar o conhecimento e aplicar o que foi aprendido sobre listas.

Este vídeo é ideal para iniciantes e para aqueles que desejam aprofundar suas habilidades em Python, proporcionando uma base sólida para desenvolver programas mais complexos e eficientes.

___
# **LISTS**

* List - Coleção ordenada e mutável de itens.
* Permite itens duplicados;
* List são representados por "[ ]";
* Exemplos de **MÉTODOS** listas: append(), insert(), remove(), sort(), entre outros.

![PythonDataStructures](https://github.com/MathMachado/Materials/blob/master/PythonDataStructures.png?raw=true)

___
# **EXEMPLOS**

* Foco na forma como atribuimos itens às listas.

In [1]:
l_frutas = ['Apple', 'Avocado', 'Orange', 'Lemon']
l_numeros = [1, 4, 8, 3, 6, 7]

Verificando o tipo da variável l_numeros:

In [2]:
type(l_numeros)

list

Verificando o tipo da variável l_frutas:

In [3]:
type(l_frutas)

list

## Exemplo 1: Atribuindo números aleatórios inteiros à lista

In [4]:
import numpy as np

# seed random number generator
np.random.seed(20111974)

# Cria um objeto do tipo list vazia...
l_numeros2 = []

# Loop para gerar 10 números aleatórios inteiros...
for _ in range(10):
    l_numeros2.append(np.random.randint(1, 101))

In [5]:
# Verificando o tipo da variável l_numeros2
type(l_numeros2)

list

In [6]:
# Mostrando os itens de l_numeros2...
l_numeros2

[61, 43, 41, 9, 28, 3, 47, 89, 82, 89]

## Exemplo 2 - Atribuindo números aleatórios (float) à lista

In [7]:
import numpy as np

# seed random number generator
np.random.seed(20111974)

# Define um objeto do tipo list vazio...
l_numeros2 = []

# Loop para gerar 10 números aleatórios do tipo float...
for _ in range(10):
    l_numeros2.append(np.random.random())

Mostrar os itens de l_numeros2...

In [8]:
l_numeros2

[0.5309723295184019,
 0.569656260808191,
 0.5425293780522449,
 0.6547840853457134,
 0.8570845590847208,
 0.601741811998476,
 0.872983086730587,
 0.4557334156736259,
 0.6733671652974339,
 0.6430091191416112]

___
# **SUBSTITUIR ITENS DE UMA LISTA**
> **Lembre-se**: Um objeto do tipo list é mutável e ordenado.

* Considerando a lista l_frutas, suponha que queremos substituir o item 'Avocado' por 'Banana'.

In [9]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [10]:
l_frutas[1]

'Avocado'

In [11]:
l_frutas[1] = 'Banana'
l_frutas[2] = 'Banana'
l_frutas

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

Observe que o valor 'Avocado' de índices 1 e 2 foram substituídos pelo valor 'Banana'.

## Solução alternativa 1
> No exemplo anterior, precisávamos saber o índice para fazermos a substituição. Neste caso, não precisamos saber qual é o índice.
    
* função l_lista.index(item).

In [12]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

A função l_lista.index(item) busca pelo item e retorna o índice associado ao item.

> **Atenção**: A função retorna ValueError se o item não pertencer á lista. Para evitar esse erro, use "in" para previamente verificar se o item pertence à lista.

In [13]:
# Captura o índice do item 'Avocado'...
l_indices = l_frutas.index('Avocado')
l_indices

1

In [14]:
# Substitui...
l_frutas[l_indices] = 'Banana'
l_frutas

['Apple', 'Banana', 'Avocado', 'Orange', 'Lemon']

Como podeos ver acima, o item 'Avocado', de índice 1, foi substituído pelo item 'Banana'. No entanto, a segunda ocorrência de 'Avocado' não foi substituído. Portanto, esta alternativa é pouco interessante, pois substitui somente a primeira ocorrência do item.

## Solução alternativa 2

In [15]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

Desta vez, vamos substituir todas as ocorrências do item 'Avocado' por 'Banana'. Como vimos, l_frutas.index('Avocado') retorna somente a primeira ocorrência de 'Avocado'.

Quantos itens 'Avocado' temos na lista l_frutas?

In [16]:
l_frutas.count('Avocado')

2

### ... usando Loop (For)

In [19]:
# Library para medirmos o tempo de processamento
import time

In [20]:
time.clock()

for fruta in l_frutas:
    if fruta == 'Avocado':
        l_indices = l_frutas.index('Avocado')
        l_frutas[l_indices] = 'Banana'

time.clock()

AttributeError: module 'time' has no attribute 'clock'

In [22]:
import time

# Supondo que l_frutas seja definida anteriormente
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

# Início da medição
inicio = time.perf_counter()

for fruta in l_frutas:
    if fruta == 'Avocado':
        l_indices = l_frutas.index('Avocado')
        l_frutas[l_indices] = 'Banana'

# Fim da medição
fim = time.perf_counter()

# Tempo total decorrido
tempo_decorrido = fim - inicio
print(f"Tempo de execução: {tempo_decorrido:.6f} segundos")
print(f"Lista atualizada: {l_frutas}")

Tempo de execução: 0.000088 segundos
Lista atualizada: ['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

In [23]:
l_frutas

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

**Missão cumprida**: todas as ocorrência do item 'Avocado' foram substituídos pelo item 'Banana'.

Quantos itens 'Banana' temos na lista?

In [24]:
l_frutas.count('Avocado')

0

### ... usando Loop (While)

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [25]:
while 'Avocado' in l_frutas:
        l_indices = l_frutas.index('Avocado')
        l_frutas[l_indices] = 'Banana'

Mostrando os resultados...

In [26]:
l_frutas

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

**Missão cumprida**: todas as ocorrência do item 'Avocado' foram substituídos pelo item 'Banana'.

Mostrando quantos itens 'Banana' temos na lista:

In [27]:
l_frutas.count('Avocado')

0

### ... usando List Comprehension

In [28]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [30]:
list(enumerate(l_frutas))

[(0, 'Apple'), (1, 'Avocado'), (2, 'Avocado'), (3, 'Orange'), (4, 'Lemon')]

In [31]:
# Todas as ocorrências do item 'Avocado' contido em l_frutas:
l_indices = [i for i, x in enumerate(l_frutas) if x == "Avocado"]
l_indices

[1, 2]

Agora que temos os índices, vamos às substituições...

In [32]:
for i in l_indices:
    l_frutas[i] = 'Banana'

l_frutas

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

**Missão cumprida**: todas as ocorrência do item 'Avocado' foram substituídos pelo item 'Banana'.

Mostrando quantos itens 'Banana' temos na lista:

In [33]:
l_frutas.count('Banana')

2

> Como eu disse anteriormente, o Python é muito versátil. Há várias formas de se resolver o mesmo problema!

Portanto:

> Resolva o problema. Depois, quando tiver tempo, otimize o processo!

___
# **MEMBERSHIP**
> Verificar se o item pertence à lista.

In [34]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [35]:
'Avocado' in l_frutas

True

In [36]:
'Blueberry' in l_frutas

False

___
# **ADICIONAR ITENS À LISTA (UM DE CADA VEZ)**

### Operador '+'

In [37]:
l_frutas = ['Apple', 'Avocado', 'Orange', 'Lemon']
l_frutas_adicionar = ['Apple', 'Blueberry', 'Kiwi']
l_frutas = l_frutas + l_frutas_adicionar
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon', 'Apple', 'Blueberry', 'Kiwi']

Observe que acrescentamos (facilmente) a lista l_frutas_adicionar ao final de l_frutas.

## Método l_lista.append(novo_item)

In [38]:
l_frutas = ['Apple', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon']

In [39]:
# Vamos adicionar mais uma ocorrência de 'Avocado' á nossa lista...
l_frutas.append('Avocado')
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon', 'Avocado']

Agora temos 2 ocorrências para o item 'Avocado'. Observe que o novo item foi acrescentado ao final da lista l_frutas.

In [40]:
l_frutas.count('Avocado')

2

___
# **ADICIONAR MUITOS ITENS À LISTA**
* Desta vez, vamos adicionar/acrescentar mais de 1 item à nossa lista. vamos acrescentar:
    * More 2 Coconuts;
    * More 3 Melons;
    * More 4 Mandarin;
    * More 6 Mango;
    * More 10 Oranges;

### Método l_lista.extend()

In [41]:
l_frutas = ['Apple', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon']

In [42]:
l_frutas.extend(['Blueberry', 'Kiwi'])
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon', 'Blueberry', 'Kiwi']

Note que os novos itens 'Blueberry' e 'Kiwi' foram adicionados á lista.

In [43]:
l_frutas_adicionar = ['Coconuts','Coconuts', 'Melon','Melon','Melon','Mandarin','Mandarin','Mandarin','Mandarin','Mango','Mango','Mango','Mango','Mango','Mango', 'Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange']

In [44]:
l_frutas.extend(l_frutas_adicionar)
l_frutas

['Apple',
 'Avocado',
 'Orange',
 'Lemon',
 'Blueberry',
 'Kiwi',
 'Coconuts',
 'Coconuts',
 'Melon',
 'Melon',
 'Melon',
 'Mandarin',
 'Mandarin',
 'Mandarin',
 'Mandarin',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange']

In [45]:
l_frutas.count('Orange')

11

## Diferença entre append() e extend()
* Considere o exemplo a seguir:

In [ ]:
# Exemplo 1: append()
l_letras = ['a','b']
l_letras.append('c')
l_letras

['a', 'b', 'c']

In [ ]:
# Exemplo 2: append()
l_letras = ['a','b']
l_letras.append(['c'])
l_letras

['a', 'b', ['c']]

In [ ]:
# Exemplo 3: extend()
l_letras = ['a', 'b']
l_letras.extend('c')
l_letras

['a', 'b', 'c']

In [ ]:
# Exemplo 4: extend()
l_letras = ['a','b']
l_letras.extend(['c'])
l_letras

['a', 'b', 'c']

Compare os exemplos 1 com 3 e 2 com 4. Qual a diferença?

___
# **REMOVER ITENS DA LISTA**
* l_lista.remove(item) procura pela primeira ocorrência de item e então o remove.

> **Atenção**: A função retorna ValueError caso o elemento não pertença à lista. Portanto, primeiro verifique se o item pertence á lista usando "in".

In [46]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

Suponha que queremos remover o item 'Avocado'...

In [47]:
# Remove a primeira ocorrência do item.
l_frutas.remove('Avocado')
l_frutas

['Apple', 'Avocado', 'Orange', 'Lemon']

dado que temos 2 ocorrências para o item 'Avocado', a função removeu a primeira ocorrência.

___
# **CONTAR ITENS DA LISTA**

In [ ]:
# Lista de frutas:
l_frutas= ['Apple','Watermelon','Orange','Pear','Cherry','Strawberry','Nectarine','Grape',
'Mango','Blueberry','Pomegranate','Carambola','Plum','Banana','Raspberry','Mandarin','Jackfruit',
'Papaya','Kiwi','Pineapple','Lime','Lemon','Apricot','Grapefruit','Melon','Coconut','Avocado','Peach']

## Challenge
* desenvolver uma função que retorne a frequência de um dado item.

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
def frequencia(elemento, l_lista):
    if elemento not in l_lista:
        print("Esta fruta não está na lista")
    else:
        return l_lista.count(elemento)

In [ ]:
frequencia('Orange', l_frutas)

11

In [ ]:
frequencia('Abracadabra', l_frutas)

Esta fruta não está na lista

## Frequência dos itens de uma lista

In [ ]:
# Função para calcular a frequência dos itens
def Freq_Frutas(l_lista):
    set_Frutas = set(l_lista) # Conjunto dos elementos únicos da lista
    for item in set_Frutas:
        freq= l_lista.count(item)
        print(f'{item}: {freq}')

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [ ]:
Freq_Frutas(l_frutas)

Orange: 1
Avocado: 2
Lemon: 1
Apple: 1

___
# **ORDENAR ITENS DA LISTA**
> Para ordenar itens, prefira a função sorted().

In [ ]:
l_frutas = ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
l_frutas

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

## Ordem ascendente

In [ ]:
sorted(l_frutas)

['Apple', 'Avocado', 'Avocado', 'Lemon', 'Orange']

## Ordem descendente

In [ ]:
sorted(l_frutas, reverse= True)

['Orange', 'Lemon', 'Avocado', 'Avocado', 'Apple']

___
# **FILTRAR ITENS DA LISTA**
> Usando filter()

In [ ]:
# Função para filtrar vogais
def filtra_vogais(letras):
    l_vogais_filtrar = ['a', 'e', 'i', 'o', 'u']

    if(letras in l_vogais_filtrar):
        return True
    else:
        return False

In [ ]:
l_alfabeto = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

In [ ]:
l_vogais_filtradas = filter(filtra_vogais, l_alfabeto)
list(l_vogais_filtradas)

['a', 'e', 'i', 'o']

# Itertools

## Determinar o item mais frequente de uma lista
* O objetivo é retornar o item mais frequente da lista.

In [ ]:
l_palavras = ['look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under']

In [ ]:
# Library do Python que lida com contagens:
from collections import Counter

In [ ]:
word_counts = Counter(l_palavras)
word_counts

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [ ]:
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

Agora suponha acrescentar novas palavras á nossa lista:

In [ ]:
l_palavras_Add = ['why','are','you','not','looking','in','my','eyes']

In [ ]:
word_counts.update(l_palavras_Add)

In [ ]:
word_counts

Counter({'are': 1,
         'around': 2,
         "don't": 1,
         'eyes': 9,
         'in': 1,
         'into': 3,
         'look': 4,
         'looking': 1,
         'my': 4,
         'not': 2,
         'the': 5,
         'under': 1,
         'why': 1,
         'you': 1,
         "you're": 1})

In [ ]:
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 9), ('the', 5), ('look', 4)]

___
# **EXERCÍCIOS**

Esses exercícios irão ajudá-lo a praticar e consolidar seus conhecimentos sobre **listas em Python**, incluindo criação, manipulação, métodos principais e características das listas. Boa prática!

---

## **1. Criando e Acessando Listas**

**Descrição:**

Crie uma lista chamada `frutas` que contenha as seguintes frutas: `"maçã"`, `"banana"`, `"laranja"`, `"uva"`. Em seguida:

- Exiba a lista completa.
- Acesse e exiba o primeiro e o terceiro item da lista.
- Modifique o segundo item para `"manga"`.

**Dicas:**

- Lembre-se de que a indexação em listas começa em `0`.
- Utilize `frutas[1] = "manga"` para alterar o segundo item.

---

## **2. Adicionando Itens à Lista**

**Descrição:**

Usando a lista `frutas` do exercício anterior:

- Adicione a fruta `"abacaxi"` ao final da lista usando o método `append()`.
- Insira a fruta `"kiwi"` na segunda posição da lista usando o método `insert()`.

**Dicas:**

- `frutas.append("abacaxi")` adiciona um item ao final.
- `frutas.insert(1, "kiwi")` insere um item na posição desejada.

---

## **3. Removendo Itens da Lista**

**Descrição:**

Ainda utilizando a lista `frutas`:

- Remova a fruta `"laranja"` da lista usando o método `remove()`.
- Remova o último item da lista usando o método `pop()` sem especificar o índice.
- Remova o item da posição `0` usando o método `pop()` com o índice apropriado.

**Dicas:**

- `frutas.remove("laranja")` remove a primeira ocorrência de `"laranja"`.
- `frutas.pop()` remove e retorna o último item.
- `frutas.pop(0)` remove e retorna o item na posição `0`.

---

## **4. Ordenando Listas**

**Descrição:**

Crie uma lista de números inteiros chamada `numeros` com os seguintes valores: `[4, 2, 9, 1, 5, 6]`. Em seguida:

- Ordene a lista em ordem crescente usando o método `sort()`.
- Ordene a lista em ordem decrescente.

**Dicas:**

- Para ordem decrescente, use `numeros.sort(reverse=True)`.

---

## **5. Contando Itens e Encontrando Índices**

**Descrição:**

Crie uma lista chamada `animais` com os itens: `["cachorro", "gato", "pássaro", "gato", "coelho", "gato"]`.

- Conte quantas vezes a palavra `"gato"` aparece na lista.
- Encontre o índice da primeira ocorrência de `"coelho"`.

**Dicas:**

- Use `animais.count("gato")` para contar ocorrências.
- Use `animais.index("coelho")` para encontrar o índice.

---

## **6. Concatenando e Repetindo Listas**

**Descrição:**

Crie duas listas:

- `lista1 = [1, 2, 3]`
- `lista2 = [4, 5, 6]`

Em seguida:

- Concatene as duas listas em uma nova lista chamada `lista_completa`.
- Repita a `lista1` três vezes e armazene o resultado em `lista_repetida`.

**Dicas:**

- Use o operador `+` para concatenar: `lista_completa = lista1 + lista2`.
- Use o operador `*` para repetir: `lista_repetida = lista1 * 3`.

---

## **7. Fatiamento de Listas**

**Descrição:**

Com a lista `numeros = [10, 20, 30, 40, 50, 60, 70, 80]`:

- Obtenha uma sublista contendo os elementos do índice `2` ao `5` (inclusive o índice `2` e excluindo o `5`).
- Obtenha uma sublista com os últimos `3` elementos da lista.
- Obtenha uma sublista com os elementos em posições pares.

**Dicas:**

- Use `numeros[2:5]` para fatiamento entre índices.
- Use `numeros[-3:]` para os últimos três elementos.
- Use `numeros[::2]` para elementos em posições pares.

---

## **8. Listas Aninhadas**

**Descrição:**

Crie uma lista aninhada chamada `matriz` que represente a seguinte matriz 2x2:

```
[ [1, 2],
  [3, 4] ]
```

Acesse e exiba:

- O elemento na primeira linha, segunda coluna.
- Todos os elementos da segunda linha.

**Dicas:**

- Acesse o elemento com `matriz[0][1]`.
- A segunda linha é `matriz[1]`.

---

## **9. Compreensão de Listas**

**Descrição:**

Utilizando **compreensão de listas**, crie uma lista chamada `quadrados` que contenha os quadrados dos números de `1` a `10`.

**Dicas:**

- Use `[x**2 for x in range(1, 11)]`.

---

## **10. Copiando Listas**

**Descrição:**

Dada a lista `lista_original = ["a", "b", "c"]`:

- Crie uma cópia da lista chamada `copia_lista`.
- Modifique `copia_lista` adicionando o item `"d"`.
- Exiba ambas as listas para verificar que `lista_original` não foi alterada.

**Dicas:**

- Use `copia_lista = lista_original.copy()` ou `copia_lista = lista_original[:]`.
- Verifique a independência das listas após a modificação.

---

## Exercício 11
* Gerar aleatoriamente 6 números aleatorios inteiros e sem repetição entre 1 e 61.

### Minha solução

In [ ]:
l_lista_numeros = range(1,61)
print(list(l_lista_numeros))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

E agora, queremos selecionar 6 números aleatoriamente dessa lista. Como fazemos isso?

#### random.choice()
* Versão do Python < 3.6.

In [ ]:
import random

In [ ]:
l_Meus_Numeros = []

random.seed(20111974)
# selecionando números aleatórios a partir de l_lista_numeros
while len(l_Meus_Numeros) <= 5:
	l_Meus_Numeros.append(random.choice(l_lista_numeros))

print(l_Meus_Numeros)

#### random.choices()
> Versão do Python > 3.6.

In [ ]:
random.seed(20111974)
l_Meus_Numeros = random.choices(l_lista_numeros, k= 6)
print(l_Meus_Numeros)

#### random.sample()

In [ ]:
random.seed(20111974)
l_Meus_Numeros = random.sample(l_lista_numeros, 6)
print(l_Meus_Numeros)

#### Usando a Library numpy

In [ ]:
import numpy as np

np.random.seed(20111974)
l_Meus_Numeros = np.random.choice(l_lista_numeros, 6)
print(l_Meus_Numeros)

... E assim, desenvolvemos nosso gerador de números aleatórios para a Mega sena. Se alguém ganhar, por favor me paguem meus 10% de direitos autorais, ok?

## Exercício 12 - Selecionar itens baseados em frequência
* Uma urna contem 10 frutas, com as respectivas chances de serem selecionadas:

| Frutas | Prob |
|-------|------|
| Apple | 4/10 |
| Orange | 3/10 |
| Avocado | 2/10 |
| Lemon | 1/10 |

* O Experimento é retirar 3 frutas aleatoriamente da urna.

### Minha solução

#### 1st Approach
* Replicar os itens pelo número de vezes em que ele aparece.

Considere o seguinte exemplo:

In [ ]:
l_frutas = ['Apple', 'Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Orange', 'Avocado', 'Avocado', 'Lemon']
l_frutas

['Apple',
 'Apple',
 'Apple',
 'Apple',
 'Orange',
 'Orange',
 'Orange',
 'Avocado',
 'Avocado',
 'Lemon']

In [ ]:
# Selecionar aleatoriamente 3 frutas da lista - usando numpy
import numpy as np

np.random.seed(20111974)
l_frutas_Selecionadas = np.random.choice(l_frutas, 3)
l_frutas_Selecionadas

array(['Avocado', 'Avocado', 'Apple'], dtype='<U7')

#### 2nd Approach
* Use a frequência dos itens (esse é o jeito mais fácil)

In [ ]:
# Solução usando random.sample
import random

set_Frutas = list(set(l_frutas))
l_frutas_pesos = [4/10, 3/10, 2/10, 1/10]

l_frutas_Selecionadas = random.choices(population = set_Frutas, k = 3, weights = l_frutas_pesos)
l_frutas_Selecionadas

['Apple', 'Apple', 'Lemon']

## Exercício 13
* É possível sortear os itens de uma lista? Explique sua resposta.

## Exercício 14
Consulte a página [Python Data Type: List - Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/list/) para mais exercícios relacionados á list.