<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB08__Explorando%20Sets%20em%20Python%3A%20Cole%C3%A7%C3%B5es%20N%C3%A3o%20Ordenadas%20e%20Sem%20Duplicatas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>Explorando Sets em Python: Coleções Não Ordenadas e Sem Duplicatas</i></b></h1></center>

# **AGENDA**:

> Neste vídeo, você irá aprofundar seu conhecimento sobre sets em Python, uma estrutura de dados poderosa que permite trabalhar com coleções não ordenadas e sem elementos duplicados. Abordaremos os seguintes tópicos:

* O que são Sets?

    * Compreenda os sets como uma coleção não ordenada, iterável e mutável que não permite itens duplicados.
    * Entenda a analogia entre sets em Python e os conjuntos matemáticos, incluindo operações como união, interseção e diferença.
* Criando Sets em Python:

    * Aprenda a criar sets utilizando chaves {} ou a função set().
    * Veja exemplos práticos de sets com diferentes tipos de dados.
* Características dos Sets:

    * Não Permite Duplicatas: Descubra como os sets eliminam automaticamente itens duplicados, garantindo que cada elemento seja único.
    * Coleção Não Ordenada: Entenda que os sets não mantêm uma ordem específica dos elementos, e por isso não é possível acessar itens por índices.
* Acessando e Modificando Sets:

    * Saiba como iterar sobre os elementos de um set utilizando loops for.
    * Aprenda a adicionar itens com o método add() e múltiplos itens com update().
    * Veja como remover itens usando remove(), discard(), pop() e clear().
* Operações com Sets:

    * União (union() ou |): Combinar elementos de dois sets, sem duplicatas.
    * Interseção (intersection() ou &): Obter elementos comuns a dois sets.
    * Diferença (difference() ou -): Encontrar elementos presentes em um set e não no outro.
    * Diferença Simétrica (symmetric_difference() ou ^): Elementos que estão em um set ou no outro, mas não em ambos.
* Vantagens de Usar Sets em Comparação com Listas:

    * Descubra por que os sets são altamente eficientes para verificar a pertinência de um item, ou seja, se um elemento está presente na coleção.
    * Entenda que operações de busca em sets são mais rápidas do que em listas, devido à implementação baseada em tabelas hash.
* Limitações dos Sets:

    * Não é possível acessar elementos por índices ou fatiamento.
    * Os elementos de um set devem ser imutáveis (por exemplo, números, strings, tuplas).
* Aplicações Práticas:

    * Remoção de duplicatas de uma coleção.
    * Implementação de operações matemáticas de conjuntos em programas.
    * Verificação eficiente de pertencimento em grandes coleções de dados.
* Wrap Up:

    * Revisão dos principais conceitos aprendidos sobre sets e suas aplicações em Python.
* Exercícios:

    * Desafios práticos para consolidar o conhecimento e aplicar o que foi aprendido sobre sets.

Este vídeo é ideal para quem deseja expandir suas habilidades em Python e aprender a utilizar sets para escrever códigos mais eficientes e elegantes, especialmente ao trabalhar com coleções de dados onde a unicidade e a eficiência de busca são importantes.

# **SETS**

* Um objeto Set é uma coleção não ordenada que pode ser iterável, alterado e que não possui duplicatas.
* **Analogia com conjuntos da Matemática**.
* Itens entre "{}": {item_1, item_2, ..., item_k}.
* Não se pode usar índices para acessar os itens do objeto Set.

* Qual a vantagem de se utilizar objetos Sets ao invés de lists?    
    * Usar Sets ao invés de lists é um meio altamente recomendado e otimizado para se verificar se o item pertence à lista.

![PythonDataStructures](https://github.com/MathMachado/Materials/blob/master/PythonDataStructures.png?raw=true)

Considere o exemplo a seguir:

In [1]:
# Definindo a lista
l_frutas = ['Apple', 'Watermelon', 'Orange', 'Pear', 'Cherry', 'Strawberry', 'Nectarine', 'Grape',
'Mango', 'Blueberry', 'Pomegranate', 'Carambola', 'Plum', 'Banana', 'Raspberry', 'Mandarin', 'Jackfruit',
'Papaya', 'Kiwi', 'Pineapple', 'Lime', 'Lemon', 'Apricot', 'Grapefruit', 'Melon', 'Coconut', 'Avocado', 'Peach']

Mostrando os itens da lista l_frutas:

In [2]:
l_frutas

['Apple',
 'Watermelon',
 'Orange',
 'Pear',
 'Cherry',
 'Strawberry',
 'Nectarine',
 'Grape',
 'Mango',
 'Blueberry',
 'Pomegranate',
 'Carambola',
 'Plum',
 'Banana',
 'Raspberry',
 'Mandarin',
 'Jackfruit',
 'Papaya',
 'Kiwi',
 'Pineapple',
 'Lime',
 'Lemon',
 'Apricot',
 'Grapefruit',
 'Melon',
 'Coconut',
 'Avocado',
 'Peach']

In [3]:
type(l_frutas)

list

Como podemos ver, l_frutas é um objeto do tipo list.

___
# **TRANSFORMAR OBJETO LIST EM OBJETO SETS**
* Função set().

In [4]:
set_frutas = set(l_frutas)
set_frutas

{'Apple',
 'Apricot',
 'Avocado',
 'Banana',
 'Blueberry',
 'Carambola',
 'Cherry',
 'Coconut',
 'Grape',
 'Grapefruit',
 'Jackfruit',
 'Kiwi',
 'Lemon',
 'Lime',
 'Mandarin',
 'Mango',
 'Melon',
 'Nectarine',
 'Orange',
 'Papaya',
 'Peach',
 'Pear',
 'Pineapple',
 'Plum',
 'Pomegranate',
 'Raspberry',
 'Strawberry',
 'Watermelon'}

Observe que o objeto set acima não possui itens duplicados.

In [5]:
# Verificando o tipo do objeto set_frutas...
type(set_frutas)

set

Ok, set_frutas é um objeto do tipo set.

Você notou que os itens do set set_frutas estão entre "{}"?

Verificando se o item 'Mandarin' pertence ao set set_frutas...

In [6]:
'Mandarin' in set_frutas

True

___
# **PRINCIPAIS MÉTODOS**
> Alinhado com a teoria dos conjuntos da Matemática.

## União de conjuntos (sets)
* Retorna a união/junção de dois objetos sets;
* O operador ‘|’ produz o mesmo resultado que set1.union(set2);

![Union](https://github.com/MathMachado/Materials/blob/master/set_Union.PNG?raw=true)

Fonte: [Python Set](https://www.learnbyexample.org/python-set/)

### set.union()
> Retorna os valores únicos dos dois conjuntos. Na teoria dos conjuntos, escrevemos:

$$A \cup B$$

In [7]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

**Atenção**: Observe que o objeto lista set_frutas1 possui 'Apple' e 'Orange' duplicados. Observe, também, que o item 'Cherry' é o item comum entre estas duas listas.

In [8]:
# Juntando as duas listas:
set_frutas = set_frutas1.union(set_frutas2)
set_frutas

{'Apple', 'Cherry', 'Nectarine', 'Orange', 'Pear', 'Strawberry', 'Watermelon'}

Note que cada elemento da lista aparece uma única vez.

Observe também que o objeto set_frutas1 é do tipo set.

In [9]:
type(set_frutas)

set

### Operador "|"
* vamos repetir o exemplo anterior, mas desta vez vamos demonstrar o uso do operador "|".

In [11]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [12]:
# Juntando as duas listas:
set_frutas = set_frutas1 | set_frutas1
set_frutas

{'Apple', 'Cherry', 'Orange', 'Watermelon'}

Mesmo resultado, certo? Particularmente, eu prefiro usar o operador "|".

## Intersecção de dois conjuntos
* Retorna a intersecção de dois objetos set;
* O operador ‘&’ produz o mesmo resultado que set1.intersection(set2).
* Teoria dos conjuntos: $X \cap Y$.

![Interseccion](https://github.com/MathMachado/Materials/blob/master/set_Intersection.PNG?raw=true)

Fonte: [Python Set](https://www.learnbyexample.org/python-set/)

In [13]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1= {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2= {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [14]:
set_frutas = set_frutas1.intersection(set_frutas2)
set_frutas

{'Cherry'}

### Operador "&"

In [15]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [16]:
set_frutas = set_frutas1 & set_frutas2
set_frutas

{'Cherry'}

## Diferença entre conjuntos
* Retorna um objeto/conjunto set contendo todos os elementos do conjunto set1 que não pertençam ao conjunto set2;
* O operador "-" produz o mesmo resultado que set1.difference(set2).
* Na teoria de conjuntos escrevemos: $A - B = A - A \cap B$

![Difference](https://github.com/MathMachado/Materials/blob/master/set_Difference.PNG?raw=true)

Fonte: [Python Set](https://www.learnbyexample.org/python-set/)

In [17]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1= {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2= {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [18]:
set_frutas = set_frutas1.difference(set_frutas2)
set_frutas

{'Apple', 'Orange', 'Watermelon'}

Confira se o resultado são os elementos que pertençam ao objeto set 1 que NÃO PERTENÇAM ao set2.

### Operador "-"

In [19]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [20]:
set_frutas = set_frutas1 - set_frutas2
set_frutas

{'Apple', 'Orange', 'Watermelon'}

## **Diferença Simétrica**
* Retorna um objeto/conjunto set contendo itens de set1 e set2 menos a intersecção de set1 e set2.
* Na teoria de conjuntos escrevemos: $A \cup B - A \cap B$.

![DifferenceSymmetric](https://github.com/MathMachado/Materials/blob/master/set_DifferenceSymetric.PNG?raw=true)

Fonte: [Python Set](https://www.learnbyexample.org/python-set/)

In [21]:
import numpy as np
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [22]:
set_frutas1 ^= set_frutas2
set_frutas1

{'Apple', 'Nectarine', 'Orange', 'Pear', 'Strawberry', 'Watermelon'}

Vimos que o item 'Cherry' é o elemento comum entre as duas listas. Portanto, 'Cherry' é a intersecção das duas listas. Certo?

Então, o resultado acima não pode conter o item 'Cherry'. Certo?

___
# **OUTROS MÉTODOS IMPORTANTES**

## Método clear()
* deleta os itens do objeto set.

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [ ]:
set_frutas1.clear()
set_frutas1

## Número de itens num objeto set

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}

In [ ]:
len(set_frutas)

Por acaso alguém estava à espera de outro númerco, como um 6, por exemplo?

## Membership

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}

In [23]:
'Apple' in set_frutas

True

## Non-Membership

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}

In [24]:
'Apple' not in set_frutas

False

## Copiar um objeto set

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}

In [ ]:
set_frutas2 = set_frutas.copy()
set_frutas2

## Testar se cada elemento de set_frutas1 pertence à set_frutas2

In [25]:
set_frutas1 = {'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Apple', 'Orange','Cherry', 'Nectarine', 'Avocado'}

In [26]:
set_frutas1.issubset(set_frutas2)

True

A interpretação disso é que set_frutas1 é subconjunto de set_frutas2. Lembra-se destes conceitos quando estudou Matemática ou Estatística?

### Operador "<="

In [ ]:
set_frutas1 = {'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Apple', 'Orange', 'Cherry', 'Nectarine', 'Avocado'}

In [ ]:
set_frutas1 <= set_frutas2

___
# **EXERCÍCIOS**

Esses exercícios abrangem diversos aspectos dos **sets em Python**, incluindo criação, manipulação, operações entre sets, e aplicações práticas como remoção de duplicatas e eficiência na verificação de pertinência. Ao praticar esses exercícios, você irá consolidar seu entendimento sobre sets e aprender a aplicá-los efetivamente em seus projetos. Boa prática!

---

## **1. Criando e Acessando Sets**

**Descrição:**

Crie um set chamado `numeros` que contenha os números `1`, `2`, `3`, `4`, `5`, `5`, `4`. Em seguida:

- Exiba o set e observe o que acontece com os números duplicados.
- Verifique se o número `3` pertence ao set e exiba uma mensagem apropriada.

**Dicas:**

- Lembre-se de que sets não permitem elementos duplicados.
- Use o operador `in` para verificar a pertinência de um elemento.

---

## **2. Removendo Duplicatas de uma Lista**

**Descrição:**

Dada a lista `lista_com_duplicatas = [1, 2, 2, 3, 4, 4, 5]`, remova os elementos duplicados convertendo-a em um set. Em seguida, converta o set de volta para uma lista chamada `lista_sem_duplicatas`.

**Dicas:**

- Use a função `set()` para converter a lista em set.
- Use a função `list()` para converter o set de volta em lista.

---

## **3. Operações de União e Interseção**

**Descrição:**

Crie dois sets:

- `pares = {0, 2, 4, 6, 8}`
- `ímpares = {1, 3, 5, 7, 9}`

Em seguida:

- Crie um set `todos_numeros` que seja a união de `pares` e `ímpares`.
- Verifique se há algum elemento comum entre `pares` e `ímpares` usando a interseção.

**Dicas:**

- Use o método `union()` ou o operador `|` para união.
- Use o método `intersection()` ou o operador `&` para interseção.

---

## **4. Diferença entre Sets**

**Descrição:**

Dado os sets:

- `set_A = {'maçã', 'banana', 'laranja'}`
- `set_B = {'banana', 'kiwi', 'melancia'}`

Encontre:

- Os elementos que estão em `set_A` mas não em `set_B`.
- Os elementos que estão em `set_B` mas não em `set_A`.

**Dicas:**

- Use o método `difference()` ou o operador `-` para encontrar a diferença.

---

## **5. Diferença Simétrica**

**Descrição:**

Utilizando os mesmos sets do exercício anterior (`set_A` e `set_B`), encontre os elementos que estão em `set_A` ou em `set_B`, mas **não** em ambos.

**Dicas:**

- Use o método `symmetric_difference()` ou o operador `^` para diferença simétrica.

---

## **6. Verificando Subsets e Supersets**

**Descrição:**

Crie os sets:

- `set_numeros = {1, 2, 3, 4, 5}`
- `set_sub = {2, 3}`

Verifique e exiba:

- Se `set_sub` é um subset de `set_numeros`.
- Se `set_numeros` é um superset de `set_sub`.

**Dicas:**

- Use os métodos `issubset()` e `issuperset()`.

---

## **7. Congelando um Set (Frozenset)**

**Descrição:**

Crie um **frozenset** chamado `fs` a partir da lista `['a', 'b', 'c']`. Tente adicionar um novo elemento ao `fs` e observe o que acontece.

**Dicas:**

- Use a função `frozenset()` para criar um set imutável.
- Tente usar o método `add()` e veja a mensagem de erro.

---

## **8. Iterando sobre um Set**

**Descrição:**

Crie um set com as vogais `{'a', 'e', 'i', 'o', 'u'}`. Em seguida:

- Itere sobre o set e exiba cada vogal em maiúscula.

**Dicas:**

- Use um loop `for` para iterar sobre os elementos do set.
- Use o método `upper()` para converter as letras para maiúsculas.

---

## **9. Removendo Itens de um Set**

**Descrição:**

Crie um set chamado `frutas` com os itens `{'maçã', 'banana', 'cereja'}`. Em seguida:

- Remova o item `'banana'` usando o método `remove()`.
- Tente remover o item `'abacaxi'` usando o método `discard()`.
- Observe a diferença entre `remove()` e `discard()` quando o item não existe.

**Dicas:**

- `remove()` gera um erro se o item não existe.
- `discard()` não gera erro se o item não existe.

---

## **10. Aplicação Prática: Filtrando Elementos Únicos**

**Descrição:**

Dada a lista de palavras `palavras = ['python', 'java', 'python', 'c', 'java', 'c++', 'ruby', 'c']`, crie uma lista chamada `palavras_unicas` que contenha apenas as palavras únicas (sem duplicatas).

**Dicas:**

- Converta a lista em um set para remover duplicatas.
- Converta o set de volta em uma lista se precisar manter o tipo list.

---

## Exercício 11
* Qual o output do code abaixo:

In [ ]:
set_numeros = {0, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9}
print(set_numeros)

## Exercícios 12
* Qual o output do code abaixo:

In [ ]:
set_numeros = {0 ,1, 2,3 , 4}
set_numeros.update([3, 4, 5, 6])
set_numeros

### Explicação
O método update() adiciona/acrescenta itens ao objeto set.

## Exercício 13
* Qual o output do code abaixo:

### Exercício 13.1.

In [ ]:
set_numeros = {0, 1 ,2, 3, 4, 5}
set_numeros2 = set_numeros.add(4)

### Exercício 13.2.

In [ ]:
set_engenheiros = {'A', 'B', 'C', 'D'}
set_programadores = {'C', 'E', 'F', 'D'}
set_gerentes = {'B', 'C', 'F', 'G'}

In [ ]:
set_empregados = set_engenheiros | set_programadores | set_gerentes
set_empregados

### Exercício 13.3.

In [ ]:
set_engenheiros_gerentes = set_engenheiros & set_gerentes
set_engenheiros_gerentes

### Exercício 13.4.

In [ ]:
set_so_gerentes = set_gerentes - set_engenheiros - set_programadores
set_so_gerentes

### Exercício 13.5.

In [ ]:
set_engenheiros.add('H')
set_engenheiros

### Exercício 13.6.

In [ ]:
set_empregados.update(set_engenheiros)
set_empregados

### Exercício 13.7.

In [ ]:
for item in [set_engenheiros, set_programadores, set_gerentes, set_empregados]:
    item.discard('F')
    print(item)

## Exercício 14
* É possível sortear os itens de um set? Explique sua resposta.

## Exercício 15
Consulte a página [Python Data Types: Sets - Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/sets/) para mais exercícios relacionados à sets.