<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB10_02__Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Melhorias da sessão
* Propor mais exercícios.

___
# Agenda

___
# **Series**

* Series é um **array uni-dimensional** indexado capaz de armazenar dados de qualquer tipo (integer, string, float, python objects, etc.). The axis labels are collectively called index.
* Series é essencialmente uma coluna (unidimensional). Veremos mais tarde que um pandas.DataFrame() é uma tabela multi-dimensional ou coleção de objetos do tipo Series.
* Assim como as listas, usamos "[]" e acessamos os itens do objeto Series através dos índices.

___
# **Criar Series a partir de lists**

### Exemplo
* Geramos uma lista com números aleatória.

In [0]:
# Importar a biblioteca Pandas
import pandas as pd

# Importar a biblioteca para geração de números aleatórios
import numpy as np

In [0]:
# Define a seed
np.random.seed(20111974)

l_Numeros= []

# Gerando números aleatórios inteiros entre 0 e 100:
for _ in range(10):
	l_Numeros.append(np.random.randint(0,100))

In [0]:
print(l_Numeros)

In [0]:
type(l_Numeros)

a função pandas.Series() transforma a lista l_Numeros num objeto series.

In [0]:
MySerie= pd.Series(l_Numeros)
print(MySerie)

In [0]:
type(MySerie)

Podemos acessar os itens do objeto Series usando os índices:

In [0]:
MySerie[0]

In [0]:
MySerie[0:5]

In [0]:
MySerie[0:20:3]

___
# **Criar Series usando numpy.array()**

In [0]:
# Importar Libraries
import pandas as pd
import numpy as np

In [0]:
l_Vogais= ['a', 'e', 'i', 'o', 'u']
a_Vogais= np.array(l_Vogais)

In [0]:
type(l_Vogais)

In [0]:
type(a_Vogais)

In [0]:
MySerie= pd.Series(a_Vogais)
print(MySerie)

In [0]:
type(MySerie)

___
# **Criar Series usando Dictionaries**

In [0]:
# Definir dicionário:
d_Frutas= {'Avocado': 0.35, 
         'Apple': 0.40, 
         'Apricot': 0.25, 
         'Banana': 0.30, 
         'Blackcurrant': 0.70, 
         'Blackberry': 0.55, 
         'Blueberry': 0.45, 
         'Cherry': 0.50, 
         'Coconut': 0.75, 
         'Fig': 0.60, 
         'Grape': 0.65, 
         'Kiwi': 0.20, 
         'Lemon': 0.15, 
         'Mango': 0.80, 
         'Nectarine': 0.75, 
         'Orange': 0.25, 
         'Papaya': 0.30,
         'Passion Fruit': 0.45,
         'Peach': 0.55,
         'Pineapple': 0.55,
         'Plum': 0.60,
         'Raspberry': 0.40,
         'Strawberry': 0.50,
         'Watermelon': 0.45}

In [0]:
MySerie= pd.Series(d_Frutas)
MySerie

Se quisermos acessar o valor para o índice 'Banana', basta fazer:

In [0]:
MySerie['Banana']

**Atenção**: Nete exemplo, nossos itens são alfanuméricos, ou seja, o nome das frutas.

___
# **Recuperar valores de uma Series**
* SerieName[Index].

### Exemplo: Clima
* Source: [Climatempo](https://www.climatempo.com.br/climatologia/558/saopaulo-sp)

In [0]:
l_Minima= [19, 19, 18, 16, 14, 12, 12, 13, 14, 15, 17, 18]
l_Maxima= [27, 28, 27, 25, 23, 22, 22, 23, 24, 25, 26, 26]
l_Precipitacao= [237, 222, 161, 82, 78, 50, 48, 36, 85, 127, 137, 201]

Nosso objetivo é organizar estas 3 séries num dataframe. Lembre-se de que um pd.DataFrame() é uma coleção de Pandas series?

## Usando Dictionaries

In [0]:
l_MesesDoAno= ['Jan', 'Fev', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [0]:
l_Jan= [l_Minima[0], l_Maxima[0], l_Precipitacao[0]]
lFev= [l_Minima[1], l_Maxima[1], l_Precipitacao[1]]
lMar= [l_Minima[2], l_Maxima[2], l_Precipitacao[2]]
lApr= [l_Minima[3], l_Maxima[3], l_Precipitacao[3]]
lMai= [l_Minima[4], l_Maxima[4], l_Precipitacao[4]]
lJun= [l_Minima[5], l_Maxima[5], l_Precipitacao[5]]
lJul= [l_Minima[6], l_Maxima[6], l_Precipitacao[6]]
lAug= [l_Minima[7], l_Maxima[7], l_Precipitacao[7]]
lSep= [l_Minima[8], l_Maxima[8], l_Precipitacao[8]]
lOct= [l_Minima[9], l_Maxima[9], l_Precipitacao[9]]
lNov= [l_Minima[10], l_Maxima[10], l_Precipitacao[10]]
lDec= [l_Minima[11], l_Maxima[11], l_Precipitacao[11]]

l_Valores= [l_Jan, l_Fev, l_Mar, l_Apr, l_Mai, l_Jun, l_Jul, l_Aug, l_Sep, l_Oct, l_Nov, l_Dec]

In [0]:
# Criar um objeto zip a partir das listas:
l_Medidas= zip(l_MesesDoAno, l_Valores)

In [0]:
# Criar um dicionário a partir do objeto zip:
d_Medidas = dict(l_Medidas)
d_Medidas

## Alternativa (código otimizado):

In [0]:
l_Valores= []
for i in range(0,len(l_MesesDoAno)):
    l_Valores.append([l_Minima[i], l_Maxima[i], l_Precipitacao[i]])
    
l_Valores

In [0]:
# Criar o objeto zip com as listas
l_Medidas= zip(l_MesesDoAno, l_Valores)

In [0]:
# Cria o dicionário a partir do objeto zip
d_Medidas = dict(l_Medidas)
d_Medidas

___
# **Exercícios**

## Exercício 1
* Adicionar as informações a seguir ao dicionário Students.

| Nome | Idade | Cidade | País |
|------|-------|--------|------|
| John | 36 | Las Vegas | EUA |
| Jack | 27 | Bangalore | India |
| Nicolas | 29 | Nice | France |