<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB10_01__Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>PANDAS PARA DATA ANALYSIS</i></b></h1></center>



# **AGENDA**:

> Veja o **índice** dos itens que serão abordados neste capítulo.

___
# **REFERÊNCIAS**
* [Learn Aggregation and Data Wrangling with Python](https://data-flair.training/blogs/data-wrangling-with-python/)
* [Python Data Cleansing by Pandas & Numpy | Python Data Operations](https://data-flair.training/blogs/python-data-cleansing/)
* [Pandas from basic to advanced for Data Scientists](https://towardsdatascience.com/pandas-from-basic-to-advanced-for-data-scientists-aee4eed19cfe)
* [Feature engineering and ensembled models for the top 10 in Kaggle “Housing Prices Competition”](https://towardsdatascience.com/feature-engineering-and-ensembled-models-for-the-top-10-in-kaggle-housing-prices-competition-efb35828eef0)
* [Pandas.Series Methods for Machine Learning](https://towardsdatascience.com/pandas-series-methods-for-machine-learning-fd83709368ff)
* [Pandas.Series Methods for Machine Learning](https://towardsdatascience.com/pandas-series-methods-for-machine-learning-fd83709368ff)
* [Gaining a solid understanding of Pandas series](https://towardsdatascience.com/gaining-a-solid-understanding-of-pandas-series-893fb8f785aa)
* [ariáveis Dummy: o que é? Quando usar? E como usar?](https://medium.com/data-hackers/vari%C3%A1veis-dummy-o-que-%C3%A9-quando-usar-e-como-usar-78de66cfcca9)
* [Exploratory Data Analysis Made Easy Using Pandas Profiling](https://towardsdatascience.com/exploratory-data-analysis-made-easy-using-pandas-profiling-86e347ef5b65)
* [Data Handling using Pandas; Machine Learning in Real Life](https://towardsdatascience.com/data-handling-using-pandas-machine-learning-in-real-life-be76a697418c)
* [Exploratory Data Analysis Tutorial in Python](https://towardsdatascience.com/exploratory-data-analysis-tutorial-in-python-15602b417445)
* [Exploring the data using python](https://towardsdatascience.com/exploring-the-data-using-python-47c4bc7b8fa2)
* [A better EDA with Pandas-profiling](https://towardsdatascience.com/a-better-eda-with-pandas-profiling-e842a00e1136)
* [Exploratory Data Analysis: Haberman’s Cancer Survival Dataset](https://towardsdatascience.com/exploratory-data-analysis-habermans-cancer-survival-dataset-c511255d62cb)
* [Exploring Exploratory Data Analysis](https://towardsdatascience.com/exploring-exploratory-data-analysis-1aa72908a5df)
* [Getting started with Data Analysis with Python Pandas](https://towardsdatascience.com/getting-started-to-data-analysis-with-python-pandas-with-titanic-dataset-a195ab043c77)
* [A Gentle Introduction to Exploratory Data Analysis](https://towardsdatascience.com/a-gentle-introduction-to-exploratory-data-analysis-f11d843b8184)
* [Exploratory Data Analysis (EDA) techniques for Kaggle competition beginners](https://towardsdatascience.com/exploratory-data-analysis-eda-techniques-for-kaggle-competition-beginners-be4237c3c3a9)
* [What is Exploratory Data Analysis?](https://towardsdatascience.com/exploratory-data-analysis-8fc1cb20fd15)
* [Exploring real estate investment opportunity in Boston and Seattle](https://towardsdatascience.com/exploring-real-estate-investment-opportunity-in-boston-and-seattle-9d89d0c9bed2)

___
# **ANÁLISE DE DADOS COM PANDAS**
## Highlights

* Rápida e eficiente library para data manipulation;
* Ferramentas para ler e gravar todos os tipos de dados e formatos: CSV, txt, Microsoft Excel, SQL databases, JSON e HDF5 format;
* Pandas é a library mais popular para análise de dados. As principais ações que faremos com Pandas são:
    * Ler/gravar diferentes formatos de dados;
    * Selecionar subconjuntos de dados;
    * Cálculos variados por coluna ou por linha das tabelas;
    * Encontrar e tratar Missing Values;
    * Combinar múltiplos dataframes;

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas.jpeg?raw=true)

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas2.jpeg?raw=true)

___
# **ATÉ QUE VOLUME DE DADOS PODEMOS USAR PANDAS?**

![RightToolForEachSize](https://github.com/MathMachado/Materials/blob/master/SizesAndTools.PNG?raw=true)

## Sources
### Dask
* [Pandas, Dask or PySpark? What Should You Choose for Your Dataset?](https://medium.com/datadriveninvestor/pandas-dask-or-pyspark-what-should-you-choose-for-your-dataset-c0f67e1b1d36)
* [Processing Data with Dask](https://medium.com/when-i-work-data/processing-data-with-dask-47e4233cf165)
* [Pandas, Fast and Slow](https://medium.com/when-i-work-data/pandas-fast-and-slow-b6d8dde6862e)
* [Por que Parquet](https://medium.com/when-i-work-data/por-que-parquet-2a3ec42141c6)
* [How to Run Parallel Data Analysis in Python using Dask Dataframes](https://towardsdatascience.com/trying-out-dask-dataframes-in-python-for-fast-data-analysis-in-parallel-aa960c18a915)
* [Why every Data Scientist should use Dask?](https://towardsdatascience.com/why-every-data-scientist-should-use-dask-81b2b850e15b)

### Spark, Koalas
* [Databricks Koalas-Python Pandas for Spark](https://medium.com/future-vision/databricks-koalas-python-pandas-for-spark-ce20fc8a7d08)
* [Bye Pandas, Meet Koalas: Pandas APIs on Apache Spark (Ep. 4)](https://medium.com/@kyleake/bye-pandas-meet-koalas-pandas-apis-on-apache-spark-ep-4-aedcd363cf4e)
* [Koalas: Easy Transition from pandas to Apache Spark](https://databricks.com/blog/2019/04/24/koalas-easy-transition-from-pandas-to-apache-spark.html?source=post_page-----aedcd363cf4e----------------------)
* [Use PySpark for Your Next Big Problem](https://medium.com/swlh/use-pyspark-for-your-next-big-problem-8aa288d5ecfa)
* [A Neanderthal’s Guide to Apache Spark in Python](https://towardsdatascience.com/a-neanderthals-guide-to-apache-spark-in-python-9ef1f156d427)
* [The Jungle of Koalas, Pandas, Optimus and Spark](https://towardsdatascience.com/the-jungle-of-koalas-pandas-optimus-and-spark-dd486f873aa4)
* [From Pandas to PySpark with Koalas](https://towardsdatascience.com/from-pandas-to-pyspark-with-koalas-e40f293be7c8)

# O que Dask?

"Dask is designed to extend the numpy and pandas packages to work on data processing problems that are too large to be kept in memory. It breaks the larger processing job into many smaller tasks that are handled by numpy or pandas and then it reassembles the results into a coherent whole." - Eric Ness ([Processing Data with Dask](https://medium.com/when-i-work-data/processing-data-with-dask-47e4233cf165))

___
# **Carregar a library Pandas e verificar a versão**

In [ ]:
# Carrega a library Pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

print(f'Versão do Pandas: {pd.__version__}')
print(f'Versão do NumPy.: {np.__version__}')

# Configurações
> Podemos configurar o pandas de forma a tornar nosso trabalho mais produtivo. Podemos configurar, por exemplo, o número de LINHAS e COLUNAS a ser mostrado, precisão dos números float. Vamos ver com mais detalhes a seguir.

Fonte: [5 Advanced Features of Pandas and How to Use Them](https://www.kdnuggets.com/2019/10/5-advanced-features-pandas.html).

In [ ]:
d_configuracao = {
    'display.max_columns': 1000,
    'display.expand_frame_repr': True,
    'display.max_rows': 10,
    'display.precision': 2,
    'display.show_dimensions': True
                  }

for op, value in d_configuracao.items():
    pd.set_option(op, value)
    print(op, value)

___
# **Criar um dataframe a partir de outros objetos**

## Criar dataframe a partir de dicionários

### Exemplo 1

In [ ]:
d_frutas = {'Apple': [5, 6, 6, 8, 10, 3, 2],
          'Avocado': [6, 6, 3, 9, 3, 2, 1]}

In [ ]:
d_frutas

In [ ]:
# index=['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'] abaixo define os label.
df_frutas = pd.DataFrame(d_frutas, index = ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'])
df_frutas

O que se comprou na sexta?

* Função df.loc[label] retorna o(s) valor(es) associados à label. Em nosso caso, os label (chaves do dicionário) são 'Seg', 'Ter', ..., 'Dom'.

In [ ]:
df_frutas.loc['Sex'] # Aqui, label= 'Sex'.

* Ou seja, o label = 'Sex', que ocupa a posição 4, tem os valores:
    * Apple..: 10
    * Avocado: 3

Da mesma forma, poderíamos utilizar a função df.iloc[index] para retornar o conteúdo/informações de index.

In [ ]:
df_frutas.iloc[4]

Portanto, df.loc['Sex'] = df.iloc[4]. Correto?

Para nos ajudar a memorizar, considere que:

* pd.loc[label] --> loc começa com a letra **l**, o que remete à label da linha.
* pd.iloc[indice] --> iloc começa com a letra **i**, o que remete ao índice (inteiro) da linha.

#### Qual é o output do code abaixo?

In [ ]:
df_frutas.loc[4]

### Exemplo 2

Na prática, lidamos com grandes bancos de dados e, nesses casos, não temos label das LINHAS definidos. Para exemplificar, considere o mesmo exemplo que acabamos de ver, com uma pequena alteração:

In [ ]:
d_frutas

In [ ]:
df_frutas = pd.DataFrame(d_frutas) # Observe que aqui não definimos os indíces
df_frutas

Veja agora que os label são números inteiros de 0 a N.

#### Qual o conteúdo da linha cujo label é 4?

In [ ]:
df_frutas.loc[4]

#### Qual o conteúdo da linha cujo índice é 4?

In [ ]:
df_frutas.iloc[4]

Ou seja, nesses casos, tanto faz usar pd.loc[] ou pd.iloc[]. Entendeu?

### Exemplo 3 - Definir os indices do dataframe usando df.set_index()

In [ ]:
d_frutas= {'Dia_Semana': ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
           'Apple': [5, 6, 6, 8, 10, 3, 2],
          'Avocado': [6, 6, 3, 9, 3, 2, 1]}

d_frutas

In [ ]:
# Cria o dataframe df_frutas:
df_frutas = pd.DataFrame(d_frutas) # Não apontamos o índice do dataframe. Portanto, o índice é criado automaticamente de 0.. N.
df_frutas

#### Qual o conteúdo da linha 4?

In [ ]:
df_frutas.iloc[4]

In [ ]:
# Definir 'Dia_Semana' como índice (label das linhas) do dataframe df_frutas
df_frutas.set_index('Dia_Semana', inplace = True)
df_frutas

A expressão acima é equivalente a:

```
df_frutas2 = df_frutas.set_index('Dia_Semana') # Observe que aqui não há 'inplace'
df_frutas2
```

* Então, qual a função do 'inplace =True' na primeira opção?

#### Qual o conteúdo da linha 4?

In [ ]:
df_frutas.iloc[4]

#### Qual o conteúdo da linha cujo label é 'Sex'?

In [ ]:
df_frutas.loc['Sex']

### Qual a diferença entre as duas próximas linhas?

In [ ]:
df_frutas

In [ ]:
df_frutas.mean()

In [ ]:
df_frutas.mean(1)

In [ ]:
df_frutas.describe()

In [ ]:
df_frutas.dtypes

### Exemplo 4

In [ ]:
d_estudantes = {'Nome': ['Jack', 'Richard', 'Tommy', 'Ana'], 
            'Age': [25, 34, 18, 21],
           'City': ['Sydney', 'Rio de Janeiro', 'Lisbon', 'New York'],
           'Country': ['Australia', 'Brazil', 'Portugal', 'United States']}

In [ ]:
# Mostrar o conteúdo do dicionário d_estudantes...
d_estudantes

In [ ]:
# Keys associadas ao dicionário d_estudantes
d_estudantes.keys()

In [ ]:
# Itens associados ao dicionário d_estudantes
d_estudantes.items()

In [ ]:
# Valores associados ao dicionário d_estudantes
d_estudantes.values()

Temos uma key = 'nome'. Qual o conteúdo desta key?

In [ ]:
d_estudantes['nome']

Qual o output da expressão a seguir:

In [ ]:
d_estudantes['nome'][0]

Criando o dataframe df_estudantes a partir do dicionário d_estudantes:

In [ ]:
df_estudantes = pd.DataFrame(d_estudantes)

In [ ]:
# Mostra o conteúdo do dataframe df_estudantes...
df_estudantes

**Atenção**: Observe que nesse caso, não definimos labels para as LINHAS. Na prática, isso é o mais comum, ou seja, os label = index, que aqui são números inteiros de 0 a N.

Mais uma vez, vamos usar df.loc[] e df.iloc[]...

In [ ]:
# Mostrando o conteúdo de da linha 3 usando df.loc[]
df_estudantes.loc[3]

OU

In [ ]:
# Mostrando o conteúdo de da linha 3 usando df.iloc[]
df_estudantes.iloc[3]

Ok, já discutimos isso anteriormente. Quando não temos labels para as LINHAS, então iloc[] = loc[]

___
## Criar dataframes a partir de listas
* Considere a lista de frutas a seguir:

In [ ]:
l_frutas = [('Melon', 6, 8, 5, 4 ,6, 2, 8), ('Avocado', 6, 6, 3, 8, 9, 3, 1), ('Blueberry', 7, 5, 9, 3, 1, 0, 4)]
l_frutas

In [ ]:
type(l_frutas)

In [ ]:
l_frutas[0]

In [ ]:
l_frutas[0][0]

In [ ]:
# Lista contendo os nomes das COLUNAS do dataframe:
l_colunas = ['Frutas', 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']
l_colunas

In [ ]:
# Convertendo as listas em dataframe
df_frutas = pd.DataFrame(l_frutas, columns = l_colunas) # Observe que aqui, o nome das COLUNAS é uma lista.
df_frutas

___
# **Copiar dataframes**

O dataframe df_estudantes tem o seguinte conteúdo:

In [ ]:
df_estudantes

se fizermos...

In [ ]:
df_estudantes2 = df_estudantes

então df_estudantes2 tem o mesmo conteúdo de df_estudantes, ok?

In [ ]:
df_estudantes2

Agora altere o valor 'Rio de Janeiro' para 'Sao Paulo' no dataframe df_estudantes2.

In [ ]:
df_estudantes2['city'] = df_estudantes2['city'].replace({'Rio de Janeiro': 'Sao Paulo'})
df_estudantes2

In [ ]:
# OU
alteracoes = {'Rio de Janeiro': 'Sao Paulo'}
df_estudantes2['city'] = df_estudantes2['city'].replace(alteracoes)
df_estudantes2

Ok, alteramos o valor 'Rio de Janeiro' por 'Sao Paulo', como queríamos. Vamos ver o conteúdo de df_estudantes (**que está intacto, pois fizemos a alteração no dataframe df_estudantes2**).

In [ ]:
df_estudantes

Ooooops... df_estudantes foi alterado? Como, se procedemos a alteração em df_estudantes2 e NÃO em df_estudantes???

* **As operações que fizermos em df_estudantes2 também serão aplicadas à df_estudantes**?

**Resposta**: SIM, pois df_estudantes2 é um ponteiro para df_estudantes. Ou seja, **qualquer operação que fizermos em df_estudantes2 será feita em df_estudantes**.

Uma forma fácil de ver isso é através dos endereços de memória dos dois (**supostos diferentes**) dataframes:

In [ ]:
id(df_estudantes2)

In [ ]:
id(df_estudantes)

**Conclusão**: df_estudantes2 é ponteiro para df_estudantes.

## Forma correta de fazer a cópia de um dataframe

Primeiramente, vamos reconstruir df_estudantes:

In [ ]:
df_estudantes = pd.DataFrame(d_estudantes)
df_estudantes

Fazendo a cópia do dataframe (**da forma correta**):

In [ ]:
df_estudantes_Copy = df_estudantes.copy()

Vamos verificar os endereços de memória dos dois dataframes:

In [ ]:
id(df_estudantes_Copy)

In [ ]:
id(df_estudantes)

Agora,  dataframe df_estudantes_Copy é uma cópia do dataframe df_estudantes

___
# **Renomear COLUNAS do dataframe**
> **Snippet**: 

    * df.rename(columns = {'Old_Name': 'New_Name'}, inplace = True)
    * OU df = df.rename(columns = {'Old_Name': 'New_Name'})

Suponha que quero renamear a COLUNA 'nome' para 'nome_cliente', que é um nome mais sugestivo.

In [ ]:
df_estudantes

In [ ]:
df_estudantes= df_estudantes.rename(columns = {'nome': 'nome_cliente'})

O comando abaixo produz o mesmo resultado que a linha anterior:

```
df_estudantes.rename(columns= {'nome': 'nome_cliente'}, inplace = True)
```

In [ ]:
# Mostrando o conteúdo de df_estudantes após renamearmos a coluna/variável 'nome' para 'Clien_Name'...
df_estudantes

Agora, suponha que queremos renamear 'age' para 'idade_cliente', 'city' para 'cidade_cliente' e 'country' para 'pais_cliente'...

In [ ]:
df_estudantes.rename(columns = {'age': 'idade_cliente', 'city': 'cidade_cliente', 'country': 'pais_cliente'}, inplace = True)

O comando abaixo produz o mesmo resultado que a linha anterior:

```
df_estudante = df_estudantes.rename(columns= {'Age': 'idade_cliente', 'City': 'cidade_cliente', 'Country': 'pais_cliente'}, inplace = True)
```

In [ ]:
# Mostrando o conteúdo de df_estudantes após a múltipla operação de renamear...
df_estudantes

Alguma dúvida até aqui?
Tudo bem até aqui?

## Challenge
* Aplicar lowercase() em todas as COLUNAS do dataframe df_estudantes. Como fazer isso?

### Minha solução:

In [ ]:
df_estudantes2 = df_estudantes.copy()

In [ ]:
# Colocar o nome das COLUNAS numa lista:
l_colunas = df_estudantes2.columns
l_colunas

In [ ]:
# Lowercase todas as COLUNAS
df_estudantes2.columns = [col.lower() for col in l_colunas]

In [ ]:
# Mostrando o conteúdo do dataframe df_estudantes
df_estudantes2

___
# **Adicionar/Acrescentar novas LINHAS ao dataframe**

## Usando dicionários
* É necessário informar {'Column_Name': value} para cada inserção. Por exemplo, vou adicionar o seguinte registro ao dataframe:
    * nome_cliente= 'Anderson';
    * idade_cliente= 22;
    * cidade_cliente= 'Porto';
    * pais_cliente= 'Portugal'

In [ ]:
df_estudantes

In [ ]:
df_estudantes_Copia= df_estudantes.copy()
df_estudantes.append({'nome_cliente': 'Anderson', 
               'idade_cliente': 22,
               'cidade_cliente': 'Porto',
               'pais_cliente': 'Portugal'}, ignore_index = True)

Esse é o resultado que desejamos?
Saberia explicar-nos o que houve de errado?

**DICA**: Lembre-se que no passo anterior, reescrevemos os nomes das COLUNAS usando o método lower().

In [ ]:
# Definindo df_estudantes novamente usando a cópia df_estudantes_Copia
df_estudantes = df_estudantes_Copia.copy()
df_estudantes

Ok, restabelecemos a cópia de df_estudantes. Agora vamos à forma correta:

In [ ]:
df_estudantes = df_estudantes.append({'nome_cliente': 'Anderson', 
               'idade_cliente': 22,
               'cidade_cliente': 'Porto',
               'pais_cliente': 'Portugal'}, ignore_index= True)

Bom, esse é o resultado que estávamos à espera...

## Usando Series
* Como exemplo, considere que queremos adicionar os seguintes dados:
    * nome_cliente= 'Bill';
    * idade_cliente= 30;
    * cidade_cliente= 'São Paulo';
    * pais_cliente= 'Brazil'

In [ ]:
novo_estudante = pd.Series(['Bill', 30, 'Sao Paulo', 'Brazil'], index= df_estudantes2.columns) # Olha que interessante: estamos a usar index= df_estudantes.columns.

Vamos ver o conteúdo de novo_estudante:

In [ ]:
novo_estudante

Por fim, adiciona/acrescenta novo_estudante ao dataframe df_estudantes...

In [ ]:
df_estudantes2 = df_estudantes2.append(novo_estudante, ignore_index= True)
df_estudantes2

___
# **Adicionar/acrescentar novas COLUNAS ao Dataframe**

## Usando Lists
* Suponha que queremos adicionar a coluna/variável 'Score'

In [ ]:
df_estudantes2

In [ ]:
# Acrescentando ou criando a coluna/variável 'score' ao dataframe usando um objeto list
df_estudantes2['score'] = [500, 300, 200, 800, 700, 100]

In [ ]:
# Mostra o conteúdo do dataframe df_estudantes...
df_estudantes2

> **Atenção**:

* Se a quantidade de valores da lista forem menores que o número de LINHAS do dataframe, então o Python apresenta um erro.
* Se a coluna/variável que queremos inserir já existe no dataframe, então os valores serão atualizados com os novos.

## Usando um valor default
* Adicionar a coluna 'total' com o mesmo valor para todas as LINHAS

In [ ]:
df_estudantes['total'] = 500
df_estudantes

## Adicionar uma COLUNA calculada a partir de outras COLUNAS

In [ ]:
df_estudantes['percentagem'] = 100*(df_estudantes['score']/sum(df_estudantes['score']))
df_estudantes

___
# **Ler/carregar dados no Python**
* Vários formatos de arquivos podem ser lidos:

|Format Type | Data Description | Reader | Writer |
|---|---|---|---|
text | CSV | read_csv | to_csv |
text | JSON | read_json | to_json |
text | HTML | read_html | to_html |
text | Local clipboard | read_clipboard | to_clipboard |
binary | MS Excel | read_excel | to_excel |
binary | HDF5 Format | read_hdf | to_hdf |
binary | Stata | read_stata | to_stata |
binary | SAS | read_sas 
binary | Python Pickle Format | read_pickle | to_pickle |
SQL | SQL | read_sql | to_sql |
SQL | Google Big Query | read_gbq | to_gbq |

* Fonte: [IO tools (text, CSV, HDF5, …)](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

___
# **Ler/Carregar csv**

In [ ]:
# carregar a library Pandas
import pandas as pd

A seguir, vamos:
* Ler o dataframe Titanic.csv;
* Definir 'PassengerId' como índice/chave da tabela através do comando index_col= 'PassengerId'.

In [ ]:
url = 'https://raw.githubusercontent.com/MathMachado/DataFrames/master/Titanic_With_MV.csv?token=AGDJQ67OZ36XJUJPE77Z7LC7RBCAU'
df_Titanic = pd.read_csv(url, index_col = 'PassengerId')
df_Titanic.head()

In [ ]:
df_Titanic.iloc[4] # NÃO É A MESMA COISA QUE df_Titanic.loc[4]!!!

* Segue o dicionário de dados do dataframe df_Titanic:
    * PassengerID: ID do passageiro;
    * survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * sex: sexo do Passageiro.

In [ ]:
# Show o dataframe df_Titanic:
df_Titanic.head()

### DICA 1
Suponha que o dataframe que queremos ler esteja localizado em:

```
/home/nsolucoes4ds/Dropbox/Data_Science/Python/Python_RFB/Python_RFB-DS_Python_020919_2244/Dataframes
```

Desta forma, para ler o dataframe (local), basta usar o comando a seguir:

```
url = '/home/nsolucoes4ds/Dropbox/Data_Science/Python/Python_RFB/Python_RFB-DS_Python_020919_2244/Dataframes/creditcard.csv'
df_Titanic = pd.read_csv(url)
```

### Dica 2
No Windows, o diretório aparece, por exemplo, da seguinte forma: 
```
C:\nsolucoes4ds\Data_Science
```
Observe as '\\' (**barras invertidas**). Neste caso, use o comando a seguir:

```
url= r'C:\nsolucoes4ds\Data_Science\creditcard.csv'
df_Titanic = pd.read_csv(url)
```

Percebeu o r'diretorio'?

___
# **Corrigir (ou uniformizar) nome das COLUNAS**
* Por exemplo, reescrever o nome das COLUNAS usando lowercase().

Para facilitar nossas análises, vamos aplicar o método lower() em todos os valores das COLUNAS objects/strings. Para isso, considere a função abaixo:

In [ ]:
df_Titanic.head()

In [ ]:
def transformacao_lower(df):
    # Primeira transformação: Aplicar lower() nos nomes das COLUNAS:
    df.columns = [col.lower() for col in df.columns]

    # Segunda transformação: Aplicar o método .str.lower() nos valores das COLUNAS object/strings:
    l_cols_objeto = df.select_dtypes(include = ['object']).columns
    
    for col in l_cols_objeto:
        df[col] = df[col].str.lower()

Para saber mais sobre o método df[col].str.lower(), consulte [pandas.Series.str.lower](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.lower.html).

In [ ]:
transformacao_lower(df_Titanic)
df_Titanic.head()

# **Selecionar um subconjunto de colunas**
Suponha que eu queira selecionar somente as colunas 'Name' e 'Sex'.

In [ ]:
df_Titanic.head()

In [ ]:
df_Titanic2 = df_Titanic[['Name', 'Sex']]
df_Titanic2.head()

# map()
> Artificio para lidar com a transformação de dados utilizando um dicionário: {'key': valor}.

In [ ]:
# Construindo uma variável mais intuitiva para nos ajudar nas análises:
df_Titanic['survived2'] = df_Titanic['survived']
df_Titanic['survived2'] = df_Titanic['survived2'].map({0:'died', 1:'survived'})
df_Titanic[['survived', 'survived2']].head(3)

___
# **Selecionar COLUNAS do dataframe**
* Suponha que queremos selecionar somente as COLUNAS 'survived', 'sex' e 'embarked':

In [ ]:
df_Titanic2 = df_Titanic[['survived', 'sex', 'embarked']]
df_Titanic2.head()

___
# **Criar um dicionário a partir de um dataframe**
> Suponha o dataframe-exemplo a seguir:

In [ ]:
df = pd.DataFrame({'a': ['red', 'yellow', 'blue'], 'b': [0.5, 0.25, 0.125]})
df

De dataframe para Dicionário...

In [ ]:
df.to_dict('dict')

___
# **Criar uma lista a partir de um dataframe**
> Suponha o dataframe-exemplo a seguir:

In [ ]:
df = pd.DataFrame({'a': ['red', 'yellow', 'blue'], 'b': [0.5, 0.25, 0.125]})
df

De dataframe para Lista...

In [ ]:
df.to_dict('list')

___
# **Mostrar as primeiras k LINHAS do dataframe**
> df.head(k), onde k é o número de LINHAS que queremos visualizar. Por default, k= 10.

In [ ]:
df_Titanic.head()

___
# **Mostrar as últimas k LINHAS do dataframe**
> df.tail(k), onde k é o número de LINHAS que queremos ver. Por default, k= 10.

In [ ]:
df_Titanic.tail()

Por default, df.tail() mostra as últimas 5 LINHAS/instâncias do dataframe. Entretando, pode ser ver qualquer número de LINHAS k, como, por exemplo, k= 10 mostrado abaixo.

In [ ]:
df_Titanic.tail(10)

___
# **Mostrar o nome das COLUNAS do dataframe**
* df.columns

In [ ]:
df_Titanic.columns

___
# **Mostrar os tipos das COLUNAS do dataframe**
* Propriedade: df.dtypes --> Não há parênteses!

In [ ]:
df_Titanic.dtypes # dtypes é uma propriedade, portanto não requer "()". Os métodos, por outro lado, requerem "(arg1, arg2, ..., argN)"

___
# **Selecionar automaticamente as COLUNAS do dataframe pelo tipo**
> snippet: df.select_dtypes(include=[tipo]).columns

| Tipo | O que seleciona | Sintaxe |
|------|-----------------|---------|
| number | colunas do tipo numéricas | df.select_dtypes(include=['number]).columns |
| float | colunas do tipo float | df.select_dtypes(include=['float']).columns |
| bool | colunas do tipo booleanas | df.select_dtypes(include=['bool']).columns |
| object | colunas do tipo categóricas/strings | df.select_dtypes(include=['object']).columns |

* Se quisermos selecionar mais de um tipo, basta informar a lista de tipos. 
    * Exemplo: df.select_dtypes(include=['object', 'float']).columns

## Selecionar automaticamente as COLUNAS Numéricas do dataframe

### Lista com as COLUNAS numéricas do dataframe:

In [ ]:
l_cols_numericas = df_Titanic.select_dtypes(include = ['number']).columns # ".columns" retorna a lista de colunas numéricas
l_cols_numericas

### DataFrame com as COLUNAS numéricas:

In [ ]:
df_numericas = df_Titanic.select_dtypes(include = ['number']) # Atenção: aqui não temos .columns --> Neste caso, o retorno será o dataframe.
df_numericas.head()

## Selecionar automaticamente as COLUNAS float do dataframe

### Lista com as COLUNAS float:

In [ ]:
l_cols_float = df_Titanic.select_dtypes(include = ['float']).columns
l_cols_float

### DataFrame com as COLUNAS float:

In [ ]:
df_float = df_Titanic.select_dtypes(include = ['float']) # Atenção: aqui não temos .columns
df_float.head()

## Selecionar automaticamente as COLUNAS Booleanas do dataframe

### Lista com as COLUNAS Booleanas:

In [ ]:
l_cols_booleanas = df_Titanic.select_dtypes(include = ['bool']).columns
l_cols_booleanas

### DataFrame com as COLUNAS Booleanas:

In [ ]:
df_booleanas = df_Titanic.select_dtypes(include=['bool']) # Atenção: aqui não temos .columns
df_booleanas.head()

## Selecionar automaticamente as COLUNAS do tipo string (object)

### Lista com as COLUNAS do tipo object/string:

In [ ]:
l_cols_objeto = df_Titanic.select_dtypes(include=['object']).columns
l_cols_objeto

### DataFrame com as COLUNAS do tipo Object/String:

In [ ]:
df_cols_obs = df_Titanic.select_dtypes(include=['object']) # Atenção: aqui não temos .columns
df_cols_obs.head()

___
# **Reordenar as COLUNAS do dataframe**

In [ ]:
df_Titanic.head()

* Suponha que queremos reordenar as COLUNAS do dataframe df_Titanic em ordem alfabética, conforme abaixo:
    * age;
    * embarked;
    * fare;
    * parch;
    * pclass;
    * sex;
    * sibsp;
    * survived.

In [ ]:
df_Titanic = df_Titanic.reindex(sorted(df_Titanic.columns), axis = 1)
df_Titanic.head()

___
# **Mostrar a dimensão do dataframe**
* Dimensão = Número de LINHAS e COLUNAS

In [ ]:
df_Titanic.shape

Qual a interpretação?

## **Quebrar a dimensão em duas partes: número de LINHAS e COLUNAS**
* Número de linhas do dataframe.: df_Titanic.shape[0]
* Número de colunas do dataframe: df_Titanic.shape[1]

In [ ]:
f'O dataframe df_Titanic possui {df_Titanic.shape[0]} linhas e {df_Titanic.shape[1]} colunas.'

___
# **Combinar dataframes: Merge, Join & Concatenate**
* Fonte: [Merge, join, and concatenate](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

* A seguir, três formas para combinar dataframes:

## Concatenate
* Une/empilha dataframes
* Fonte: https://github.com/aakankshaws/Pandas-exercises

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']})

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
df= pd.concat([df1, df2, df3])
df

Veja que basicamente empilhamos os dataframes. No entanto, se fizermos...

In [ ]:
df = pd.concat([df1, df2, df3], axis = 1) # axis = 1 é uma operação de coluna
df

Se, no entanto, tivermos:

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

Então...

In [ ]:
df = pd.concat([df1, df2, df3], axis = 1)
df

Porque isso acontece?

## Merge
> Primeiramente, vamos ver todos os casos possíveis de joins.

### Exemplo
> O exemplo a seguir foi inspirado no exemplo apresentado em [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins). Considere os dataframes a seguir

In [ ]:
import pandas as pd

d_Tabela_A = {'indices': [1,2,3,6,7,5,4,10], 'valores': ['A','B','C','D','E','F','G','H']}
d_Tabela_B = {'indices': [1,2,3,6,7,8,9,11], 'valores': ['AA', 'BB','CC','DD','EE','FF','GG','HH']}

In [ ]:
df_conjunto_A = pd.DataFrame(d_Tabela_A).set_index('indices')
df_conjunto_B = pd.DataFrame(d_Tabela_B).set_index('indices')

![SQL_inner_join](https://github.com/MathMachado/Materials/blob/master/SQL_inner_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_inner_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'inner')
df_inner_join

![SQL_left_join](https://github.com/MathMachado/Materials/blob/master/SQL_left_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_left_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'left')
df_left_join

![SQL_right_join](https://github.com/MathMachado/Materials/blob/master/SQL_right_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_right_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'right')
df_right_join

![SQL_outer_join](https://github.com/MathMachado/Materials/blob/master/SQL_outer_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_outer_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how = 'outer')
df_outer_join

![SQL_left_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_left_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_left_excluding_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how ="outer", indicator=True).query('_merge=="left_only"')
df_left_excluding_join

![SQL_right_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_right_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [ ]:
df_conjunto_A

In [ ]:
df_conjunto_B

In [ ]:
df_right_excluding_join = pd.merge(df_conjunto_A, df_conjunto_B, on = 'indices', how ="outer", indicator=True).query('_merge=="right_only"')
df_right_excluding_join

![SQL_outer_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_outer_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

### Desafio: Como resolver este?

### Observações:

* Em alguns casos a variável chave nos dois dataframes que se quer fazer o join possui nomes diferentes. Neste caso, use 'left_on' e 'right_on' para definir o nome das COLUNAS chaves no dataframe da esquerda e direita:
    * pd.merge(df1, df2, left_on ="employee", right_on ="nome")
        * No exemplo acima, o dataframe df1 (dataframe da esquerda) possui chave 'employee' enquanto que o dataframe df2 (dataframe da direita), possui chave 'nome'. Usando as 'left_on' e 'right_on' fica claro o nome das chaves de ligação de cada dataframe.

## Joining

In [ ]:
df_esquerdo = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

df_direito = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
df_esquerdo

In [ ]:
df_direito

In [ ]:
df_esquerdo.join(df_direito)

In [ ]:
df_esquerdo.join(df_direito, how ='outer')

___
# **Selecionar LINHAS do dataframe baseado nos índices**
### Leitura Adicional
* [pandas loc vs. iloc vs. ix vs. at vs. iat?
](https://stackoverflow.com/questions/28757389/pandas-loc-vs-iloc-vs-ix-vs-at-vs-iat/47098873#47098873)
* [Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

## 1st Approach - pd.loc[]
* Para capturar o conteúdo da linha k, use df.loc[row_indexer,column_indexer].

In [ ]:
df_Titanic.head()


Por exemlo, o comando a seguir mostra o conteúdo da linha 0, todas as COLUNAS(:)

In [ ]:
df2= df_Titanic.loc[1,:]
df2.head()

Mostrando o conteúdo das LINHAS k= 1:2 (ou seja, LINHAS 1 e 2), todas as COLUNAS(:)

In [ ]:
df_Titanic.loc[1:2, :]

Mostrar os conteúdos da linha k= 1, coluna 'pclass':

In [ ]:
df_Titanic.loc[1, ['pclass']]

Mostrar os conteúdos da linha k= 1 e COLUNAS ['pclass', 'sex']:

In [ ]:
df_Titanic.loc[0, ['pclass', 'sex']]

Porque temos um erro aqui?

Versão correta abaixo:

In [ ]:
df_Titanic.loc[1, ['pclass', 'sex']]

Mostrar os conteúdos da linha k= 1:5 e COLUNAS ['pclass', 'sex']:

In [ ]:
df_Titanic.loc[1:5, ['pclass', 'sex']]

Agora suponha que queremos selecionar toda a 'sex'. Como fazer isso?

In [ ]:
df_sex= df_Titanic.loc[:, 'sex']
df_sex.head()

Fácil selecionarmos o que queremos usando .loc() e iloc(), certo?

## 2nd Approach - Usando lists

In [ ]:
df_Titanic[0:2] # Mostrar os conteúdos das LINHAS 0:2

In [ ]:
df_Titanic[:3] # Mostrar os conteúdos até a linha 3

In [ ]:
df_Titanic['sex'].head() # Mostrar o conteúdo inteiro da variável 'sex'

In [ ]:
df_Titanic[0:5]['sex'].head() # Mostrar as LINHAS 0 a 5 da variável 'sex'

___
# **Selecionar/Filtrar/Substituir LINHAS do dataframe baseado em condições**

## Exemplo 1
> Aproveitando o exemplo anterior, queremos selecionar do dataframe somente os passageiros do sexo 'male'.

### Approach 1: df.loc() e df.iloc()

In [ ]:
df_sexo_m_1 = df_Titanic.loc[df_Titanic['sex'] == 'male', 'sex']
df_sexo_m_1.head()

### Approach 2: Uso do []

In [ ]:
df_sexo_m_2 = df_Titanic[df_Titanic['sex'] == 'male']['sex']
df_sexo_m_2.head()

### Approach 3: df.isin()

#### Exemplo 1 - Filtro simples

In [ ]:
df_sexo_m_3 = df_Titanic['sex'].isin(['male'])
df_sexo_m_3.head()

#### Exemplo 2 - Filtro duplo = Duas condições
> Selecionar todas as LINHAS onde sexo = 'male' e Pclass = 1.

In [ ]:
# Filtros usando df.isin() 
filtro_m = df_Titanic["sex"].isin(["male"]) 
filtro_class1 = df_Titanic["Pclass"].isin([1]) 
  
# Mostra os resutados  
df_Titanic[filtro_m & filtro_class1].head()

In [ ]:
df_sexo_m_class = df_Titanic[((df_Titanic['sex'] == 'male') & (df_Titanic['Pclass'] == 1))]
df_sexo_m_class.head()

### Approach 4 - Filtrar com df.str.contains('s_substr')

In [ ]:
# Mostrar todas as LINHAS onde a string 'Mr' aparece no nome do passageiro:
df2 = df_Titanic[df_Titanic['Name'].str.contains('Mr')]
df2.head()

Para saber mais sobre o método df[col].str.contais(), consulte https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html.

## Substituir valores do dataframe
> Suponha que queremos substituir todos os valores de pclass da seguinte forma:
* Se pclass = 1 --> pclass2 = 'Classe1';
* Se pclass = 2 --> pclass2 = 'Classe2';
* Se pclass = 3 --> pclass2 = 'Classe3';

Como fazer isso?

In [ ]:
df_Titanic.head()

In [ ]:
df_Titanic['pclass2'] = df_Titanic['pclass']
df_Titanic['pclass2'][df_Titanic['pclass'] == 1] = 'Classe1'
df_Titanic['pclass2'][df_Titanic['pclass'] == 2] = 'Classe2'
df_Titanic['pclass2'][df_Titanic['pclass'] == 3] = 'Classe3'
df_Titanic['pclass2'].head()

___
# **Selecionar amostras aleatórias do dataframe**

Vimos que o dataframe df_Titanic é muito grande. Então, vamos selecionar aleatoriamente 100 LINHAS.

In [ ]:
import random  

# Biblioteca para avaliarmos o tempo de processamento de cada alternativa
import time

In [ ]:
# Usando sample
t0= time.time()
df_Titanic_a100= df_Titanic.sample(100, replace= False, random_state= 20111974)
t1= time.time()
t= t1-t0
df_Titanic_a100.head()

In [ ]:
f'Tempo de processamento: {t}'

In [ ]:
# Usando NumPy
import numpy as np

t0 = time.time()
np.random.seed(20111974)
indices = np.random.choice(df_Titanic.shape[0], replace = False, size=100)
df_Titanic_a100_2 = df_Titanic.iloc[indices]
t1 = time.time()
t = t1-t0
df_Titanic_a100_2.head()

In [ ]:
f'Tempo de processamento: {t}'

In [ ]:
df_Titanic_a100_2.shape

___
# **Descrever o Dataframe**

In [ ]:
df_Titanic_a100.describe()

In [ ]:
df_Titanic_a100_2.describe()

___
# **Identificar e lidar com LINHAS duplicadas**

## Exemplo 1
* considera as duplicatas em todas as COLUNAS do dataframe.

In [ ]:
df = pd.DataFrame({'A':[1,1,3,4,5,1], 'B':[1,1,3,7,8,1], 'C':[3,1,1,6,7,1]})
df

In [ ]:
# Lista as duplicações em forma booleana
df.duplicated()

Observe a linha 5, onde temos a informação que esta linha está duplicada. Na verdade, a linha 5 é igual à linha 1

In [ ]:
# Mostra as LINHAS duplicadas
df[df.duplicated()]

In [ ]:
# Deleta a linha 5 que, como vimos, estava duplicada (uma cópia da linha 1).
df= df.drop_duplicates()
df

## Exemplo 2
* Considera somente algumas COLUNAS

In [ ]:
df = pd.DataFrame({'A':[1,1,3,4,5,1], 'B':[1,1,3,7,8,1], 'C':[3,1,1,6,7,1]})
df

In [ ]:
# Mostra as LINHAS duplicadas usando as COLUNAS 'A' e 'B'
df[df.duplicated(subset=['A','B'])]

In [ ]:
# Deleta as LINHAS 1 e 5, pois como podemos ver, são duplicatas da linha 0
df= df.drop_duplicates(subset = ['A', 'B'])
df

___
# **Trabalhar com dados do tipo texto**
* Fontes:
    * [Working with text data](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)
    * [Using String Methods](https://www.ritchieng.com/pandas-string-methods/).

Preparando os dados para o exemplo:

In [ ]:
# Definir um dicionário com os dados: 
import numpy as np

l_idade = []
for i in range(6):
    np.random.seed(i)    
    l_idade.append(np.random.randint(10, 40))
    

d_exemplo = {'Nome':['Mr. Antonio dos Santos', 'Mr. Joao Pedro', 'Miss. Priscila Alvarenga', 'Mr. fagner NoVAES', 'Miss. Danielle Aparecida', 'Mr. Paullo Amarantes'], 
        'Idade': l_idade, 
        'Cidade':['lisboa', 'Sintra', 'Braga', 'Guimaraes', 'Mafra', 'Nazare']} 
   
# Converte o dicionário num dataframe
df = pd.DataFrame(d_exemplo) 
df

* Sugestões do que podemos fazer com relação á coluna 'nome' do dataframe df:
    * Extrair o cumprimento do nome: Mr., Miss e etc.
    * Construir as COLUNAS PrimeiroNome e SegundoNome.
    * Criar a variável classe_idade.

## Extrair o cumprimento do nome

In [ ]:
df_Nome= df['Nome'].str.split(' ', n = 2, expand = True) 
df_Nome

Altere o valor de n para 3 e explique como as coisas funcionam...

In [ ]:
# Capturando o cumprimento do nome:
df['tamanho_nome'] = df['Nome'].str.split(' ', n = 2, expand = True)[0]
df

## Construir as COLUNAS primeiro_nome e Segundo_Nome

In [ ]:
# Capturando o primeiro nome:
df['primeiro_nome'] = df['Nome'].str.split(' ', n = 2, expand = True)[1]
df['ultimo_nome'] = df['Nome'].str.split(' ', n = 2, expand = True)[2]
df

### Construir a variável classe_idade

 | Limite Inferior | Limite Superior | Classe |
    |-----------------|-----------------|--------|
    | Inf | 15 | Inf_15 |
    | 15 | 20 | 15_20 |
    | 20 | 30 | 25_30 |
    | 30 | 40 | 30_40 |
    | 40 | 50 | 40_50 |
    | 50 | Sup | 50_Sup |

In [ ]:
def classe_idade):
    if (Idade <= 15):
        return 'Inf_15'
    if (15 < Idade <= 20):
        return '15_20'
    elif(20 < Idade <= 30):
        return '20_30'
    elif (30 < Idade <= 40):
        return '30_40'
    elif (40 < Idade <= 50):
        return '40_50'
    elif (Idade > 50):
        return '50_Sup'
    else:
        return 'Outros'

In [ ]:
df['classe_idade'] = df['Idade'].map(classe_idade)

___
# **Agrupar Informações: pd.groupby()**
* Fonte: [Group By: split-apply-combine](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

* Os componentes do comando Groupby()
    * **Grouping_Column** - Coluna Categórica pelo qual os dados serão agrupados;
    * **Aggregating_Column** - Coluna numérica cujos valores serão agrupados;
    * **Aggregating_Function** - Função agregadora, ou seja: sum, min, max, mean, median, etc...

> Sintaxe: 

```
df.groupby('Grouping_Column').agg({'Aggregating_Column': 'Aggregating_Function'})

OU

df['Aggregating_Column'].groupby(df['Grouping_Column']).Function()
```

## Exemplo 1

In [ ]:
transformacao_lower(df_Titanic)
df_Titanic.head()

In [ ]:
# Agrupando df_Titanic por 'sex3'
df_Titanic.groupby(['sex', 'pclass']).agg({'fare': ['min', 'median', 'mean','max'], 'age': ['count', 'mean','max']})

In [ ]:
# Agrupando df_Titanic por 'sex3' e 'Pclass'
df_Titanic.groupby(['sex3','Pclass']).agg({'Fare': ['max', 'min']}).round(0)

In [ ]:
df_Titanic.groupby(['sex3']).agg({'Age': ['mean','min','max']}).round(0)

In [ ]:
df_Titanic.head()

## Exemplo 2

### Preparando o exemplo

In [ ]:
l_coluna = []

for i in range(1,6):
    np.random.seed(i)
    l_coluna.append(np.random.randint(0, 10, 10))
    
np.random.seed(6)
l_coluna.append(np.random.rand(10))

l_coluna

In [ ]:
l_coluna[0]

In [ ]:
df = pd.DataFrame({'coluna6' : ['a', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'a'],
                'coluna7' : ['um', 'dois', 'um', 'dois', 'um', 'dois', 'dois', 'um', 'um', 'dois'],
                'coluna1' : l_coluna[0],
                'coluna2' : l_coluna[1],
                'coluna3' : l_coluna[2],
                'coluna4' : l_coluna[3],
                'coluna5' : l_coluna[4],
                'coluna8' : l_coluna[5],
                'Pessoas' : ['Jose','Maria','Pedro','Carlos','Joao','Ana','Manoel','Mafalda','Antonio','Ricardo'],
                'sexo'    : ['m','f','m','m','m','f','m','f','m','m']})
df

Agrupando por 'coluna6':

In [ ]:
df.groupby('coluna6').agg({'coluna1': ['min','mean','median','max']})

Agora, vamos repetir o processo usando duas COLUNAS-chaves 'coluna6' e 'coluna7':

In [ ]:
df_estatisticas_descritivas = df.groupby(['coluna6','coluna7']).agg({'coluna1': ['min','mean','median','max']})
df_estatisticas_descritivas

Observe que df_estatisticas_descritivas é um dataframe. Portanto, podemos selecionar LINHAS e/ou COLUNAS deste dataframe da forma que quisermos.

In [ ]:
# Índices do dataframe:
df_estatisticas_descritivas.index

In [ ]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um':
df_estatisticas_descritivas.loc[('a', 'um')]

In [ ]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um', primeiro valor:
df_estatisticas_descritivas.loc[('a', 'um')][0] # ou seja, selecionamos min

In [ ]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um', segundo valor:
df_estatisticas_descritivas.loc[('a', 'um')][1] # ou seja, selecionamos mean

E daí por diante...

Para aprender mais sobre como trabalhar com dois índices em um dataframe, consulte [Hierarchical indices, groupby and pandas](https://www.datacamp.com/community/tutorials/pandas-multi-index).

___
## Exemplo 3
### Operações e transformações em grupo

In [ ]:
# Mostra o dataframe-exemplo:
df

In [ ]:
# Constroi dataframe df_Medias
df_Medias = df.groupby('coluna6').mean().add_prefix('mean_')
df_Medias

In [ ]:
# Combina (merge) com o dataframe df:
pd.merge(df, df_Medias, left_on ='coluna6', right_index=True)

___
# **Discretizar COLUNAS numéricas**
* pd.cut() - classes com base em valores;
* pd.qcut() - classes com base em quantis da amostra, ou seja teremos a mesma quantidade de itens em cada classe.

> Este artifício é muito utilizado em Machine Learning quando queremos construir classes para variáveis numéricas (integer ou float). Acompanhe a seguir:

In [ ]:
df

## pd.cut()

In [ ]:
# Construir 4 classes para a variável float 'coluna8':
Bucket_cut = pd.cut(df['coluna8'], 4) # aqui, estamos construindo 4 buckets
Bucket_cut

In [ ]:
# Quem são os Bucket's que construimos:
Bucket_cut.value_counts()

Como podem ver, de fato construimos 4 bucket's. **Observe que não temos a mesma quantidade de itens em cada classe!!!**

## pd.qcut()

In [ ]:
Bucket_qcut = pd.qcut(df['coluna8'], 4, labels=False)
Bucket_qcut

In [ ]:
# Quem são os Bucket's que construimos:
Bucket_qcut.value_counts()

## Comentários
* pd.qcut() garante uma distribuição mais uniforme dos valores em cada classe. Isso significa que é menos provável que você tenha uma classe com muitos dados e outra com poucos dados.
* Eu prefiro usar pd.qcut().

___
# **Distribuição conjunta - crosstabs**
> Suponha que queremos analisar o número de sobreviventes em relação à COLUNA embarked.

In [ ]:
df_Titanic2.head()

In [ ]:
pd.crosstab(df_Titanic2['survived'], df_Titanic2['embarked'])

___
# **Deletar COLUNAS do dataframe**
> Deletar as COLUNAS 'coluna2' e 'coluna5' do dataframe.

In [ ]:
df

## Usando inplace = True

In [ ]:
df.drop(['coluna2','coluna5'], axis =1, inplace =True)
df

## Usando atribuição

In [ ]:
df= df.drop(['coluna2','coluna5'], axis =1)
df

___
# **Criar COLUNAS dummies para dados categóricos**
> Nosso objetivo é construir variáveis dummies para nossas COLUNAS categóricas.

* Fontes: 
    * [Categorical data](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)
    * [Creating Dummy Variables](https://www.ritchieng.com/pandas-creating-dummy-variables/)

In [ ]:
df

Vamos construir variáveis dummies para as COLUNAS 'coluna6' e 'coluna7', da seguinte forma:

In [ ]:
pd.get_dummies(df['coluna6'])

Qual a interpretação do resultado acima?

In [ ]:
pd.get_dummies(df['coluna7'])

Qual a interpretação do resultado acima?

In [ ]:
df = pd.get_dummies(df, columns =['coluna6', 'coluna7', 'sexo'])
df

In [ ]:
df.columns

___
# **Calcular correlação (Análise de Correlação)**
> A correlação pode ser calculada usando o método df.corr(). Para mais detalhes sobre os tipos de correlação existentes bem como a aplicação de cada uma delas, consulte os links a seguir:

* [Pearson correlation coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient)
* [Kendall rank correlation coefficient](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient)
* [Spearman's rank correlation coefficient](https://en.wikipedia.org/wiki/Spearman%27s_rank_correlation_coefficient).

Para aprender mais sobre a geração de heatmap, consulte [Seaborn Heatmap Tutorial (Python Data Visualization)](https://likegeeks.com/seaborn-heatmap-tutorial/)

## Gerando o dataframe-exemplo:

In [ ]:
# Visualizar os dados
df_X.head()

In [ ]:
# Mostra a matriz de correlação usando a correlação de Pearson
set_Colunas_Correlacionadas = set()
matriz_correlacao = df_X.corr().where(np.triu(np.ones(df_X.corr().shape), k = 1).astype(np.bool))
matriz_correlacao

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Gerando um dataframe com 15 colunas, sendo 9 informativas e 6 redundantes:
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=1000, n_features=15, n_informative=9,
    n_redundant=6, n_repeated=0, n_classes=2, n_clusters_per_class=1,
    random_state=20111974)

df_X = pd.DataFrame(X, columns= ['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14', 'v15'])
df_y = pd.DataFrame(y, columns= ['target'])

### Quem são as colunas altamente correlacionadas?

In [ ]:
for i in range(len(matriz_correlacao.columns)):
    for j in range(i):
        if abs(matriz_correlacao.iloc[i, j]) > 0.8:
            colnome = matriz_correlacao.columns[i]
            set_Colunas_Correlacionadas.add(colnome)

set_Colunas_Correlacionadas

A seguir, a correlação mais visual:

In [ ]:
fig, ax = plt.subplots(figsize = (12, 12)) 
mask = np.zeros_like(df_X.corr().abs())
mask[np.triu_indices_from(mask)] = 1
sns.heatmap(df_X.corr().abs(), mask= mask, ax= ax, cmap='coolwarm', annot= True, fmt= '.2f', center= 0)

# **Scatterplot**

## Com regressão

In [ ]:
sns.pairplot(df_X, kind = "reg")
plt.show()

## Sem regressão

In [ ]:
sns.pairplot(df_X, kind = "scatter")
plt.show()

___
# **Salvar dataframe como csv**

In [ ]:
df_X.to_csv('example.csv')

# **Dicionário de palavras**
> Muito utilizado em NLP e Machine Learning.
* Caso de Uso: Seguradoras --> Quando um segurado aciona a Seguradora para descrever um acidente (por exemplo), há um algorítmo que transforma o áudio em texto para mineração de textos.

In [ ]:
df_Titanic.head()

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
CountVectorizer = CountVectorizer()
matriz_contagens = CountVectorizer.fit_transform(df_Titanic['name']) # Informe a coluna do tipo texto/string que queremos analisar/avaliar
print(matriz_contagens)

In [ ]:
df_dicionario_palavras = pd.DataFrame(CountVectorizer.get_feature_names(), columns = ['palavra'])
df_dicionario_palavras["vezes_que_aparece"] = matriz_contagens.sum(axis = 0).tolist()[0]
df_dicionario_palavras = df_dicionario_palavras.sort_values("vezes_que_aparece", ascending = False) #.reset_index(drop = True)
df_dicionario_palavras.head(10)

# Desafio
> Transforme o code Python da sessão **Dicionário de palavras** em função para usarmos futuramente.

___
# **Exercícios**

## Exercício 1
* A partir dos dataframes USA_Abbrev, USA_Area e USA_Population, construa o Dataframe USA contendo as COLUNAS state, abbreviation, area, ages, year, population.

* Observação: A forma mais fácil de ler um arquivo CSV (a partir do Excell por exemplo) a partir do GitHub é clicar no arquivo csv no seu repositório do GitHub e em seguida clicar em 'raw'. Depois, copie o endereço apresentado no browser e cole na variável 'url'. Qualquer dúvida, leia o documento a seguir: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92.

## Exercício 2
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir e faça o merge do dataframe df_esquerdo com o dataframe df_direito:

In [ ]:
df_esquerdo = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
df_direito = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

## Exercício 3
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir:

In [ ]:
df_esquerdo = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
df_direito = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

### Perguntas
* Qual o output e a interpretação dos comandos a seguir:

In [ ]:
pd.merge(df_esquerdo, df_direito, on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'outer', on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'right', on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'left', on = ['key1', 'key2'])

## Exercício 5
5.1. Identifique e delete os atributos do dataframe df_Titanic que podem ser excluídos inicialmente no início da análise de dados.

___
## Exercício 6
* (a) Carregue o dataframe Titanic_With_MV.csv e analise o dataframe em busca de inconsistências e Missing Values (NaN).

### Feature Engineering
* (b) Com a coluna 'cabin', construir as colunas:
    * deck - Letra de Cabin;
    * seat - Número de Cabin
* (c) Criar a coluna 'sozinho_parch', onde sozinho_parch= 1 significa que o passageiro viaja sozinho e 0, caso contrário.
* (d) Criar o atributo 'sozinho_sibsp', onde sozinho= 1 significa que o passageiro viaja sozinho e 0, caso contrário.
* (e) Discretizar a coluna 'fare' em 10 buckets.
* (f) Discretizar a coluna 'age'.
* (g) Capturar os títulos 'Ms', 'Mr' e etc contidos na coluna 'Title';
* (h) Qual a relação entre as variáveis e a variável-target?

In [ ]:
import pandas as pd
df_Titanic = pd.read_csv('https://raw.githubusercontent.com/MathMachado/Python4DS/DS_Python/Dataframes/Titanic_With_MV.csv?token =AGDJQ63MNPPPROFNSO2BZW25XSR72', index_col= 'PassengerId')
df_Titanic.head()

* Segue o dicionário de dados do dataframe Titanic:
    * PassengerID: ID do passageiro;
    * survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * sex: sexo do Passageiro

## Resposta do item (a)
### Coluna XPTO


### Coluna XPTO2

## Resposta do item (b)

## Exercício 7
Consulte a página [Pandas Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/pandas/index.php) para mais exercícios relacionados á este tópico.

## Exercício 8
Crie a coluna 'aleatorio' no dataframe df_Titanic em que cada linha recebe um valor aleatório usando o método np.random.random()

In [ ]:
df_Titanic.head()