<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB10_01__Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Melhorias da sessão**
* Explicar melhor a questão do .copy(). Veja os exemplos abaixo...
* Desenvolver "Querying a Dataframe";
* Usar os livros (estão no meu Dropbox): Python Data Analysis & Python Data Analysis Cookbook para conteúdos de Pandas.

___
# **Referências**
* [Learn Aggregation and Data Wrangling with Python](https://data-flair.training/blogs/data-wrangling-with-python/)
* [Python Data Cleansing by Pandas & Numpy | Python Data Operations](https://data-flair.training/blogs/python-data-cleansing/)

___
# **Análise de Dados Com Pandas**
## Highlights

* Rápida e eficiente library para data manipulation;
* Ferramentas para ler e gravar todos os tipos de dados e formatos: CSV, txt, Microsoft Excel, SQL databases e HDF5 format;
* Pandas é a library mais popular para análise de dados. As principais ações que faremos com Pandas são:
    * Ler/gravar diferentes formatos de dados;
    * Selecionar subconjuntos de dados;
    * Cálculos variados por coluna ou por linha das tabelas;
    * Encontrar e tratar Missing Values;
    * Combinar múltiplos dataframes;

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas.jpeg?raw=true)

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas2.jpeg?raw=true)

___
# **Até quando usar Pandas?**

![RightToolForEachSize](https://github.com/MathMachado/Materials/blob/master/SizesAndTools.PNG?raw=true)

Source: [Pandas, Dask or PySpark? What Should You Choose for Your Dataset?](https://medium.com/datadriveninvestor/pandas-dask-or-pyspark-what-should-you-choose-for-your-dataset-c0f67e1b1d36)

___
# **Verificar a versão do Pandas**

In [0]:
!pip install bamboolib

In [0]:
# Carrega a library Pandas
import pandas as pd
import numpy as np
import bamboolib
import matplotlib.pyplot as plt
%matplotlib inline

print(f'Versão do Pandas: {pd.__version__}')
print(f'Versão do NumPy.: {np.__version__}')

# Configurações
> Podemos configurar o pandas de forma a tornar nosso trabalho mais produtivo. Podemos configurar, por exemplo, o número de linhas e colunas a ser mostrado, precisão dos números float. Vamos ver com mais detalhes a seguir.

Fonte: [5 Advanced Features of Pandas and How to Use Them](https://www.kdnuggets.com/2019/10/5-advanced-features-pandas.html).

In [0]:
d_Config = {'max_columns': 1000,
            'expand_frame_repr': True,
            'max_rows': 10,
            'precision': 2,
            'show_dimensions': True}

for op, value in d_Config.items():
    pd.set_option("display.{}".format(op), value)

___
# **Criar um Dataframe a partir de um Dictionary**

## Exemplo 1

In [0]:
d_Frutas= {'Apple': [5, 6, 6, 8, 10, 3, 2],
          'Avocado': [6, 6, 3, 9, 3, 2, 1]}

In [0]:
d_Frutas

In [0]:
# index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] abaixo define os label.
df_Frutas = pd.DataFrame(d_Frutas, index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])
df_Frutas

O que se comprou no sexta?

* Função df.loc[label] retorna o(s) valor(es) associados à label. Em nosso caso, os label são 'Mon', 'Tue', ..., 'Sun'.

In [0]:
df_Frutas.loc['Fri'] # Aqui, label= 'Fri'.

* Ou seja, o label= 'Fri', que ocupa a posição 4, tem os valores:
    * Apple..: 10
    * Avocado: 3

Da mesma forma, poderíamos utilizar a função df.iloc[index] para retornar o conteúdo/informações de index.

In [0]:
df_Frutas.iloc[4]

Portanto, df.loc['Fri'] = df.iloc[4]. Correto?

Para nos ajudar a memorizar, considere que:

* pd.loc[label] --> loc começa com a letra **l**, o que remete à label.
* pd.iloc[index] --> iloc começa com a letra **i**, o que remete à index.

## Exemplo 2

Na prática, lidamos com grandes bancos de dados e, nesses casos, não temos label das linhas definidos. Para exemplificar, considere o mesmo exemplo que acabamos de ver, com uma pequena alteração:

In [0]:
df_Frutas = pd.DataFrame(d_Frutas) # Observe que aqui não definimos os indíces
df_Frutas

Veja agora que os label são números inteiros de 0 a N. Assim, temos que

In [0]:
df_Frutas.loc[4]

In [0]:
df_Frutas.iloc[4]

Ou seja, nesses casos, tanto faz usar pd.loc[] ou pd.iloc[]. Entendeu?

## Exemplo 3 - Definir os indices
* df.set_index().

In [0]:
d_Frutas= {'Dia_Semana': ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
           'Apple': [5, 6, 6, 8, 10, 3, 2],
          'Avocado': [6, 6, 3, 9, 3, 2, 1]}

In [0]:
df_Frutas = pd.DataFrame(d_Frutas)
df_Frutas

In [0]:
# Definir Dia_Semana como índice/chave do dataframe
df_Frutas.set_index('Dia_Semana', inplace= True)
df_Frutas

A expressão acima é equivalente a:

In [0]:
df_Frutas2= df_Frutas.set_index('Dia_Semana')
df_Frutas2

## Exemplo 4

In [0]:
d_Estudantes= {'name': ['Jack', 'Richard', 'Tommy', 'Ana'], 
            'Age': [25, 34, 18, 21],
           'City': ['Sydney', 'Rio de Janeiro', 'Lisbon', 'New York'],
           'Country': ['Australia', 'Brazil', 'Portugal', 'United States']}

In [0]:
# Mostrar o conteúdo do dicionário d_Estudantes...
d_Estudantes

In [0]:
# Keys associadas ao dicionário d_Estudantes
d_Estudantes.keys()

In [0]:
# Itens associados ao dicionário d_Estudantes
d_Estudantes.items()

In [0]:
# Valores associados ao dicionário d_Estudantes
d_Estudantes.values()

Temos uma key= 'name'. Qual o conteúdo desta key?

In [0]:
d_Estudantes['name']

Qual o output da expressão a seguir:

In [0]:
d_Estudantes['name'][0]

Criando o dataframe df_Estudantes a partir do dicionário d_Estudantes:

In [0]:
df_Estudantes= pd.DataFrame(d_Estudantes)

In [0]:
# Mostra o conteúdo do dataframe df_Estudantes...
df_Estudantes

**Atenção**: Observe que nesse caso, não definimos labels para as linhas. Na prática, isso é o mais comum, ou seja, os label = index, que aqui são números inteiros de 0 a N.

Mais uma vez, vamos usar df.loc[] e df.iloc[]...

In [0]:
# Mostrando o conteúdo de da linha 3 usando df.loc[]
df_Estudantes.loc[3]

OU

In [0]:
# Mostrando o conteúdo de da linha 3 usando df.iloc[]
df_Estudantes.iloc[3]

Ok, já discutimos isso anteriormente. Quando não temos labels para as linhas, então iloc[] = loc[]

___
# **Criar um Dataframe a partir de uma lista**
* Considere a lista de frutas a seguir:

In [0]:
l_Frutas = [('Melon', 6,8,5,4,6,2,8), ('Avocado', 6,6,3,8,9,3,1), ('Blueberry', 7,5,9,3,1,0,4)]
l_Frutas

In [0]:
type(l_Frutas)

In [0]:
l_Frutas[0]

In [0]:
l_Frutas[0][0]

In [0]:
# Lista contendo os nomes das colunas do dataframe:
l_NomeColunas= ['Frutas', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
l_NomeColunas

In [0]:
# Convertendo as listas em dataframe
df_Frutas = pd.DataFrame(l_Frutas, columns = l_NomeColunas) # Observe que aqui, o nome das colunas é uma lista.
df_Frutas

___
# **Copiar o dataframe**

O dataframe df_Estudantes tem o seguinte conteúdo:

In [0]:
df_Estudantes

se fizermos...

In [0]:
df_Estudantes2= df_Estudantes

então df_Estudantes2 tem o mesmo conteúdo de df_Estudantes, ok?

In [0]:
df_Estudantes2

Agora altere o valor 'Rio de Janeiro' para 'Sao Paulo' em df_Estudantes2.

In [0]:
df_Estudantes2['City']= df_Estudantes2['City'].replace({'Rio de Janeiro': 'Sao Paulo'})
df_Estudantes2

Ok, alteramos o valor 'Rio de Janeiro' por 'Sao Paulo', como queríamos. Vamos ver o conteúdo de df_Estudantes (**que está intacto, pois fizemos a alteração no dataframe df_Estudantes2**).

In [0]:
df_Estudantes

Ooooops... df_Estudantes foi alterado? Como, se procedemos a alteração em df_Estudantes2 e NÃO em df_Estudantes???

As operações que fizermos em df_Estudantes2 também serão aplicadas à df_Estudantes?

**Resposta**: SIM, pois df_Estudantes2 é um ponteiro para df_Estudantes. Ou seja, **qualquer operação que fizermos em df_Estudantes2 será feita em df_Estudantes**.

Uma forma fácil de ver isso é através dos endereços de memória dos dois (**supostos diferentes**) dataframes:

In [0]:
id(df_Estudantes2)

In [0]:
id(df_Estudantes)

**Conclusão**: df_Estudantes2 é ponteiro para df_Estudantes.

## Forma correta de fazer a cópia de um dataframe

Primeiramente, vamos reconstruir df_Estudantes:

In [0]:
df_Estudantes= pd.DataFrame(d_Estudantes)
df_Estudantes

Fazendo a cópia do dataframe (**da forma correta**):

In [0]:
df_Estudantes_Copy= df_Estudantes.copy()

Vamos verificar os endereços de memória dos dois dataframes:

In [0]:
id(df_Estudantes_Copy)

In [0]:
id(df_Estudantes)

Agora,  dataframe df_Estudantes_Copy é uma cópia do dataframe df_Estudantes

___
# **Renomear colunas do dataframe**
> **Snippet**: 

    * df.rename(columns= {'Old_Name': 'New_Name'}, inplace= True)
    * df= df.rename(columns= {'Old_Name': 'New_Name'})

Suponha que quero renomear a coluna/variável 'name' para 'Client_Name', que é um nome mais sugestivo.

In [0]:
df_Estudantes

In [0]:
df_Estudantes= df_Estudantes.rename(columns= {'name': 'Client_Name'})

O comando abaixo produz o mesmo resultado que a linha anterior:

```
df_Estudantes.rename(columns= {'name': 'Client_Name'}, inplace= True)
```

In [0]:
# Mostrando o conteúdo de df_Estudantes após renomearmos a coluna/variável 'name' para 'Clien_Name'...
df_Estudantes

Agora, suponha que queremos renomear 'Age' para 'Client_Age', 'City' para 'Client_City' e 'Country' para 'Client_Country'...

In [0]:
df_Estudantes.rename(columns= {'Age': 'Client_Age', 'City': 'Client_City', 'Country': 'Client_Country'}, inplace= True)

O comando abaixo produz o mesmo resultado que a linha anterior:

```
df_Estudantes= df_Estudantes.rename(columns= {'Age': 'Client_Age', 'City': 'Client_City', 'Country': 'Client_Country'}, inplace= True)
```

In [0]:
# Mostrando o conteúdo de df_Estudantes após a múltipla operação de renomear...
df_Estudantes

Alguma dúvida até aqui?
Tudo bem até aqui?

## Challenge
* Aplicar lowercase() em todas as colunas do dataframe df_Estudantes. Como fazer isso?

### Minha solução:

In [0]:
# Colocar o nome das colunas numa lista:
l_NomeColunas= df_Estudantes.columns
l_NomeColunas

In [0]:
# Lowercase todas as colunas
df_Estudantes.columns = [col.lower() for col in l_NomeColunas]

In [0]:
# Mostrando o conteúdo do dataframe df_Estudantes
df_Estudantes

___
# **Adicionar/Acrescentar novas LINHAS ao dataframe**

## Usando Dictionaries
* É necessário informar {'Column_Name': value} para cada inserção. Por exemplo, vou adicionar o seguinte registro ao dataframe:
    * client_name= 'Anderson';
    * client_age= 22;
    * client_city= 'Porto';
    * client_country= 'Portugal'

In [0]:
df_Estudantes

In [0]:
df_Estudantes_Copia= df_Estudantes.copy()
df_Estudantes.append({'Client_Name': 'Anderson', 
               'Client_Age': 22,
               'Client_City': 'Porto',
               'Client_Country': 'Portugal'}, ignore_index= True)

Esse é o resultado que desejamos?
Saberia explicar-nos o que houve de errado?

**DICA**: Lembre-se que no passo anterior, reescrevemos todos os nomes das colunas para lowercase.

In [0]:
# Definindo df_Estudantes novamente usando a cópia df_Estudantes_Copia
df_Estudantes= df_Estudantes_Copia.copy()
df_Estudantes

Ok, restabelecemos a cópia de df_Estudantes. Agora vamos à forma correta:

In [0]:
df_Estudantes= df_Estudantes.append({'client_name': 'Anderson', 
               'client_age': 22,
               'client_city': 'Porto',
               'client_country': 'Portugal'}, ignore_index= True)

Bom, esse é o resultado que estávamos à espera...

## Usando Series
* Como exemplo, considere que queremos adicionar os seguintes dados:
    * client_name= 'Bill';
    * client_age= 30;
    * client_city= 'São Paulo';
    * client_country= 'Brazil'

In [0]:
New_Estudante= pd.Series(['Bill', 30, 'Sao Paulo', 'Brazil'], index= df_Estudantes.columns) # Olha que interessante: estamos a usar index= df_Estudantes.columns.

Vamos ver o conteúdo de New_Estudante:

In [0]:
New_Estudante

Por fim, adiciona/acrescenta New_Estudante ao dataframe df_Estudantes...

In [0]:
df_Estudantes= df_Estudantes.append(New_Estudante, ignore_index= True)
df_Estudantes

___
# **Adicionar/acrescentar novas COLUNAS ao Dataframe**

## Usando Lists
* Suponha que queremos adicionar a coluna/variável 'Score'

In [0]:
df_Estudantes

In [0]:
# Acrescentando ou criando a coluna/variável 'Score' ao dataframe usando um objeto list
df_Estudantes['Score']= [500, 300, 200, 800, 700]

In [0]:
# Show the contents of Estudantes...
df_Estudantes

> **Atenção**:

* Se a quantidade de valores da lista forem menores que o número de linhas do dataframe, então o Python apresenta um erro.
* Se a coluna/variável que queremos inserir já existe no dataframe, então os valores serão atualizados com os novos.

## Usando um valor default
* Adicionar a coluna 'Total' com o mesmo valor para todas as linhas

In [0]:
df_Estudantes['Total']= 500
df_Estudantes

## Adicionar uma variável calculada a partir de outras colunas

In [0]:
df_Estudantes['Percentagem']= 100*(df_Estudantes['Score']/sum(df_Estudantes['Score']))
df_Estudantes

___
# **Ler/carregar dados no Python**
* Vários formatos de arquivos podem ser lidos:

|Format Type | Data Description | Reader | Writer |
|---|---|---|---|
text | CSV | read_csv | to_csv |
text | JSON | read_json | to_json |
text | HTML | read_html | to_html |
text | Local clipboard | read_clipboard | to_clipboard |
binary | MS Excel | read_excel | to_excel |
binary | HDF5 Format | read_hdf | to_hdf |
binary | Stata | read_stata | to_stata |
binary | SAS | read_sas 
binary | Python Pickle Format | read_pickle | to_pickle |
SQL | SQL | read_sql | to_sql |
SQL | Google Big Query | read_gbq | to_gbq |

* Fonte: [IO tools (text, CSV, HDF5, …)](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

___
# **Ler/Carregar csv**

In [0]:
# carregar a library Pandas
import pandas as pd

A seguir, vamos:
* Ler o dataframe Titanic.csv;
* Definir 'PassengerId' como índice/chave da tabela através do comando index_col= 'PassengerId'.

In [0]:
df_Titanic = pd.read_csv('https://raw.githubusercontent.com/MathMachado/Python4DS/DS_Python/Dataframes/Titanic_With_MV.csv?token=AGDJQ62SF7PISD2RD5BSGMK5XVIKC', index_col= 'PassengerId')
df_Titanic.head()

* Segue o dicionário de dados do dataframe df_Titanic:
    * PassengerID: ID do passageiro;
    * survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * sex: sexo do Passageiro.

In [0]:
# Show o dataframe df_Titanic:
df_Titanic.head()

### DICA 1
Suponha que o dataframe que queremos ler esteja localizado em:

```
/home/nsolucoes4ds/Dropbox/Data_Science/Python/Python_RFB/Python_RFB-DS_Python_020919_2244/Dataframes
```

Desta forma, para ler o dataframe (local), basta usar o comando a seguir:

```
url= '/home/nsolucoes4ds/Dropbox/Data_Science/Python/Python_RFB/Python_RFB-DS_Python_020919_2244/Dataframes/creditcard.csv'
df_Titanic = pd.read_csv(url)
```

### Dica 2
No Windows, o diretório aparece, por exemplo, da seguinte forma: 
```
C:\nsolucoes4ds\Data_Science
```
Observe as '\\' (**barras invertidas**). Neste caso, use o comando a seguir:

```
url= r'C:\nsolucoes4ds\Data_Science\creditcard.csv'
df_Titanic = pd.read_csv(url)
```

Percebeu o r'diretorio'?

___
# **Corrigir nome das colunas**
* Por exemplo, reescrever o nome das colunas usando lowercase().

In [0]:
df_Titanic.columns= [cols.lower() for cols in df_Titanic.columns]
df_Titanic.head()

In [0]:
# Construindo uma variável mais intuitiva para nos ajudar nas análises:
df_Titanic['survived2'] = df_Titanic['survived']
df_Titanic.head(3)

In [0]:
df_Titanic['survived2']= df_Titanic['survived2'].map({0:'Died', 1:'survived'})
df_Titanic.head()

___
# **Selecionar COLUNAS**
* Suponha que queremos selecionar somente as colunas 'survived', 'sex' e 'Embarked':

In [0]:
df_Titanic2= df_Titanic[['survived', 'sex', 'embarked']]
df_Titanic2.head()

___
# **Criar um Dicionário a partir de um pd.DataFrame()**
> Suponha o dataframe-exemplo a seguir:

In [0]:
df = pd.DataFrame({'a': ['red', 'yellow', 'blue'], 'b': [0.5, 0.25, 0.125]})
df

De Dataframe para Dicionário...

In [0]:
df.to_dict('dict')

___
# **Criar uma Lista a partir de um pd.DataFrame()**
> Suponha o dataframe-exemplo a seguir:

In [0]:
df = pd.DataFrame({'a': ['red', 'yellow', 'blue'], 'b': [0.5, 0.25, 0.125]})
df

De pd.DataFrame() para Lista...

In [0]:
df.to_dict('list')

___
# **Mostrar as primeiras k LINHAS do pd.DataFrame()**
> df.head(k), onde k é o número de linhas que queremos visualizar. Por default, k= 10.

In [0]:
df_Titanic.head()

___
# **Mostrar as últimas k LINHAS do pd.DataFrame()**
> df.tail(k), onde k é o número de linhas que queremos ver. Por default, k= 10.

In [0]:
df_Titanic.tail()

Por default, df.tail() mostra as últimas 5 linhas/instâncias do dataframe. Entretando, pode ser ver qualquer número de linhas k, como, por exemplo, k= 10 mostrado abaixo.

In [0]:
df_Titanic.tail(10)

___
# **Mostrar o nome das COLUNAS**
* df.columns

In [0]:
df_Titanic.columns

___
# **Mostrar os tipos das COLUNAS**
* df.dtypes

In [0]:
df_Titanic.dtypes

___
# **Selecionar automaticamente as COLUNAS pelo tipo**
> snippet: df.select_dtypes(include=[tipo]).columns

| Tipo | O que seleciona | Sintaxe |
|------|-----------------|---------|
| number | colunas do tipo numéricas | df.select_dtypes(include=['number]).columns |
| float | colunas do tipo float | df.select_dtypes(include=['float']).columns |
| bool | colunas do tipo booleanas | df.select_dtypes(include=['bool']).columns |
| object | colunas do tipo categóricas/strings | df.select_dtypes(include=['object']).columns |

* Se quisermos selecionar mais de um tipo, basta informar a lista de tipos. 
    * Exemplo: df.select_dtypes(include=['object', 'float']).columns

## Selecionar automaticamente as COLUNAS Numéricas

### Lista com as COLUNAS do tipo numéricas:

In [0]:
l_ColsNumeric= df_Titanic.select_dtypes(include=['number']).columns
l_ColsNumeric

### DataFrame com as COLUNAS do tipo numéricas:

In [0]:
df_Num= df_Titanic.select_dtypes(include=['number']) # Atenção: aqui não temos .columns
df_Num.head()

## Selecionar automaticamente as colunas float

### Lista com as COLUNAS do tipo float:

In [0]:
l_ColsFloat= df_Titanic.select_dtypes(include=['float']).columns
l_ColsFloat

### DataFrame com as COLUNAS do tipo float:

In [0]:
df_Float= df_Titanic.select_dtypes(include=['float']) # Atenção: aqui não temos .columns
df_Float.head()

## Selecionar automaticamente as COLUNAS do tipo Booleanas

### Lista com as COLUNAS do tipo Booleanas:

In [0]:
l_ColsBool= df_Titanic.select_dtypes(include=['bool']).columns
l_ColsBool

### DataFrame com as COLUNAS do tipo Booleanas:

In [0]:
df_Bool= df_Titanic.select_dtypes(include=['bool']) # Atenção: aqui não temos .columns
df_Bool.head()

## Selecionar automaticamente as COLUNAS do tipo string (object)

### Lista com as COLUNAS do tipo object/string:

In [0]:
l_ColsObject= df_Titanic.select_dtypes(include=['object']).columns
l_ColsObject

### DataFrame com as COLUNAS do tipo Object/String:

In [0]:
df_Object= df_Titanic.select_dtypes(include=['object']) # Atenção: aqui não temos .columns
df_Object.head()

___
# **Reordenar as COLUNAS do pd.DataFrame()**

In [0]:
df_Titanic.head()

* Suponha que queremos reordenar as COLUNAS do dataframe df_Titanic em ordem alfabética, conforme abaixo:
    * age;
    * embarked;
    * fare;
    * parch;
    * pclass;
    * sex;
    * sibsp;
    * survived.

In [0]:
df_Titanic = df_Titanic.reindex(sorted(df_Titanic.columns), axis=1)
df_Titanic.head()

___
# **Mostrar a dimensão do pd.DataFrame()**
* Dimensão = Número de linhas e colunas

In [0]:
df_Titanic.shape

Qual a interpretação desta informação acima?

## **Quebrando a dimensão**
* Número de linhas do pd.DataFrame().: df_Titanic.shape[0]
* Número de colunas do pd.DataFrame(): df_Titanic.shape[1]

In [0]:
f'O dataframe df_Titanic possui {df_Titanic.shape[0]} linhas e {df_Titanic.shape[1]} colunas.'

___
# **Manipular Dados**
* Consulte [Series](https://pandas.pydata.org/pandas-docs/version/0.24/reference/series.html) para aprender mais sobre os métodos str.<function>.

Para facilitar nossas análises, vamos aplicar o método lower() em todos os valores das colunas objects/strings. Para isso, considere a função abaixo:

In [0]:
def Transf_Lower(df):
    # Primeira transformação: Aplicar lower() nos nomes das colunas:
    df.columns= [col.lower() for col in df.columns]

    # Segunda transformação: Aplicar o método .str.lower() nos valores das colunas object/strings:
    l_ColsObject= df.select_dtypes(include=['object']).columns
    
    for col in l_ColsObject:
        df[col]= df[col].str.lower()

Para saber mais sobre o método df[col].str.lower(), consulte [pandas.Series.str.lower](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.lower.html).

## Dataframe df_Full_Info

In [0]:
import pandas as pd

In [0]:
df_Full_Info= pd.DataFrame({'sex': ['F','F','M','M','F','M','F','M','F','M','F','F','M'],
                     'email': ['Pietra_Cardoso@hotmail.com','Laura_Mendes@hotmail.com','Pedro_Lucas_da_Mota@yahoo.com','Isaac_Jesus@bol.com.br','Clara_Souza@bol.com.br','Vitor_Gabriel_Melo@google.com','Elisa_Barbosa@bol.com.br','Nicolas_Melo@yahoo.com.br','Ana_Beatriz_Aragao@gmail.com','Nicolas_Silva@bol.com.br','Yasmin_Oliveira@google.com','Luna_Lima@yahoo.com.br','Murilo_Aragao@bol.com.br'],
                     'ssn': ['48763512955','81970635401','31645298051','37164528900','49381206740','59140283615','56879130410','20457891360','82047693500','79618543200','81745930639','41978256337','48523071997'], 
                     'Birth_date': ['13/02/1978','24/01/1982','12/08/1977','16/12/1981','09/01/1993','20/02/1963','26/09/1983','13/10/1967','31/05/1997','12/03/1974','15/11/1996','11/12/1966','18/03/1965'], 
                     'start_date': ['6/02/2007','15/01/2018','05/08/2004','09/12/2008','04/01/2013','10/02/2002','19/09/2011','03/10/2007','26/05/2019','05/03/2003','10/11/2018','02/12/2003','09/03/2001'],
                     'Job': ['Director','Manager','Engineer','Engineer','Engineer','Engineer','Programer','Diretor','programmer','Programmer','Programmer','Programmer','Manager'], 
                     'City': ['Seattle','Chicago','Austin','Austin','Seattle','Austin','NewYork','Seattle','NewYork','NewYork','NewYork','NewYork','Seattle'],
                     'Department': ['Product','Devops','Platform','Devops','InternalTools','InternalTools','Sales','Product','Sales','Sales','Sales','Sales','Product'],
                     'Years_Of_Experience': [13,14,5,1,2,17,16,14,17,8,11,16,19]})

In [0]:
df_Full_Info.head()

* Percebeu a irregularidade em relação ao nome das colunas? Por exemplo:
    * 'sex' - primeira letra maiúscula;
    * 'email' - em minúsculo;
    * 'Birth_date' - com a primeira letra minúsculo e o restante do nome em minúsculo.

Ou seja, precisamos uniformizar o nome das colunas. Vamos aplicar nossa função Transf_Lower:

In [0]:
Transf_Lower(df_Full_Info)
df_Full_Info.head()

**Observe atentamente**: 
* os nomes das colunas foram todos reescritos usando lower();
* Os conteúdos das colunas object/string foram reescritos usando o método str.lower().

## Avaliar o preenchimento das COLUNAS

### Avaliar 'sex'

In [0]:
df_Full_Info['sex'].value_counts()
# Alternativa: set(df_Full_Info['sex'])

Como podem ver, nenhum problema com a variável 'sex'. Vamos adiante...

### Avaliar 'job'

In [0]:
s_Variavel= 'job'

df_Full_Info[s_Variavel].value_counts()
# Alternativa: set(df_Full_Info[s_Variavel])

**Problemas de inconsistência**: temos:
* 'programmer' e 'programer' --> Neste caso, vou corrigir 'programer';
* 'director' e 'diretor' --> Neste caso, vou corrigir 'diretor'

#### Alternativa 1: Usando df[coluna].replace()

In [0]:
# Biblioteca para avaliarmos o tempo de processamento de cada alternativa
import time

In [0]:
# Correções a serem feitas:
d_Correcao= {'programer': 'programmer',
            'diretor': 'director'}

In [0]:
t0 = time.time()
df_Full_Info_replace= df_Full_Info.copy()
df_Full_Info_replace[s_Variavel]= df_Full_Info_replace[s_Variavel].replace(d_Correcao)
t1 = time.time()
t_replace= t1-t0

# Avaliar se a correção foi bem sucedida
df_Full_Info_replace[s_Variavel].value_counts()

A expressão a seguir também poderia ser utilizada em substituição ao df[coluna].replace():

```
df_Full_Info_replace[s_Variavel]= df_Full_Info_replace[s_Variavel].str.replace('programer', 'programmer')
```

Para mais detalhes, consulte: [pandas.Series.str.replace](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html)

Conforme esperado, corrigimos a inconsistência da variável 'job'. Acompanhe o tempo de processamento a seguir:

In [0]:
f'Tempo de processamento usando replace(): {t_replace}'

#### Alternativa 2: Usando df[coluna].map()
> Esta alternativa é, em geral, mais rápido que df[coluna].replace().

In [0]:
# Correções a serem feitas:
d_Correcao= {'programer': 'programmer',
            'diretor': 'director',
             'engineer': 'engineer',
             'manager': 'manager'}

**Atenção**: as palavras incorretas são 'programer' (que vamos corrigir para 'programmer') e 'diretor' (que vamos corrigir para 'director'). No entanto, no caso de map(), preciso informar inclusive os valores corretos.

* Experimente usar d_Correcao2 no lugar de d_Correcao e reporte o que você entendeu:

```
# Correções a serem feitas:
d_Correcao2= {'programer': 'programmer',
            'diretor': 'director'}
```

In [0]:
t0 = time.time()

df_Full_Info_map= df_Full_Info.copy()
df_Full_Info_map[s_Variavel]= df_Full_Info_map[s_Variavel].map(d_Correcao) # Uso d_Correcao ao inves de d_Correcao2.
t1 = time.time()
t_map= t1-t0

# Avaliar se a correção foi bem sucedida
df_Full_Info_map[s_Variavel].value_counts()

In [0]:
f'Tempo de processamento usando replace(): {t_map}'

Para prosseguirmos, vou ficar com a Alternativa 2, pois é mais rápido, ok?

In [0]:
df_Full_Info= df_Full_Info_map.copy()

# Avaliar se a correção foi bem sucedida
df_Full_Info[s_Variavel].value_counts()

### Avaliar 'city'

In [0]:
s_Variavel= 'city'

df_Full_Info[s_Variavel].value_counts()
# Alternativa: set(df_Full_Info['s_Variavel])

A cidade 'newyork' está escrita incorretamente. Vamos corrigir este valor.

In [0]:
# Apesar de map() ser mais rápido do que replace(), vou utilizar replace() aqui
t0 = time.time()
df_Full_Info[s_Variavel]= df_Full_Info[s_Variavel].replace({'newyork': 'new york'})
t1 = time.time()
t_replace= t1-t0

# Avaliar se a correção foi bem sucedida
df_Full_Info[s_Variavel].value_counts()

Inconsistência resolvida. Vamos prosseguir...

### Avaliar department

In [0]:
s_Variavel= 'department'

df_Full_Info[s_Variavel].value_counts()
# Alternativa: set(df_Full_Info['s_Variavel])

Nada grave aqui. Vamos prosseguir...

## Dataframe df_Boss_Info

In [0]:
df_Boss_Info= pd.DataFrame({'Job': ['Director','Manager','Engineer','Programmer'], 
                     'Supervisor': ['CEO','Director','Manager','Engineer'],
                     'Annual_salary': [159000,134000,98000,60000]})

In [0]:
df_Boss_Info.head()

Da mesma forma, vamos aplicar a função Transf_Lower().

In [0]:
Transf_Lower(df_Boss_Info)
df_Boss_Info

## Avaliar o preenchimento das colunas

### Avaliar 'job'

In [0]:
s_Variavel= 'job'

df_Boss_Info[s_Variavel].value_counts()
# Alternativa: set(df_Boss_Info[s_Variavel])

Nenhum problema. Vamos prosseguir...

### Avaliar 'supervisor'

In [0]:
s_Variavel= 'supervisor'

df_Boss_Info[s_Variavel].value_counts()
# Alternativa: set(df_Boss_Info[s_Variavel])

Nenhum problema. Vamos prosseguir...

## Dataframe df_MyData

In [0]:
df_MyData= pd.DataFrame({'First_Name': ['Pietra','Laura','Pedro Lucas','Isaac','Clara','Vitor Gabriel','Elisa','Nicolas','Ana Beatriz','Nicolas','Yasmin','Luna','Murilo'],
                    'Second_Name': ['Cardoso','Mendes','da Mota','Jesus','Souza','Melo','Barbosa','Melo','Aragão','Silva','Oliveira','Lima','Aragão'], 
                     'ssn': ['48763512955','81970635401','31645298051','37164528900','49381206740','59140283615','56879130410','20457891360','82047693500','79618543200','81745930639','41978256337','48523071997'],
                      'Job': ['Director','Manager','Engineer','Engineer','Engineer','Engineer','Programmer','Director','programmer','Programmer','Programmer','Programmer','Manager'],})

In [0]:
df_MyData.head()

Da mesma forma, vamos aplicar a função Transf_Lower().

In [0]:
Transf_Lower(df_MyData)
df_MyData

## Avaliar as colunas

### Avaliar 'job'

In [0]:
s_Variavel= 'job'

df_MyData[s_Variavel].value_counts()
# Alternativa: set(df_MyData[s_Variavel])

Nenhum problema. Vamos adiante...

___
# **Combinar dataframes: Merge, Join & Concatenate**
* Fonte: [Merge, join, and concatenate](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

* A seguir, três formas para combinar dataframes:

## Concatenate
* Une/empilha dataframes
* Fonte: https://github.com/aakankshaws/Pandas-exercises

In [0]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})

In [0]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']})

In [0]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']})

In [0]:
df1

In [0]:
df2

In [0]:
df3

In [0]:
df= pd.concat([df1, df2, df3])
df

Veja que basicamente empilhamos os dataframes. No entanto, se fizermos...

In [0]:
df= pd.concat([df1, df2, df3], axis= 1) # axis= 1 é uma operação de coluna
df

Se, no entanto, tivermos:

In [0]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

Então...

In [0]:
df= pd.concat([df1, df2, df3], axis= 1)
df

Porque isso acontece?

## Merge
> Primeiramente, vamos ver todos os casos possíveis de joins.

### Exemplo
> O exemplo a seguir foi inspirado no exemplo apresentado em [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins). Considere os dataframes a seguir

In [0]:
import pandas as pd

d_Tabela_A= {'indices': [1,2,3,6,7,5,4,10], 'valores': ['A','B','C','D','E','F','G','H']}
d_Tabela_B= {'indices': [1,2,3,6,7,8,9,11], 'valores': ['AA', 'BB','CC','DD','EE','FF','GG','HH']}

In [0]:
df_Tabela_A= pd.DataFrame(d_Tabela_A).set_index('indices')
df_Tabela_B= pd.DataFrame(d_Tabela_B).set_index('indices')

![SQL_inner_join](https://github.com/MathMachado/Materials/blob/master/SQL_inner_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [0]:
df_Tabela_A

In [0]:
df_Tabela_B

In [0]:
df_inner_join= pd.merge(df_Tabela_A, df_Tabela_B, on= 'indices', how= 'inner')
df_inner_join

![SQL_left_join](https://github.com/MathMachado/Materials/blob/master/SQL_left_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [0]:
df_Tabela_A

In [0]:
df_Tabela_B

In [0]:
df_left_join= pd.merge(df_Tabela_A, df_Tabela_B, on= 'indices', how= 'left')
df_left_join

![SQL_right_join](https://github.com/MathMachado/Materials/blob/master/SQL_right_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [0]:
df_Tabela_A

In [0]:
df_Tabela_B

In [0]:
df_right_join= pd.merge(df_Tabela_A, df_Tabela_B, on= 'indices', how= 'right')
df_right_join

![SQL_outer_join](https://github.com/MathMachado/Materials/blob/master/SQL_outer_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [0]:
df_Tabela_A

In [0]:
df_Tabela_B

In [0]:
df_outer_join= pd.merge(df_Tabela_A, df_Tabela_B, on= 'indices', how= 'outer')
df_outer_join

![SQL_left_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_left_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [0]:
df_Tabela_A

In [0]:
df_Tabela_B

In [0]:
df_left_excluding_join = pd.merge(df_Tabela_A, df_Tabela_B, on= 'indices', how="outer", indicator=True).query('_merge=="left_only"')
df_left_excluding_join

![SQL_right_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_right_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

In [0]:
df_Tabela_A

In [0]:
df_Tabela_B

In [0]:
df_right_excluding_join = pd.merge(df_Tabela_A, df_Tabela_B, on= 'indices', how="outer", indicator=True).query('_merge=="right_only"')
df_right_excluding_join

![SQL_outer_excluding_join](https://github.com/MathMachado/Materials/blob/master/SQL_outer_excluding_join.png?raw=true)

Source: [Visual Representation of SQL Joins](https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins).

### Desafio: Como resolver este?

### Observações:

* Em alguns casos a variável chave nos dois dataframes que se quer fazer o join possui nomes diferentes. Neste caso, use 'left_on' e 'right_on' para definir o nome das colunas chaves no dataframe da esquerda e direita:
    * pd.merge(df1, df2, left_on="employee", right_on="name")
        * No exemplo acima, o dataframe df1 (dataframe da esquerda) possui chave 'employee' enquanto que o dataframe df2 (dataframe da direita), possui chave 'name'. Usando as 'left_on' e 'right_on' fica claro o nome das chaves de ligação de cada dataframe.

## Joining

In [0]:
df_Left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

df_Right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [0]:
df_Left

In [0]:
df_Right

In [0]:
df_Left.join(df_Right)

In [0]:
df_Left.join(df_Right, how='outer')

___
# **map()**
> artificio fácil para lidar com a transformação de dados. Como vimos anteriormente, definimos um dicionário {'key': valor}.

Veja o dataframe df_Boss_Info a seguir:

In [0]:
df_Boss_Info

Vamos verificar o preenchimento da variável 'job':

In [0]:
# Avaliar variável 'supervisor'
s_Variavel= 'supervisor'

df_Boss_Info[s_Variavel].value_counts()
# Alternativa: set(df_Merged3[s_Variavel])

Como exemplo, suponha que queiramos criar a variável 'level' da seguinte forma:

| job | level |
|-----|-----------|
| ceo | 1         |
| director | 2         |
| manager | 3         |
| engineer | 4         |
| programmer | 5         |

Portanto, o objetivo é criar a variável 'level', conforme apresentada acima.

In [0]:
# Mapeando...
level_map = {'ceo': 1, 'director': 2, 'manager': 3, 'engineer': 4, 'programmer': 5}

In [0]:
# Aplicar map() para construir a variável 'level'
df_Boss_Info['level'] = df_Boss_Info['supervisor'].map(level_map)
df_Boss_Info.head()

___
# **Selecionar linhas do pd.DataFrame() baseado nos índices**
### Leitura Adicional
* [pandas loc vs. iloc vs. ix vs. at vs. iat?
](https://stackoverflow.com/questions/28757389/pandas-loc-vs-iloc-vs-ix-vs-at-vs-iat/47098873#47098873)
* [Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

## 1st Approach - pd.loc[]
* Para capturar o conteúdo da linha k, use df.loc[row_indexer,column_indexer].

In [0]:
df_Titanic.head()


Por exemlo, o comando a seguir mostra o conteúdo da linha 0, todas as colunas(:)

In [0]:
df2= df_Titanic.loc[1,:]
df2.head()

Mostrando o conteúdo das linhas k= 1:2 (ou seja, linhas 1 e 2), todas as colunas(:)

In [0]:
df_Titanic.loc[1:2, :]

Mostrar os conteúdos da linha k= 1, coluna 'pclass':

In [0]:
df_Titanic.loc[1, ['pclass']]

Mostrar os conteúdos da linha k= 1 e colunas ['pclass', 'sex']:

In [0]:
df_Titanic.loc[0, ['pclass', 'sex']]

Porque temos um erro aqui?

Versão correta abaixo:

In [0]:
df_Titanic.loc[1, ['pclass', 'sex']]

Mostrar os conteúdos da linha k= 1:5 e colunas ['pclass', 'sex']:

In [0]:
df_Titanic.loc[1:5, ['pclass', 'sex']]

Agora suponha que queremos selecionar toda a 'sex'. Como fazer isso?

In [0]:
df_sex= df_Titanic.loc[:, 'sex']
df_sex.head()

Fácil selecionarmos o que queremos usando .loc() e iloc(), certo?

## 2nd Approach - Usando lists

In [0]:
df_Titanic[0:2] # Mostrar os conteúdos das linhas 0:2

In [0]:
df_Titanic[:3] # Mostrar os conteúdos até a linha 3

In [0]:
df_Titanic['sex'].head() # Mostrar o conteúdo inteiro da variável 'sex'

In [0]:
df_Titanic[0:5]['sex'].head() # Mostrar as linhas 0 a 5 da variável 'sex'

___
# **Selecionar/Filtrar linhas do pd.DataFrame() baseado em condições**

## Exemplo 1
> Aproveitando o exemplo anterior, queremos selecionar do dataframe somente os passageiros do sexo 'male'.

### Approach 1: df.loc() e df.iloc()

In [0]:
df_sexo_male1= df_Titanic.loc[df_Titanic['sex']== 'male', 'sex']
df_sexo_male1.head()

### Approach 2: Uso do []

In [0]:
df_sexo_male2= df_Titanic[df_Titanic['sex']== 'male']['sex']
df_sexo_male2.head()

### Approach **3**: df.isin()

In [0]:
df_sexo_male3= df_Titanic['sex'].isin(['male'])
df_sexo_male3.head()

#### Criar filtros com df.isin()

In [0]:
# Filtros usando df.isin() 
Filtro1 = df_Titanic["sex"].isin(["male"]) 
Filtro2 = df_Titanic["Pclass"].isin([1]) 
  
# Mostra os resutados  
df_Titanic[Filtro1 & Filtro2].head()

## Exemplo 2: Duas condições
> Selecionar todas as LINHAS onde sexo= 'male' e Embarked= 'S'.

In [0]:
df_sexo_male_S= df_Titanic[((df_Titanic['sex'] == 'male') & (df_Titanic['embarked'] == 'S'))]
df_sexo_male_S.head()

## Exemplo 4: df.query()
Fonte: //pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#the-query-method

___
# **Selecionar Amostras Aleatórias**

Vimos que o dataframe df_Titanic é muito grande. Então, vamos selecionar aleatoriamente 100 linhas.

In [0]:
import random  

# Biblioteca para avaliarmos o tempo de processamento de cada alternativa
import time

In [0]:
# Usando sample
t0= time.time()
df_Titanic_sample100= df_Titanic.sample(100, replace= False, random_state= 20111974)
t1= time.time()
t= t1-t0
df_Titanic_sample100.head()

In [0]:
f'Tempo de processamento: {t}'

In [0]:
# Usando NumPy
import numpy as np

t0= time.time()
np.random.seed(20111974)
indices = np.random.choice(df_Titanic.shape[0], replace=False, size=100)
df_Titanic_sample100_V2 = df_Titanic.iloc[indices]
t1= time.time()
t= t1-t0
df_Titanic_sample100_V2.head()

In [0]:
f'Tempo de processamento: {t}'

In [0]:
df_Titanic_sample100_V2.shape

___
# **Descrever o Dataframe**

In [0]:
df_Titanic_sample100.describe()

In [0]:
df_Titanic_sample100_V2.describe()

___
# **Identificar e lidar com linhas duplicadas**

## Exemplo 1
* considera as duplicatas em todas as colunas do dataframe.

In [0]:
df = pd.DataFrame({'A':[1,1,3,4,5,1], 'B':[1,1,3,7,8,1], 'C':[3,1,1,6,7,1]})
df

In [0]:
# Lista as duplicações em forma booleana
df.duplicated()

Observe a linha 5, onde temos a informação que esta linha está duplicada. Na verdade, a linha 5 é igual à linha 1

In [0]:
# Mostra as linhas duplicadas
df[df.duplicated()]

In [0]:
# Deleta a linha 5 que, como vimos, estava duplicada (uma cópia da linha 1).
df= df.drop_duplicates()
df

## Exemplo 2
* Considera somente algumas colunas

In [0]:
df = pd.DataFrame({'A':[1,1,3,4,5,1], 'B':[1,1,3,7,8,1], 'C':[3,1,1,6,7,1]})
df

In [0]:
# Mostra as linhas duplicadas usando as colunas 'A' e 'B'
df[df.duplicated(subset=['A','B'])]

In [0]:
# Deleta as linhas 1 e 5, pois como podemos ver, são duplicatas da linha 0
df= df.drop_duplicates(subset = ['A', 'B'])
df

___
# **Mostrar linhas do dataframe baseado em condições**

In [0]:
# Mostrar todas as linhas onde a string 'Mr' aparece no nome do passageiro:
df2= df_Titanic[df_Titanic['Name'].str.contains('Mr')]
df2.head()

Para saber mais sobre o método df[col].str.contais(), consulte https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html.

___
# **Trabalhar com dados do tipo texto**
* Fontes:
    * [Working with text data](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)
    * [Using String Methods](https://www.ritchieng.com/pandas-string-methods/).

Preparando os dados para o exemplo:

In [0]:
# Define um dicionário com os dados: 
import numpy as np

l_Idade= []
for i in range(6):
    np.random.seed(i)    
    l_Idade.append(np.random.randint(10, 40))
    

d_Exemplo = {'Nome':['Mr. Antonio dos Santos', 'Mr. Joao Pedro', 'Miss. Priscila Alvarenga', 'Mr. fagner NoVAES', 'Miss. Danielle Aparecida', 'Mr. Paullo Amarantes'], 
        'Idade': l_Idade, 
        'Cidade':['lisboa', 'Sintra', 'Braga', 'Guimaraes', 'Mafra', 'Nazare']} 
   
# Converte o dicionário num dataframe
df = pd.DataFrame(d_Exemplo) 
df

* Sugestões do que podemos fazer com relação á coluna 'nome' do dataframe df:
    * Extrair o cumprimento do nome: Mr., Miss e etc.
    * Construir as colunas PrimeiroNome e SegundoNome.
    * Criar a variável Idade_Class.

## Extrair o cumprimento do nome

In [0]:
df_Nome= df['Nome'].str.split(' ', n = 2, expand = True) 
df_Nome

Altere o valor de n para 3 e explique como as coisas funcionam...

In [0]:
# Capturando o cumprimento do nome:
df['Cumprimento']= df['Nome'].str.split(' ', n = 2, expand = True)[0]
df

## Construir as colunas Primeiro_Nome e Segundo_Nome

In [0]:
# Capturando o primeiro nome:
df['Primeiro_Nome']= df['Nome'].str.split(' ', n = 2, expand = True)[1]
df['Ultimo_Nome']= df['Nome'].str.split(' ', n = 2, expand = True)[2]
df

### Construir a variável Idade_Class

 | Limite Inferior | Limite Superior | Classe |
    |-----------------|-----------------|--------|
    | Inf | 15 | Inf_15 |
    | 15 | 20 | 15_20 |
    | 20 | 30 | 25_30 |
    | 30 | 40 | 30_40 |
    | 40 | 50 | 40_50 |
    | 50 | Sup | 50_Sup |

In [0]:
def Idade_Class):
    if (Idade <= 15):
        return 'Inf_15'
    if (15 < Idade <= 20):
        return '15_20'
    elif(20 < Idade <= 30):
        return '20_30'
    elif (30 < Idade <= 40):
        return '30_40'
    elif (40 < Idade <= 50):
        return '40_50'
    elif (Idade > 50):
        return '50_Sup'
    else:
        return 'Outros'

In [0]:
df['Idade_Class'] = df['Idade'].map(Idade_Class)

___
# **Agrupar Informações: pd.groupby()**
* Fonte: [Group By: split-apply-combine](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

* Os componentes do comando Groupby()
    * **Grouping_Column** - Coluna Categórica pelo qual os dados serão agrupados;
    * **Aggregating_Column** - Coluna numérica cujos valores serão agrupados;
    * **Aggregating_Function** - Função agregadora, ou seja: sum, min, max, mean, median, etc...

> Sintaxe: 

```
df.groupby('Grouping_Column').agg({'Aggregating_Column': 'Aggregating_Function'})

OU

df['Aggregating_Column'].groupby(df['Grouping_Column']).Function()
```

## Exemplo 1

In [0]:
Transf_Lower(df_Titanic)
df_Titanic.head()

In [0]:
# Agrupando df_Titanic por 'sex3'
df_Titanic.groupby(['sex', 'pclass']).agg({'fare': ['min', 'median', 'mean','max'], 'age': ['count', 'mean','max']})

In [0]:
# Agrupando df_Titanic por 'sex3' e 'Pclass'
df_Titanic.groupby(['sex3','Pclass']).agg({'Fare': ['max', 'min']}).round(0)

In [0]:
df_Titanic.groupby(['sex3']).agg({'Age': ['mean','min','max']}).round(0)

In [0]:
df_Titanic.head()

## Exemplo 2

### Preparando o exemplo

In [0]:
l_Coluna= []

for i in range(1,6):
    np.random.seed(i)
    l_Coluna.append(np.random.randint(0, 10, 10))
    
np.random.seed(6)
l_Coluna.append(np.random.rand(10))

l_Coluna

In [0]:
l_Coluna[0]

In [0]:
df = pd.DataFrame({'coluna6' : ['a', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'a'],
                'coluna7' : ['um', 'dois', 'um', 'dois', 'um', 'dois', 'dois', 'um', 'um', 'dois'],
                'coluna1' : l_Coluna[0],
                'coluna2' : l_Coluna[1],
                'coluna3' : l_Coluna[2],
                'coluna4' : l_Coluna[3],
                'coluna5' : l_Coluna[4],
                'coluna8' : l_Coluna[5],
                'Pessoas' : ['Jose','Maria','Pedro','Carlos','Joao','Ana','Manoel','Mafalda','Antonio','Ricardo'],
                'sexo'    : ['m','f','m','m','m','f','m','f','m','m']})
df

Agrupando por 'coluna6':

In [0]:
df.groupby('coluna6').agg({'coluna1': ['min','mean','median','max']})

Agora, vamos repetir o processo usando duas colunas-chaves 'coluna6' e 'coluna7':

In [0]:
Estatisticas_Descr= df.groupby(['coluna6','coluna7']).agg({'coluna1': ['min','mean','median','max']})
Estatisticas_Descr

Observe que Estatisticas_Descr é um dataframe. Portanto, podemos selecionar linhas e/ou colunas deste dataframe da forma que quisermos.

In [0]:
# Índices do dataframe:
Estatisticas_Descr.index

In [0]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um':
Estatisticas_Descr.loc[('a', 'um')]

In [0]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um', primeiro valor:
Estatisticas_Descr.loc[('a', 'um')][0] # ou seja, selecionamos min

In [0]:
# Selecionando o conteúdo de coluna6= 'a' e coluna7= 'um', segundo valor:
Estatisticas_Descr.loc[('a', 'um')][1] # ou seja, selecionamos mean

E daí por diante...

Para aprender mais sobre como trabalhar com dois índices em um dataframe, consulte [Hierarchical indices, groupby and pandas](https://www.datacamp.com/community/tutorials/pandas-multi-index).

___
## Exemplo 3
### Operações e transformações em grupo

In [0]:
# Mostra o dataframe-exemplo:
df

In [0]:
# Constroi dataframe df_Medias
df_Medias = df.groupby('coluna6').mean().add_prefix('mean_')
df_Medias

In [0]:
# Combina (merge) com o dataframe df:
pd.merge(df, df_Medias, left_on='coluna6', right_index=True)

___
# **Discretizar COLUNAS numéricas**
* pd.cut() - classes com base em valores;
* pd.qcut() - classes com base em quantis da amostra, ou seja teremos a mesma quantidade de itens em cada classe.

> Este artifício é muito utilizado em Machine Learning quando queremos construir classes para variáveis numéricas (integer ou float). Acompanhe a seguir:

In [0]:
df

## pd.cut()

In [0]:
# Construir 4 classes para a variável float 'coluna8':
Bucket_cut = pd.cut(df['coluna8'], 4) # aqui, estamos construindo 4 buckets
Bucket_cut

In [0]:
# Quem são os Bucket's que construimos:
Bucket_cut.value_counts()

Como podem ver, de fato construimos 4 bucket's. **Observe que não temos a mesma quantidade de itens em cada classe!!!**

## pd.qcut()

In [0]:
Bucket_qcut = pd.qcut(df['coluna8'], 4, labels=False)
Bucket_qcut

In [0]:
# Quem são os Bucket's que construimos:
Bucket_qcut.value_counts()

## Comentários
* pd.qcut() garante uma distribuição mais uniforme dos valores em cada classe. Isso significa que é menos provável que você tenha uma classe com muitos dados e outra com poucos dados.
* Eu prefiro usar pd.qcut().

___
# **Pivot Tables**
* Fonte: [Reshaping and pivot tables](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html)

___
# **Deletar colunas do dataframe**
> Deletar as colunas 'coluna2' e 'coluna5' do dataframe.

In [0]:
df

## Usando inplace= True

In [0]:
df.drop(['coluna2','coluna5'], axis=1, inplace=True)
df

## Usando atribuição

In [0]:
df= df.drop(['coluna2','coluna5'], axis=1)
df

___
# **Dados Categóricos**
> Nosso objetivo é construir variáveis dummies para nossas colunas categóricas.

* Fontes: 
    * [Categorical data](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)
    * [Creating Dummy Variables](https://www.ritchieng.com/pandas-creating-dummy-variables/)

In [0]:
df

Vamos construir variáveis dummies para as colunas 'coluna6' e 'coluna7', da seguinte forma:

In [0]:
pd.get_dummies(df['coluna6'])

Qual a interpretação do resultado acima?

In [0]:
pd.get_dummies(df['coluna7'])

Qual a interpretação do resultado acima?

In [0]:
df = pd.get_dummies(df, columns=['coluna6','coluna7','sexo'])
df

In [0]:
df.columns

___
# **Ferramentas Úteis**
* Fonte: [Computational tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html)

___
# **Exercícios**

## Exercício 1
* A partir dos dataframes USA_Abbrev, USA_Area e USA_Population, construa o Dataframe USA contendo as colunas state, abbreviation, area, ages, year, population.

* Observação: A forma mais fácil de ler um arquivo CSV (a partir do Excell por exemplo) a partir do GitHub é clicar no arquivo csv no seu repositório do GitHub e em seguida clicar em 'raw'. Depois, copie o endereço apresentado no browser e cole na variável 'url'. Qualquer dúvida, leia o documento a seguir: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92.

## Exercício 2
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir e faça o merge do dataframe df_Left com o dataframe df_Right:

In [0]:
df_Left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
df_Right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

## Exercício 3
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir:

In [0]:
df_Left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
df_Right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

### Perguntas
* Qual o output e a interpretação dos comandos a seguir:

In [0]:
pd.merge(df_Left, df_Right, on=['key1', 'key2'])

In [0]:
pd.merge(df_Left, df_Rright, how='outer', on=['key1', 'key2'])

In [0]:
pd.merge(df_Left, df_Rright, how='right', on=['key1', 'key2'])

In [0]:
pd.merge(df_Left, df_Right, how='left', on=['key1', 'key2'])

## Exercício 5
5.1. Identifique e delete os atributos do dataframe df_Titanic que podem ser excluídos inicialmente no início da análise de dados.

___
## Exercício 6 - Resolvido
* Carregue o dataframe Titanic_With_MV.csv e analise o dataframe em busca de inconsistências e Missing Values (NaN).

In [0]:
import pandas as pd
df_Titanic = pd.read_csv('https://raw.githubusercontent.com/MathMachado/Python4DS/DS_Python/Dataframes/Titanic_With_MV.csv?token=AGDJQ63MNPPPROFNSO2BZW25XSR72', index_col= 'PassengerId')
df_Titanic.head()

* Segue o dicionário de dados do dataframe Titanic:
    * PassengerID: ID do passageiro;
    * survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * sex: sexo do Passageiro

### Avaliando inconsistências nas COLUNAS

In [0]:
import seaborn as sns
import pandas as pd
import numpy as np

In [0]:
# Uniformizando o nome das colunas
df_Titanic.columns= [cols.lower() for cols in df_Titanic.columns]
df_Titanic.head()

### Coluna 'pclass'

In [0]:
df_Titanic['pclass'].value_counts()

In [0]:
sns.countplot(x='survived', hue='pclass', data=df_Titanic)

Não me parece nada estranho com a variável 'pclass'. Ou você identifica alguma coisa estranho?

### Coluna 'sex'

In [0]:
sns.countplot(x='survived', hue='sex', data=df_Titanic)

In [0]:
df_Titanic['sex'].value_counts()

Qual sua opinião sobre esse preenchimento?

Algum problema?

Oops... Aqui temos vários problemas... Olhando para estes resultados, você concorda que 'male', 'm', 'MALE', M', 'mALE' e 'Men' se trata da mesma informação?

Da mesma forma, 'female', 'f', 'F', 'Female', 'fEMALE', 'Woman', 'w' e 'W' também se trata da mesma informação?

Então, vamos fazer o seguinte:

* Toda vez que eu encontrar um desses valores: ['m', 'MALE', 'M', 'mALE', 'Men'], vou substituir por 'male';
* Toda vez que eu encontrar um desses valores: ['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W'], vou substituit por 'female'.

In [0]:
df_Titanic2= df_Titanic.copy()

#### Corrigir com df.replace()

In [0]:
df_Titanic['sex2'] = df_Titanic['sex'].replace(['m', 'MALE', 'M', 'mALE', 'Men'], 'male')
df_Titanic['sex3'] = df_Titanic['sex2'].replace(['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W'], 'female')

Vamos ver a distribuição dos dados novamente no gráfico:

In [0]:
sns.countplot(x='survived', hue='sex3', data=df_Titanic)

In [0]:
df_Titanic['sex3'].value_counts()

Ok, de fato corrigimos os problemas de preenchimento da variável 'sex'.

#### Corrigir com df.map()

In [0]:
df_Titanic= df_Titanic2.copy()

In [0]:
d_sexo= {}
d_sexo.update(dict.fromkeys(['m', 'MALE', 'M', 'mALE', 'Men', 'male'], 'male'))
d_sexo.update(dict.fromkeys(['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W', 'female'], 'female'))
d_sexo

Aplica a transformação:

In [0]:
df_Titanic['sex2']= df_Titanic['sex'].map(d_sexo)
df_Titanic['sex2'].value_counts()

Qual a conclusão? Este preenchimento faz mais sentido que o anterior?

In [0]:
# Deleta as variáveis 'sex':
df_Titanic= df_Titanic.drop(columns= ['sex'], axis= 1).rename(columns= {'sex2': 'sex'})

# Mostra os dados:
df_Titanic.head()

In [0]:
sns.catplot(x="sex", kind="count", data=df_Titanic)

In [0]:
sns.countplot(x='survived', hue='sex', data=df_Titanic)

### Feature Engineering
#### Coluna 'cabin'
* Construir as colunas:
    * deck - Letra de Cabin;
    * seat - Número de Cabin

Sugestões:
1) Não descartar nenhuma informação (Fábio);

2) Coluna com número de cabines reservadas (Thomaz).

In [0]:
set(df_Titanic['cabin'])

Como podemos ver, trata-se de uma variável categórica com vários níveis. Portanto, vamos capturar somente a primeira letra da variável 'cabin'. Para tal, vamos utilizar a função slice().

> str.slice() - Captura (slice) partes de s_Str.

A seguir, capturamos a primeira letra da variável 'cabin':

In [0]:
# definindo a variável 'deck' que representará a primeira letra da variável 'cabin'
df_Titanic["deck"] = df_Titanic["cabin"].str.slice(0, 1) # slice(inicio, tamanho_da_string)
df_Titanic['deck'].value_counts()

A seguir, vamos extrair a parte numérica da variável 'cabin' usando Expressões Regulares:

In [0]:
# Importar a biblioiteca para Expressões Regulares
import re

In [0]:
# Primeiramente, usamos a função split() para separar o conteúdo da variável em colunas: 
new = df_Titanic["cabin"].str.split(" ", n= 3, expand = True) 
new.head(5)

Observe acima que o comando gera quantos splits da variável eu quiser. No entanto, por simplicidade, me interessa somente o primeiro split.

Agora, vou extrair o número do assento do passageiro usando Expressões Regulares:

In [0]:
# Aqui está o conteúdo de new[0]:
new[0].head()

In [0]:
new2= new[0].str.extract('(\d+)')
new2.head()

Por fim, vou carregar esta informação ao dataframe df:

In [0]:
df_Titanic["seat"]= new2
df_Titanic.head()

Por fim, excluir a variável 'cabin':

In [0]:
df_Titanic= df_Titanic.drop(columns= ["cabin"], axis=1, errors="ignore")

### Coluna 'embarked'

In [0]:
df_Titanic['embarked'].value_counts()

In [0]:
sns.catplot(x="embarked", kind="count", data=df_Titanic)

Não vejo problemas com esta variável. Vamos em frente...

In [0]:
sns.countplot(x='survived', hue='embarked', data=df_Titanic)

In [0]:
sns.countplot(x='pclass', hue='embarked', data=df_Titanic)

In [0]:
sns.countplot(x='sex', hue='embarked', data=df_Titanic)

### Variável 'pclass'

In [0]:
df_Titanic['pclass'].value_counts()

Algum problema com esta variável?

In [0]:
sns.catplot(x="pclass", kind="count", data=df)

### Coluna 'parch'

In [0]:
df_Titanic['parch'].value_counts()

In [0]:
sns.catplot(x="parch", kind="count", data=df_Titanic)

### Feature Engineering
* Criar a coluna 'sozinho_parch', onde sozinho_parch= 1 significa que o passageiro viaja sozinho e 0, caso contrário.

In [0]:
# Função para retornar 0 ou 1 em função dos valores de variavel
def sozinho(variavel):
    if (variavel == 0):
        return 1
    else:
        return 0

In [0]:
df_Titanic['sozinho_parch'] = df_Titanic['parch'].map(sozinho)
df_Titanic.head()

### Coluna 'sibsp'

In [0]:
df_Titanic['sibsp'].value_counts()

* Algum problema?

In [0]:
sns.catplot(x="sibsp", kind="count", data=df_Titanic)

In [0]:
sns.countplot(x='survived', hue='sibsp', data=df_Titanic)

### Feature Engineering:
* Criar o atributo 'sozinho_sibsp', onde sozinho= 1 significa que o passageiro viaja sozinho e 0, caso contrário.

In [0]:
df_Titanic['sozinho_sibsp'] = df_Titanic['sibsp'].map(sozinho)
df_Titanic.head()

### Coluna 'fare'
> Discretizar a coluna 'fare' em 10 buckets.

In [0]:
df_Titanic['fare_class'] = pd.qcut(df_Titanic['fare'], 10, labels=False)
df_Titanic['fare_class'].value_counts()

In [0]:
sns.catplot(x="fare_class", kind="count", data=df_Titanic)

### Coluna 'age'
> Discretizar a coluna 'age' em 10 buckets.

In [0]:
df_Titanic['age_class'] = pd.qcut(df_Titanic['age'], 10, labels=False)
df_Titanic['age_class'].value_counts()

In [0]:
sns.catplot(x="age_class", kind="count", data=df_Titanic)

#### Alternativa para discretizar 'age'

In [0]:
def Age_Category(age):
    if (age <= 1):
        return 1
    elif (age <= 5):
        return 2
    elif(age <= 10):
        return 3
    elif (age <= 15):
        return 4
    elif (age <= 20):
        return 5
    elif (age <= 25):
        return 6
    elif(age < 30):
        return 7
    elif(age < 35):
        return 8
    elif(age < 40):
        return 9
    elif(age < 45):
        return 10
    elif(age < 50):
        return 11
    elif(age < 60):
        return 12
    elif(age < 70):
        return 13
    elif(age < 80):
        return 14
    else:
        return 15

In [0]:
df_Titanic['age_class2'] = df['age'].map(Age_Category)

In [0]:
set(df_Titanic['age_category']) # Esse comando mostra os NaN's da coluna, se houver.

### Coluna 'title'

* Para fins de Data Manipulation, vamos capturar o tratamento dos passageiros contido na variável 'name'. Ou seja, 'Mr.', 'Mrs.', 'Miss' e etc...

> Fonte: As funções get_title e title_map foram extraídas de https://www.kaggle.com/tjsauer/titanic-survival-python-solution

In [0]:
df.head()

Primeiramente, vamos entender como funciona, step by step...

In [0]:
'Allen, Mr. William Henry'.split(',')[1].split('.')[0].strip()

In [0]:
def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'

def title_map(title):
    if title in ['Mr', 'Ms']:
        return 1
    elif title in ['Master']:
        return 2
    elif title in ['Ms','Mlle','Miss']:
        return 3
    elif title in ["Mme", "Ms", "Mrs"]:
        return 4
    elif title in ["Jonkheer", "Don", "Sir", "the Countess", "Dona", "Lady"]:
        return 5
    elif title in ["Capt", "Col", "Major", "Dr", "Rev"]:
        return 6
    else:
        return 7

Exercícios
* Melhorar a função title_map.

Captura o tratamento dos passageiros:

In [0]:
df_Titanic['title'] = df_Titanic['name'].apply(get_title).apply(title_map)  
set(df_Titanic['title']) # Esse comando mostra os NaN's da variável

Drop a coluna 'name', pois não vamos mais precisar dela em nossas análises:

In [0]:
df_Titanic= df_Titanic.drop(columns= ["name"], axis=1)

Apresenta o conteúdo do dataframe:

In [0]:
df_Titanic.head(10)

## Missing Value
> Faça o devido tratamento de NaN's das colunas do dataframe df_Titanic.

In [0]:
df_Titanic['age'].isna().sum()

## Relação causa --> efeito

A função a seguir nos ajudará com o Data Visualization, cruzando a variável-resposta 'survived' com qualquer outra passada à função:

In [0]:
def Avalia_Taxa_Sobrevivencia(df, column):
    title_xt = pd.crosstab(df[column], df['survived'])
    print(pd.crosstab(df[column], df['survived'], margins=True))
    title_xt_pct = title_xt.div(title_xt.sum(1).astype(float), axis=0)
    
    title_xt_pct.plot(kind='bar', stacked=True, title='Taxa de Sobrevivência dos Passageiros', 
                      color= ['r', 'g'])
    plt.xlabel(column)
    plt.ylabel('Taxa de Sobrevivência')
    plt.legend(loc='upper center', bbox_to_anchor=(0.5, -0.05),shadow=True, ncol=2)
    plt.show()

def Catplot_Graph(x, y, hue= 'survived', col= None):
    plt.rcdefaults()
    g= sns.catplot(x= x, y= y, hue= hue, palette={'Died':'red','Survived':'blue'}, col= col, data=df, kind= 'bar', height=4, aspect=.7)
    plt.show()

Qual a relação entre a variável 'sex' e a variável-resposta?

In [0]:
Avalia_Taxa_Sobrevivencia(df_Titanic, 'sex')

## Exercício 7
> Algumas equipes estão a participar de um hackaton e estão a submeter seus respectivos resultados num repositório onde um script Python deveria ler automaticamente o nome dos arquivos, medir o resultado e publicar as equipes e seus respectivos resultados.

1. Coloque os arquivos csv XPTO_team1.csv, XPTO_team2.csv, XPTO_team3.csv, 
XPTO_team4.csv, XPTO_team5.csv, XPTO_team6.csv e Resultado.csv num repositorio/pasta intitulada '.../hackaton/resultados/
2. Desenvolva um script Python para ler os resultados e o nome das equipes e publique o placar.

## Exercício 8
Consulte a página [Pandas Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/pandas/index.php) para mais exercícios relacionados á este tópico.