<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/NB10_02__Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>SERIES</i></b></h1></center>

# **AGENDA**:

> Consulte a 'Table of contents' para saber mais sobre a agenda deste notebook.

___
# **Series**

* Series é um **array uni-dimensional** indexado capaz de armazenar dados de qualquer tipo (integer, string, float, python objects, etc.). The axis labels are collectively called index.
* Series é essencialmente uma coluna (unidimensional). Veremos mais tarde que um pandas.DataFrame() é uma tabela multi-dimensional ou coleção de objetos do tipo Series.
* Assim como as listas, usamos "[]" e acessamos os itens do objeto Series através dos índices.

___
# **Criar Series a partir de lists**

### Exemplo
* Geramos uma lista com números aleatória.

In [ ]:
# Importar a biblioteca Pandas
import pandas as pd

# Importar a biblioteca para geração de números aleatórios
import numpy as np

In [ ]:
# Define a seed
np.random.seed(20111974)

n_numeros= []

# Gerando números aleatórios inteiros entre 0 e 100:
for _ in range(10):
	n_numeros.append(np.random.randint(0,100))

In [ ]:
print(n_numeros)

In [ ]:
type(n_numeros)

a função pandas.Series() transforma a lista n_numeros num objeto series.

In [ ]:
serie = pd.Series(n_numeros)
print(serie)

In [ ]:
type(serie)

Podemos acessar os itens do objeto Series usando os índices:

In [ ]:
serie[0]

In [ ]:
serie[0:5]

In [ ]:
serie[0:20:3]

___
# **Criar Series usando numpy.array()**

In [ ]:
# Importar Libraries
import pandas as pd
import numpy as np

In [ ]:
l_Vogais= ['a', 'e', 'i', 'o', 'u']
a_Vogais= np.array(l_Vogais)

In [ ]:
type(l_Vogais)

In [ ]:
type(a_Vogais)

In [ ]:
serie= pd.Series(a_Vogais)
print(serie)

In [ ]:
type(serie)

___
# **Criar Series usando Dictionaries**

In [ ]:
# Definir dicionário:
d_frutas= {'Avocado': 0.35, 
         'Apple': 0.40, 
         'Apricot': 0.25, 
         'Banana': 0.30, 
         'Blackcurrant': 0.70, 
         'Blackberry': 0.55, 
         'Blueberry': 0.45, 
         'Cherry': 0.50, 
         'Coconut': 0.75, 
         'Fig': 0.60, 
         'Grape': 0.65, 
         'Kiwi': 0.20, 
         'Lemon': 0.15, 
         'Mango': 0.80, 
         'Nectarine': 0.75, 
         'Orange': 0.25, 
         'Papaya': 0.30,
         'Passion Fruit': 0.45,
         'Peach': 0.55,
         'Pineapple': 0.55,
         'Plum': 0.60,
         'Raspberry': 0.40,
         'Strawberry': 0.50,
         'Watermelon': 0.45}

In [ ]:
serie = pd.Series(d_frutas)
serie

Se quisermos acessar o valor para o índice 'Banana', basta fazer:

In [ ]:
serie['Banana']

**Atenção**: Nete exemplo, nossos itens são alfanuméricos, ou seja, o nome das frutas.

___
# **Recuperar valores de uma Series**
* nome_serie[Index].

### Exemplo: Clima
* Source: [Climatempo](https://www.climatempo.com.br/climatologia/558/saopaulo-sp)

In [ ]:
l_minima= [19, 19, 18, 16, 14, 12, 12, 13, 14, 15, 17, 18]
l_maxima= [27, 28, 27, 25, 23, 22, 22, 23, 24, 25, 26, 26]
l_precipitacao= [237, 222, 161, 82, 78, 50, 48, 36, 85, 127, 137, 201]

Nosso objetivo é organizar estas 3 séries num dataframe. Lembre-se de que um pd.DataFrame() é uma coleção de Pandas series?

## Usando Dictionaries

In [ ]:
l_meses_do_ano= ['Jan', 'Fev', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [ ]:
l_janeiro = [l_minima[0], l_maxima[0], l_precipitacao[0]]
l_fevereiro = [l_minima[1], l_maxima[1], l_precipitacao[1]]
l_marco = [l_minima[2], l_maxima[2], l_precipitacao[2]]
l_abril= [l_minima[3], l_maxima[3], l_precipitacao[3]]
l_maio = [l_minima[4], l_maxima[4], l_precipitacao[4]]
l_junho = [l_minima[5], l_maxima[5], l_precipitacao[5]]
l_julho = [l_minima[6], l_maxima[6], l_precipitacao[6]]
l_agosto = [l_minima[7], l_maxima[7], l_precipitacao[7]]
l_setembro = [l_minima[8], l_maxima[8], l_precipitacao[8]]
l_outubro = [l_minima[9], l_maxima[9], l_precipitacao[9]]
l_novembro = [l_minima[10], l_maxima[10], l_precipitacao[10]]
l_dezembro = [l_minima[11], l_maxima[11], l_precipitacao[11]]

l_valores = [l_janeiro, l_fevereiro, l_marco, l_abril, l_maio, l_junho, l_julho, l_agosto, l_setembro, l_outubro, l_novembro, l_dezembro]

In [ ]:
# Criar um objeto zip a partir das listas:
l_medidas = zip(l_meses_do_ano, l_valores)

In [ ]:
# Criar um dicionário a partir do objeto zip:
d_medidas = dict(l_medidas)
d_medidas

## Alternativa (código otimizado):

In [ ]:
l_valores= []
for i in range(0,len(l_meses_do_ano)):
    l_valores.append([l_minima[i], l_maxima[i], l_precipitacao[i]])
    
l_valores

In [ ]:
# Criar o objeto zip com as listas
l_medidas = zip(l_meses_do_ano, l_valores)

In [ ]:
# Cria o dicionário a partir do objeto zip
d_medidas = dict(l_medidas)
d_medidas

___
# **EXERCÍCIOS**

## Exercício 1
* Adicionar as informações a seguir ao dicionário Students.

| Nome | Idade | Cidade | País |
|------|-------|--------|------|
| John | 36 | Las Vegas | EUA |
| Jack | 27 | Bangalore | India |
| Nicolas | 29 | Nice | France |