<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/Python%20Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Melhorias da sessão
* Propor mais exercícios.

# Pandas Series

> Pandas Series é um **array uni-dimensional** indexado capaz de armazenar dados de qualquer tipo (integer, string, float, python objects, etc.). The axis labels are collectively called index.

* Revisão sobre geração de números aleatórios: [Statistics and Probability](https://github.com/MathMachado/Python_RFB/blob/DS_Python/Statistics%20and%20Probability.ipynb)

## Criar objetos series a partir de objetos lists

### Exemplo
* Geramos uma lista com números aleatória.

In [0]:
# Import Pandas Library
import pandas as pd

# Import random Library to generate random numbers
import random as random

In [0]:
# set the seed
random.seed(20111974)

MyList= []

# Gerando números aleatórios inteiros entre 0 e 100:
for _ in range(10):
	MyList.append(random.randint(0,100))

In [0]:
print(MyList)

In [0]:
type(MyList)

a função pandas.Series() transforma a lista MyList num objeto series.

In [0]:
MySerie= pd.Series(MyList)
print(MySerie)




> **Comentário**: 
    
    * Pandas Series é essencialmente uma coluna (unidimensional). Veremos mais tarde que um pandas.DataFrame() é uma tabela multi-dimensional ou coleção de objetos series.
    * Assim como as listas, usamos "[]" e acessamos os itens do objeto Series através dos índices.

In [0]:
type(MySerie)

Podemos acessar os itens do objeto Series usando os índices:

In [0]:
MySerie[0]

## Criar Pandas Series usando numpy.array()

In [0]:
# Importar Libraries
import pandas as pd
import numpy as np

In [0]:
MyObjects= ['a', 'e', 'i', 'o', 'u']
MyArray= np.array(MyObjects)

In [0]:
type(MyObjects)

In [0]:
type(MyArray)

In [0]:
MySerie= pd.Series(MyArray)
print(MySerie)

In [0]:
type(MySerie)

## Criar objetos Pandas Series usando Dictionaries

In [0]:
# Definição do dicionário:
dFruits= {'Avocado': 0.35, 
         'Apple': 0.40, 
         'Apricot': 0.25, 
         'Banana': 0.30, 
         'Blackcurrant': 0.70, 
         'Blackberry': 0.55, 
         'Blueberry': 0.45, 
         'Cherry': 0.50, 
         'Coconut': 0.75, 
         'Fig': 0.60, 
         'Grape': 0.65, 
         'Kiwi': 0.20, 
         'Lemon': 0.15, 
         'Mango': 0.80, 
         'Nectarine': 0.75, 
         'Orange': 0.25, 
         'Papaya': 0.30,
         'Passion Fruit': 0.45,
         'Peach': 0.55,
         'Pineapple': 0.55,
         'Plum': 0.60,
         'Raspberry': 0.40,
         'Strawberry': 0.50,
         'Watermelon': 0.45}

In [0]:
MySerie= pd.Series(dFruits)
MySerie

Se quisermos acessar o valor para o índice 'Banana', basta fazer:

In [0]:
MySerie['Banana']

**Atenção**: Nete exemplo, nossos itens são alfanuméricos, ou seja, o nome das frutas.

## Recuperar valores do Pandas Series
* SerieName[Index].

### Exemplo: Clima
* Source: [Climatempo](https://www.climatempo.com.br/climatologia/558/saopaulo-sp)

In [0]:
lMinima= [19, 19, 18, 16, 14, 12, 12, 13, 14, 15, 17, 18]
lMaxima= [27, 28, 27, 25, 23, 22, 22, 23, 24, 25, 26, 26]
lPrecipitacao= [237, 222, 161, 82, 78, 50, 48, 36, 85, 127, 137, 201]

Nosso objetivo é organizar estas 3 séries num dataframe. Lembre-se de que um pd.DataFrame() é uma coleção de Pandas series?

#### Usando Dictionaries

In [0]:
lMesesDoAno= ['Jan', 'Fev', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [0]:
lJan= [lMinima[0], lMaxima[0], lPrecipitacao[0]]
lFev= [lMinima[1], lMaxima[1], lPrecipitacao[1]]
lMar= [lMinima[2], lMaxima[2], lPrecipitacao[2]]
lApr= [lMinima[3], lMaxima[3], lPrecipitacao[3]]
lMai= [lMinima[4], lMaxima[4], lPrecipitacao[4]]
lJun= [lMinima[5], lMaxima[5], lPrecipitacao[5]]
lJul= [lMinima[6], lMaxima[6], lPrecipitacao[6]]
lAug= [lMinima[7], lMaxima[7], lPrecipitacao[7]]
lSep= [lMinima[8], lMaxima[8], lPrecipitacao[8]]
lOct= [lMinima[9], lMaxima[9], lPrecipitacao[9]]
lNov= [lMinima[10], lMaxima[10], lPrecipitacao[10]]
lDec= [lMinima[11], lMaxima[11], lPrecipitacao[11]]

lValores= [lJan, lFev, lMar, lApr, lMai, lJun, lJul, lAug, lSep, lOct, lNov, lDec]

In [0]:
# Criar um objeto zip a partir das listas:
lMedidas= zip(lMesesDoAno, lValores)

In [0]:
# Criar um dicionário a partir do objeto zip:
dMedidas = dict(lMedidas)
dMedidas

#### Alternativa (código otimizado):

In [0]:
lValores= []
for i in range(0,len(lMesesDoAno)):
    lValores.append([lMinima[i], lMaxima[i], lPrecipitacao[i]])
    
lValores

In [0]:
# Criar o objeto zip com as listas
lMedidas= zip(lMesesDoAno, lValores)

In [0]:
# Cria o dicionário a partir do objeto zip
dMedidas = dict(lMedidas)
dMedidas

# Exercícios

## Exercício 1
* Adicionar as informações a seguir ao dicionário Students.

| Nome | Idade | Cidade | País |
|------|-------|--------|------|
| John | 36 | Las Vegas | EUA |
| Jack | 27 | Bangalore | India |
| Nicolas | 29 | Nice | France |