<a href="https://colab.research.google.com/github/MathMachado/Python_RFB/blob/DS_Python/Notebooks/Python%20Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Melhorias desta sessão:
* Apresentar mais exemplos do uso de List Comprehensions;

# Python Lists

* List - Coleção ordenada e mutável de itens. 
* Permite itens duplicados;
* List são representados por "[ ]".

> Se você tem alguma dúvida sobre como gerar números aleatórios, sugiro voltar ao capítulo [Statistics and Probability](./Statistics%20and%20Probability.ipynb).

![PythonDataStructures](https://github.com/MathMachado/Python_RFB/blob/master/Material/PythonDataStructures.png?raw=true)

# Exemplos

* Foco na forma como atribuimos itens às listas.

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Orange', 'Lemon']
lMyNumbers= [1, 4, 8, 3, 6, 7]

Verificando o tipo da variável lMyNumbers:

In [0]:
type(lMyNumbers)

list

Verificando o tipo da variável lMyFruits:

In [0]:
type(lMyFruits)

list

## Exemplo 1: Atribuindo números aleatórios inteiros à lista

In [9]:
import random

# seed random number generator
random.seed(20111974)

# Cria um objeto do tipo list vazia...
lMyNumbers2= []

# Loop para gerar 10 números aleatórios inteiros...
for _ in range(10):
    lMyNumbers2.append(random.randint(1,101))

CPU times: user 10 µs, sys: 0 ns, total: 10 µs
Wall time: 13.6 µs

In [0]:
# Verificando o tipo da variável lMyNumbers2
type(lMyNumbers2)

list

In [0]:
# Mostrando os itens de lMyNumbers2...
lMyNumbers2

[26, 81, 22, 50, 71, 52, 54, 27, 26, 31]

## Exemplo 2 - Atribuindo números aleatórios (float) à lista

In [0]:
import random

# seed random number generator
random.seed(20111974)

# Define um objeto do tipo list vazio...
lMyNumbers2= []

# Loop para gerar 10 números aleatórios do tipo float...
for _ in range(10):
    lMyNumbers2.append(random.random())

Mostrar os itens de lMyNumbers2...

In [0]:
lMyNumbers2

[0.13436424411240122,
 0.8474337369372327,
 0.763774618976614,
 0.2550690257394217,
 0.49543508709194095,
 0.4494910647887381,
 0.651592972722763,
 0.7887233511355132,
 0.0938595867742349,
 0.02834747652200631]

# Substituir itens da lista
> **Lembre-se**: Um objeto do tipo list é mutável e ordenado.

* Considerando a lista lMyFruits list, suponha que queremos substituir o item 'Avocado' por 'Banana'. Para fazermos esta operação, trabalhe com os índices da lista.
    * em nosso caso, o item 'Avocado' tem índice 1.

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Orange', 'Lemon']

In [0]:
lMyFruits[1]= 'Banana'
lMyFruits

['Apple', 'Banana', 'Orange', 'Lemon']

Observe que o valor 'Avocado' de índice 1 foi substituído pelo valor 'Banana'.

## Solução alternativa 1
> No exemplo anterior, precisávamos saber o índice para fazermos a substituição. Neste caso, não precisamos saber qual é o índice.
    
* função list.index(item).

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Orange', 'Lemon']

A função list.index(item) busca pelo item e retorna o índice associado ao item. 

> **Atenção**: A função retorna ValueError se o item não pertencer á lista. Para evitar esse erro, use "in" para previamente verificar se o item pertence à lista.

In [0]:
# Captura o índice do item 'Avocado'...
iIndex= lMyFruits.index('Avocado')
iIndex

1

In [0]:
# Substitui...
lMyFruits[iIndex]= 'Banana'
lMyFruits

['Apple', 'Banana', 'Orange', 'Lemon']

Como podeos ver acima, o item 'Avocado', de índice iIndex, foi substituído pelo item 'Banana'.

## Solução alternativa 2
* Considere o exemplo a seguir. Note agora que nossa nova lista contem itens repetidos.

In [1]:
lMyFruits= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

Desta vez, vamos substituir todas as ocorrências do item 'Avocado' por 'Banana'. Como vimos, lMyFruits.index('Avocado') retorna somente a primeira ocorrência de 'Avocado'.

Quantos itens 'Avocado' temos na lista lMyFruits?

In [0]:
lMyFruits.count('Avocado')

2

### 1st Approach - Usar Loop (For)

In [3]:
# Library para medirmos o tempo de processamento
import time
time.clock()
for f in lMyFruits:
    if f== 'Avocado':
        iIndex= lMyFruits.index('Avocado')
        lMyFruits[iIndex]= 'Banana'
time.clock()

1.832526

In [0]:
lMyFruits

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

**Missão cumprida**: todas as ocorrência do item 'Avocado' foi substituído pelo item 'Banana'.

Quantos itens 'Banana' temos na lista?

In [0]:
lMyFruits.count('Avocado')

### 2nd Approach - Usar Loop (While)

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [4]:
# Library para medirmos o tempo de processamento
import time
time.clock()
while 'Avocado' in lMyFruits:
        iIndex= lMyFruits.index('Avocado')
        lMyFruits[iIndex]= 'Banana'
time.clock()

1.908875

Mostrando os resultados...

In [0]:
lMyFruits

['Apple', 'Banana', 'Banana', 'Orange', 'Lemon']

**Missão cumprida**: todas as ocorrência do item 'Avocado' foi substituído pelo item 'Banana'.

Mostrando quantos itens 'Banana' temos na lista:

In [0]:
lMyFruits.count('Avocado')

### 3rd Approach - Usar List Comprehension

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [0]:
iIndices = [i for i, x in enumerate(lMyFruits) if x == "Avocado"]
iIndices

[1, 2]

Agora que temos os índices, vamos às substituições...

In [0]:
for i in iIndices:
    lMyFruits[i]= 'Banana'
    
lMyFruits

**Missão cumprida**: todas as ocorrência do item 'Avocado' foi substituído pelo item 'Banana'.

Mostrando quantos itens 'Banana' temos na lista:

In [0]:
lMyFruits.count('Banana')

> Como eu disse anteriormente, o Python é muito versátil. Há várias formas de se resolver o mesmo problema!

Portanto:

> Resolva o problema. Depois, quando tiver tempo, otimize o processo!

# Verificando se o item pertence à lista

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [0]:
'Avocado' in MyFruits

True

In [0]:
'Blueberry' in MyFruits

False

# Adicionando itens à lista

### Operador '+'

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Orange', 'Lemon']
lFruitsToAdd= ['Apple', 'Blueberry', 'Kiwi']
lMyFruits= lMyFruits+lFruitsToAdd
lMyFruits

['Apple', 'Avocado', 'Orange', 'Lemon', 'Apple', 'Blueberry', 'Kiwi']

Observe que acrescentamos (facilmente) a lista lFruitsToAdd ao final de lMyFruits.

## Método list.append(New_item)

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Orange', 'Lemon']

In [0]:
# Vamos adicionar mais uma ocorrência de 'Avocado' á nossa lista...
lMyFruits.append('Avocado')
lMyFruits

['Apple', 'Avocado', 'Orange', 'Lemon', 'Avocado']

Agora temos 2 ocorrências para o item 'Avocado'. Observe que o novo item foi acrescentado ao final da lista lMyFruits.

In [0]:
lMyFruits.count('Avocado')

# Adicionando muitos itens na lista
* Desta vez, vamos adicionar/acrescentar mais de 1 item à nossa lista. vamos acrescentar:
    * More 2 Coconuts;
    * More 3 Melons;
    * More 4 Mandarin;
    * More 6 Mango;
    * More 10 Oranges;

### Método list.extend()

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Orange', 'Lemon']
lMyFruits

In [0]:
lMyFruits.extend(['Blueberry', 'Kiwi'])
lMyFruits

['Apple',
 'Avocado',
 'Avocado',
 'Orange',
 'Lemon',
 'Blueberry',
 'Kiwi',
 'Blueberry',
 'Kiwi']

Note que os novos itens 'Blueberry' e 'Kiwi' foram adicionados á lista.

## Diferença entre append() e extend()
* Considere o exemplo a seguir:

In [0]:
# Exemplo 1: append()
letras_1= ['a','b']
letras_1.append('c')
letras_1

['a', 'b', 'c']

In [0]:
# Exemplo 2: append()
letras_1= ['a','b']
letras_1.append(['c'])
letras_1

['a', 'b', ['c']]

In [0]:
# Exemplo 3: extend()
letras_1= ['a','b']
letras_1.extend('c')
letras_1

['a', 'b', 'c']

In [0]:
# Exemplo 4: extend()
letras_1= ['a','b']
letras_1.extend(['c'])
letras_1

['a', 'b', 'c']

Compare os exemplos 1 com 3 e 2 com 4. Qual a diferença?

# Removendo itens da lista
* list.remove(item) procura pela primeira ocorrência de item e então o remove. 

> **Atenção**: A função retorna ValueError caso o elemento não pertença à lista. Portanto, primeiro verifique se o item pertence á lista usando "in".

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

Suponha que queremos remover o item 'Avocado'...

In [0]:
lMyFruits.remove('Avocado')
lMyFruits

['Apple', 'Avocado', 'Orange', 'Lemon']

dado que temos 2 ocorrências para o item 'Avocado', a função removeu a primeira ocorrência.

# Contando itens de uma lista

In [0]:
# Lista de frutas:
lMyFruits= ['Apple','Watermelon','Orange','Pear','Cherry','Strawberry','Nectarine','Grape',
'Mango','Blueberry','Pomegranate','Carambola','Plum','Banana','Raspberry','Mandarin','Jackfruit',
'Papaya','Kiwi','Pineapple','Lime','Lemon','Apricot','Grapefruit','Melon','Coconut','Avocado','Peach']

Agora, vamos adicionar novos itens à lista::
* 2 Coconuts;
* 3 Melons;
* 4 Mandarin;
* 6 Mango;
* 10 Oranges;

> Se quisermos adicionar muitos elementos à lista, então usamos a função list.extend().

In [0]:
lMyFruits.extend(('Coconut','Coconut','Melon','Melon','Melon','Mandarin','Mandarin','Mandarin','Mandarin','Mango','Mango','Mango','Mango','Mango','Mango','Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange','Orange'))
lMyFruits

['Apple',
 'Watermelon',
 'Orange',
 'Pear',
 'Cherry',
 'Strawberry',
 'Nectarine',
 'Grape',
 'Mango',
 'Blueberry',
 'Pomegranate',
 'Carambola',
 'Plum',
 'Banana',
 'Raspberry',
 'Mandarin',
 'Jackfruit',
 'Papaya',
 'Kiwi',
 'Pineapple',
 'Lime',
 'Lemon',
 'Apricot',
 'Grapefruit',
 'Melon',
 'Coconut',
 'Avocado',
 'Peach',
 'Coconut',
 'Coconut',
 'Melon',
 'Melon',
 'Melon',
 'Mandarin',
 'Mandarin',
 'Mandarin',
 'Mandarin',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Mango',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange']

Quantas 'Orange' temos na lista lMyFruits?

In [0]:
lMyFruits.count('Orange')

11

## Challenge:
* desenvolver uma função que retorne a frequência de um dado item.

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [0]:
def ReturnFreq(element, lList):
    if element not in lList:
        print("Esta fruta não está na lista")
    else:
        return lList.count(element)

In [0]:
ReturnFreq('Orange', lMyFruits)

1

In [0]:
ReturnFreq('Abracadabra', lMyFruits)

Esta fruta não está na lista

## Frequência dos itens de uma lista

In [0]:
# Função para calcular a frequência dos itens
def FruitsFreq(my_list):    
    MySetOfFruits= set(my_list)    
    for item in MySetOfFruits: 
        freq= my_list.count(item)
        print(f'{item}: {freq}')

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

In [0]:
FruitsFreq(lMyFruits)

Apple: 1
Avocado: 2
Orange: 1
Lemon: 1

# Ordenando itens
> Para ordenar itens, prefira a função sorted().

In [0]:
lMyFruits= ['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']
lMyFruits

['Apple', 'Avocado', 'Avocado', 'Orange', 'Lemon']

## Ordem ascendente

In [0]:
sorted(lMyFruits)

['Apple', 'Avocado', 'Avocado', 'Lemon', 'Orange']

## Ordem descendente

In [0]:
sorted(lMyFruits, reverse= True)

['Orange', 'Lemon', 'Avocado', 'Avocado', 'Apple']

# Python Lists Comprehension

Sintaxe básica:

[ expression for item in list if conditional ]

que é equivalente a:

for item in list:
    if conditional:
        expression

## Exemplo 1
* Gerar números aleatórios usando List Comprehension.

In [0]:
import random
random.seed(20111974)
x= [random.random() for _ in range(5)]

In [0]:
x

[0.19610373666228842,
 0.6284677547909708,
 0.8852157439737881,
 0.3845591988503412,
 0.5520050481393948]

## Exemplo 2

In [0]:
lList= [1, 2, 3, 4]
lSquares = []

for n in lList:
    lSquares.append(n**2)

print(lSquares)

[1, 4, 9, 16]

Solução usando List Comprehension:

In [0]:
lList= [1, 2, 3, 4]
lSquares = [n**2 for n in lList]

print(lSquares)

[1, 4, 9, 16]

## Exemplo 3
* Encontrar númros comuns em duas listas.

In [0]:
lList_A = [1, 2, 3, 4]
lList_B = [2, 3, 4, 5]

lCommon_Num = []

for a in lList_A:
    for b in lList_B:
        if a == b:
            lCommon_Num.append(a)
      
print(lCommon_Num)

[2, 3, 4]

Solução usando List Comprehension...

In [0]:
lList_A = [1, 2, 3, 4]
lList_B = [2, 3, 4, 5]

lCommon_Num = [a for a in lList_A for b in lList_B if a == b]

print(lCommon_Num)

[2, 3, 4]

## Exemplo 4: A série de Fibonacci

Antes de mostrarmos o resultado da série de Fibonacci, vamos ver como funciona o **yield**.

In [0]:
def nextSquare(): 
    i = 1; 
  
    while True: 
        yield i*i                 
        i += 1

for num in nextSquare(): 
    if num > 100: 
         break    
    print(num)

1
4
9
16
25
36
49
64
81
100

Agora, vamos ver a aplicação do **yield** na série de Fibonacci a seguir:

In [0]:
# Primeira versão Fibonacci
def fibonacci():
    a = 0
    b = 1
    while True:
        yield a
        old_a = a
        a = b
        b = old_a + b

for each in fibonacci():
    print(each)
    if each > 60:
        break

0
1
1
2
3
5
8
13
21
34
55
89

In [0]:
# Segunda versão Fibonacci
def Fibonacci(max):
    a, b = 0, 1
    while a < max:
        yield a
        a, b = b, a+b

print([x for x in Fibonacci(100)])

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Filtrando itens com filter()
* Função para filtrar as vogais.

In [0]:
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, alphabets)

print('As vogais filtradas são:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:
a
e
i
o

# Usando Itertools

## Determinar o item mais frequente de uma lista
* O objetivo é retornar o item mais frequente da lista.

In [0]:
words= ['look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under']

In [0]:
# Library do Python que lida com conagens:
from collections import Counter

In [0]:
word_counts= Counter(words)
word_counts

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [0]:
top_three= word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

Agora suponha acrescentar novas palavras á nossa lista:

In [0]:
morewords = ['why','are','you','not','looking','in','my','eyes']

In [0]:
word_counts.update(morewords)

In [0]:
word_counts

Counter({'are': 1,
         'around': 2,
         "don't": 1,
         'eyes': 9,
         'in': 1,
         'into': 3,
         'look': 4,
         'looking': 1,
         'my': 4,
         'not': 2,
         'the': 5,
         'under': 1,
         'why': 1,
         'you': 1,
         "you're": 1})

In [0]:
top_three= word_counts.most_common(3)
print(top_three)

[('eyes', 9), ('the', 5), ('look', 4)]

# Exercícios

## Exercício 1
* Gerar aleatoriamente 6 números aleatorios inteiros e sem repetição entre 1 e 61.

### Minha solução

In [0]:
MyList= range(1,61)
print(list(MyList))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

E agora, queremos selecionar 6 números aleatoriamente dessa lista. Como fazemos isso?

#### random.choice()
* Versão do Python < 3.6.

In [0]:
import random

In [0]:
MyNumbers= []

random.seed(20111974)
# selecionando números aleatórios a partir de MyList
while len(MyNumbers) <= 5:
	MyNumbers.append(random.choice(MyList))
    
print(MyNumbers)

#### random.choices()
> Versão do Python > 3.6.

In [0]:
random.seed(20111974)
MyNumbers= random.choices(MyList, k= 6)
print(MyNumbers)

#### random.sample()

In [0]:
random.seed(20111974)
MyNumbers= random.sample(MyList, 6)
print(MyNumbers)

#### Usando a Library numpy

In [0]:
import numpy as np

np.random.seed(20111974)
MyNumbers= np.random.choice(MyList, 6)
print(MyNumbers)

... E assim, desenvolvemos nosso gerador de números aleatórios para a Mega sena. Se alguém ganhar, por favor me paguem meus 10% de direitos autorais, ok?

## Exercícios 2 - Selecionar itens baseados em frequência
* Uma urna contem 10 frutas, com as respectivas chances de serem selecionadas:

| Fruit | Prob |
|-------|------|
| Apple | 4/10 |
| Orange | 3/10 |
| Avocado | 2/10 |
| Lemon | 1/10 |

* O Experimento é retirar 3 frutas aleatoriamente da urna.

### 1st Approach
* Replicar os itens pelo número de vezes em que ele aparece.

Considere o seguinte exemplo:

In [0]:
lFruitsList= ['Apple', 'Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Orange', 'Avocado', 'Avocado', 'Lemon']
lFruitsList

['Apple',
 'Apple',
 'Apple',
 'Apple',
 'Orange',
 'Orange',
 'Orange',
 'Avocado',
 'Avocado',
 'Lemon']

In [0]:
# Selecionar aleatoriamente 3 frutas da lista - usando numpy
import numpy as np

np.random.seed(20111974)
lMyFruits= np.random.choice(lFruitsList, 3)
lMyFruits

array(['Avocado', 'Avocado', 'Apple'], dtype='<U7')

### 2nd Approach
* Use a frequência dos itens (esse é o jeito mais fácil)

In [0]:
# Solução usando random.sample
import random

SetOfFruits= list(set(lFruitsList))
lFruitsWeights = [4/10, 3/10, 2/10, 1/10]

lMyFruits = random.choices(population= SetOfFruits, k=3, weights= lFruitsWeights)
lMyFruits

['Apple', 'Apple', 'Lemon']