<a href="https://colab.research.google.com/github/MathMachado/DSWP/blob/master/Notebooks/Q%26A__Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# REPOSITÓRIO DE PERGUNTAS E RESPOSTAS - SPARK

# **PROBLEMA**:
* Carreguei um dataframe usando SparkSQL e os missing values aparecem pra mim como "?".

## **O QUE EU JÁ TENTEI**

In [ ]:
df.filter(col("coluna") == "?")
df.na.drop()
df.filter(col("coluna").isNull)

## **SOLUÇÃO1**: Usando PySpark

In [ ]:
%python
df = (spark.read
      .csv("/databricks-datasets/adult/dados.data", 
           header = False, 
           nullValue = '?', 
           ignoreLeadingWhiteSpace = True,
           ignoreTrailingWhiteSpace = True, 
           inferSchema = True)
     )

## **SOLUÇÃO2**: Usando Spark SQL

In [ ]:
%sql
CREATE TABLE Tabela
(
	Coluna1 Tipo1,
	Coluna2 Tipo2,
	Coluna3 Tipo3,
	...,
	ColunaN TipoN	
)
USING CSV
OPTIONS (path "/databricks-datasets/adult/dados.data",
header "true",
nullValue= "?",
ignoreLeadingWhiteSpace = True,
ignoreTrailingWhiteSpace = True,
inferSchema = True)