In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [ ]:
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

In [2]:
url_train = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/desafio_train.csv'
df_train = pd.read_csv(url_train)
df_train.set_index('id',inplace=True)

In [3]:
url_test = 'https://raw.githubusercontent.com/cryssoga/DSWP/master/Li%C3%A7%C3%A3o/desafio_test.csv'
df_test = pd.read_csv(url_test)
df_test.set_index('id',inplace=True)

In [17]:
f'"df_train.shape:":{df_train.shape}, "df_test.shape:": {df_test.shape}'

'"df_train.shape:":(11033, 62), "df_test.shape:": (1000, 61)'

In [56]:
df_total = pd.concat([df_train,df_test])
f'"df_total.shape:":{df_total.shape}'

'"df_total.shape:":(12033, 62)'

Tratamento dos CNAE

In [57]:
# cnae.csv : arquivo csv que contém número da divisão ('cnae') e letra da seção do cnae ('secao'), exemplificando:
# secao: C => indústria de transformação,
    # divisão: 10 => fabricação de produtos alimentícios 
    # divisão: 11 => fabricação de bebidas
# são 21 seções (A-U) totalizando 99 divisões
# df_cnae: dataframe indexado pela divisão 'cnae':
df_cnae = pd.read_csv('https://raw.githubusercontent.com/cryssoga/DSWP/master/Dataframes/cnae.csv')
df_cnae.set_index(['cnae'], inplace= True)

In [ ]:
df_cnae.dtypes

secao    object
dtype: object

In [ ]:
df_cnae.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', name='cnae')

In [58]:
# criando dicionário d_cnae a partir de df_cnae, com as 99 divisões correspondentes às 11 seções:
d_cnae = {}
for i in np.arange(1,len(df_cnae)):
    d_cnae[i]=df_cnae['secao'][i]

In [ ]:
d_cnae

In [59]:
# função que cria em df a coluna 'cnae_secao' com a seção correspondente à variável 'cnae2' existente em df:
def cria_cnae_secao(df):
    df['cnae_secao'] = df['cnae2'].replace(to_replace= d_cnae)
    return df

In [60]:
# listas com variáveis/colunas relacionadas:
l_categoricas = ['cnae2', 'rf2','cnae_secao']
l_ind_1 = ['ind01', 'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09', 'ind10',
           'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17', 'ind18', 'ind19', 'ind20',
           'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37',
           'ind40', 'ind41']
l_ind_2 = ['ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27',
           'ind38', 'ind39',
           'ind42', 'ind43']
l_mc_1 = ['mc1','mc2','mc3']
l_mc_2 = ['mc4']

Tratar NaNs

Grupo l_ind_1

In [61]:
# função que trata NaN das colunas na lista l_ind_1 (moda) e cria coluna 'l_ind_1_mv':
def trata_l_ind_1(df):
    l_ind_1 = ['ind01', 'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09', 'ind10',
               'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17', 'ind18', 'ind19', 'ind20',
               'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33', 'ind34', 'ind35', 'ind36', 'ind37',
               'ind40', 'ind41']
    df['l_ind_1_mv'] = 0
    df['l_ind_1_mv'][df['ind01'].isna()] = 1
    for i in l_ind_1:
        moda = df[i].mode()[0]
        df[i].fillna(value = moda, inplace=True)
    return df

Grupo l_ind_2

In [62]:
# função que trata NaN das coluas na lista l_ind_2 (moda) e cria coluna 'l_ind_2_mv':
def trata_l_ind_2(df):
    l_ind_2 = ['ind21', 'ind22', 'ind23', 'ind24', 'ind25', 'ind26', 'ind27',
               'ind38', 'ind39',
               'ind42', 'ind43']
    df['l_ind_2_mv'] = 0
    df['l_ind_2_mv'][df['ind21'].isna()] = 1
    for i in l_ind_2:
        moda = df[i].mode()[0]
        df[i].fillna(value = moda, inplace=True)
    return df

Grupo l_mc_1

In [63]:
# função que trata NaN das colunas na lista l_mc_1 (mediana):
def trata_l_mc_1(df):
    l_mc_1 = ['mc1','mc2','mc3']
    df['l_mc_1_mv'] = 0
    df['l_mc_1_mv'][df['mc1'].isna()] = 1
    for i in l_mc_1:
        mediana = df[i].median()
        df[i].fillna(value = mediana, inplace=True)
    return df

Grupo l_md_1

In [ ]:
df_total['mc4'].describe()

count   12033.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         1.0
Name: mc4, dtype: float64

In [ ]:
for i in ['md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12','mc1','mc2','mc3','mc4']:
    print(i,len(df_total[i].unique()),df_total[i].max())

md1 9597 1.0
md2 11961 1.0
md3 11961 1.0000000000000002
md4 8901 1.0
md5 6107 1.0
md6 412 1.0
md7 11966 1.0
md8 11964 1.0
md9 9024 1.0
md10 6276 1.0
md11 370 1.0
md12 11966 1.0
mc1 10834 1.0
mc2 1632 1.0
mc3 8924 1.0
mc4 11413 1.0

In [64]:
# função:
def cria_colunas_o(df):
    df[['md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md6_o', 'md7_o', 'md8_o',
       'md9_o', 'md10_o', 'md11_o', 'md12_o','mc1_o','mc2_o','mc3_o','mc4_o']] = df[['md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12','mc1','mc2','mc3','mc4']].copy()
    return df

In [ ]:
len(df_total.columns)

82

In [41]:
# NÃO USAR:
# trata os outliers das colunas criadas com a função cria_colunas_o(df):

def trata_outliers(df):
    l_mc_outliers = ['md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md6_o',
                     'md7_o', 'md8_o', 'md9_o', 'md10_o', 'md11_o', 'md12_o',
                     'mc1_o','mc2_o','mc3_o','mc4_o']
    for i in l_mc_outliers:
        q1 = np.percentile(df[i],25)
        q3 = np.percentile(df[i],75)
        iqr = q3 - q1
        lim_inf = q1 - 1.5 * iqr
        lim_sup = q3 + 1.5 * iqr
        df[i][df[i] < lim_inf] = lim_inf
        df[i][df[i] > lim_sup] = lim_sup
    return df

In [65]:
# NÃO USAR:

def f_normaliza(df_norm):
    #print(df_norm.type)
    from sklearn.preprocessing import StandardScaler
    from sklearn.preprocessing import MinMaxScaler
    modelo = MinMaxScaler()
    #df_norm = df_norm.reshape(-1, 1) 
    df_norm= modelo.fit_transform(df_norm)
    return df_norm

In [66]:
# NÃO USAR:
l_mc_outliers = ['md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md6_o',
                 'md7_o', 'md8_o', 'md9_o', 'md10_o', 'md11_o', 'md12_o',
                 'mc1_o','mc2_o','mc3_o','mc4_o']
def f_trata_col(df):
    for i in l_mc_outliers:
        q1 = np.percentile(df[i],25)
        q3 = np.percentile(df[i],75)
        iqr = q3 - q1
        lim_inf = q1 - 1.5 * iqr
        lim_sup = q3 + 1.5 * iqr
        df[i][df[i] < lim_inf] = lim_inf
        df[i][df[i] > lim_sup] = lim_sup
    df[l_mc_outliers] = f_normaliza(df[l_mc_outliers])
    for i in l_mc_outliers:
        if df[i][df[i] == 0].shape == df[i].shape or df[i][df[i] == 1].shape == df[i].shape:
            df = df.drop(columns = i)
    df['rf2'] = df['rf2'].astype('category')
    df['cnae2'] = df['cnae2'].astype('category')
    df['cnae_secao'] = df['cnae_secao'].astype('category')
    #df = pd.get_dummies(df)
    return df

In [46]:
df_total = f_trata_col(df_total)

In [68]:
cria_cnae_secao(df_total)
trata_l_ind_1(df_total)
trata_l_ind_2(df_total)
trata_l_mc_1(df_total)
df_total = cria_colunas_o(df_total)
df_total = f_trata_col(df_total)

In [69]:
df_total.shape

(12033, 79)

In [49]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12033 entries, 0 to 8582
Data columns (total 79 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cnae2       12033 non-null  category
 1   rf2         12033 non-null  category
 2   md1         12033 non-null  float64
 3   md2         12033 non-null  float64
 4   md3         12033 non-null  float64
 5   md4         12033 non-null  float64
 6   md5         12033 non-null  float64
 7   md6         12033 non-null  float64
 8   md7         12033 non-null  float64
 9   md8         12033 non-null  float64
 10  md9         12033 non-null  float64
 11  md10        12033 non-null  float64
 12  md11        12033 non-null  float64
 13  md12        12033 non-null  float64
 14  mc1         12033 non-null  float64
 15  mc2         12033 non-null  float64
 16  mc3         12033 non-null  float64
 17  mc4         12033 non-null  float64
 18  ind01       12033 non-null  float64
 19  ind02       12033 non-null  float64
 20  ind03       12033 non-null  float64
 21  ind04       12033 non-null  float64
 22  ind05       12033 non-null  float64
 23  ind06       12033 non-null  float64
 24  ind07       12033 non-null  float64
 25  ind08       12033 non-null  float64
 26  ind09       12033 non-null  float64
 27  ind10       12033 non-null  float64
 28  ind11       12033 non-null  float64
 29  ind12       12033 non-null  float64
 30  ind13       12033 non-null  float64
 31  ind14       12033 non-null  float64
 32  ind15       12033 non-null  float64
 33  ind16       12033 non-null  float64
 34  ind17       12033 non-null  float64
 35  ind18       12033 non-null  float64
 36  ind19       12033 non-null  float64
 37  ind20       12033 non-null  float64
 38  ind21       12033 non-null  float64
 39  ind22       12033 non-null  float64
 40  ind23       12033 non-null  float64
 41  ind24       12033 non-null  float64
 42  ind25       12033 non-null  float64
 43  ind26       12033 non-null  float64
 44  ind27       12033 non-null  float64
 45  ind28       12033 non-null  float64
 46  ind29       12033 non-null  float64
 47  ind30       12033 non-null  float64
 48  ind31       12033 non-null  float64
 49  ind32       12033 non-null  float64
 50  ind33       12033 non-null  float64
 51  ind34       12033 non-null  float64
 52  ind35       12033 non-null  float64
 53  ind36       12033 non-null  float64
 54  ind37       12033 non-null  float64
 55  ind38       12033 non-null  float64
 56  ind39       12033 non-null  float64
 57  ind40       12033 non-null  float64
 58  ind41       12033 non-null  float64
 59  ind42       12033 non-null  float64
 60  ind43       12033 non-null  float64
 61  target      11033 non-null  object
 62  cnae_secao  12033 non-null  category
 63  l_ind_1_mv  12033 non-null  int64
 64  l_ind_2_mv  12033 non-null  int64
 65  l_mc_1_mv   12033 non-null  int64
 66  md1_o       12033 non-null  float64
 67  md2_o       12033 non-null  float64
 68  md3_o       12033 non-null  float64
 69  md4_o       12033 non-null  float64
 70  md5_o       12033 non-null  float64
 71  md7_o       12033 non-null  float64
 72  md8_o       12033 non-null  float64
 73  md9_o       12033 non-null  float64
 74  md10_o      12033 non-null  float64
 75  md12_o      12033 non-null  float64
 76  mc1_o       12033 non-null  float64
 77  mc3_o       12033 non-null  float64
 78  mc4_o       12033 non-null  float64
dtypes: category(3), float64(72), int64(3), object(1)
memory usage: 7.1+ MB

In [70]:
df_total.columns

Index(['cnae2', 'rf2', 'md1', 'md2', 'md3', 'md4', 'md5', 'md6', 'md7', 'md8',
       'md9', 'md10', 'md11', 'md12', 'mc1', 'mc2', 'mc3', 'mc4', 'ind01',
       'ind02', 'ind03', 'ind04', 'ind05', 'ind06', 'ind07', 'ind08', 'ind09',
       'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15', 'ind16', 'ind17',
       'ind18', 'ind19', 'ind20', 'ind21', 'ind22', 'ind23', 'ind24', 'ind25',
       'ind26', 'ind27', 'ind28', 'ind29', 'ind30', 'ind31', 'ind32', 'ind33',
       'ind34', 'ind35', 'ind36', 'ind37', 'ind38', 'ind39', 'ind40', 'ind41',
       'ind42', 'ind43', 'target', 'cnae_secao', 'l_ind_1_mv', 'l_ind_2_mv',
       'l_mc_1_mv', 'md1_o', 'md2_o', 'md3_o', 'md4_o', 'md5_o', 'md7_o',
       'md8_o', 'md9_o', 'md10_o', 'md12_o', 'mc1_o', 'mc3_o', 'mc4_o'],
      dtype='object')

In [71]:
df_t = df_total.copy()

In [72]:
df_t.drop(['cnae2','rf2','ind29', 'ind30', 'ind33', 'ind40','ind41'],axis=1, inplace=True)

In [73]:
df_t

           md1       md2       md3  ...     mc1_o     mc3_o     mc4_o
id                                  ...
0     0.090339  0.011256  0.111095  ...  1.000000  0.044187  1.000000
1     0.005996  0.019476  0.124770  ...  0.807546  1.000000  1.000000
2     0.000006  0.002902  0.110160  ...  0.003804  0.015874  0.062344
3     0.000009  0.014526  0.120351  ...  0.111085  0.013452  0.034155
4     0.000191  0.004042  0.111078  ...  0.487878  1.000000  0.214273
...        ...       ...       ...  ...       ...       ...       ...
8609  0.000000  0.001109  0.109456  ...  0.029202  0.000000  0.033027
3384  0.000349  0.002435  0.110167  ...  1.000000  1.000000  1.000000
8297  0.008200  0.006795  0.112855  ...  0.324917  0.082238  0.253791
7556  0.036538  0.017085  0.121296  ...  1.000000  0.311687  0.458007
8582  0.010753  0.016297  0.121228  ...  0.181070  0.038098  0.271064

[12033 rows x 72 columns]

In [75]:
df_t = pd.get_dummies(df_t)

In [77]:
df_t.shape

(12033, 91)

In [78]:
train_3 = df_t[0:11033]
test_3 = df_t[11033:]

In [79]:
train_3.to_csv('train_3.csv',index = True, sep = ',')
test_3.to_csv('test_3.csv',index = True, sep = ',')